body {
    font-family: 'Montserrat';
}
.row.top-header .container {
    padding-top : 2px;
}
.row.top-header .left-column strong a {
    border-right: 1px solid;
    padding: 0 10px;
}
.row.top-header .left-column strong a:nth-last-child(1) {
    border-right: transparent;
}

.navbar-nav li a {
    text-transform: uppercase;
    font-size: 12px !important;
}

.top-menu-left {
    padding-right: 10px;
}