		</div>
	</div>
</div>
<div class="container">
	<div class="padding-tb-med corporate-customers">
		<p class="corporate-title">Some of Our Corporate <strong>Customers</strong></p>
		<div class="corporate-img">
			<img src="[%ntheme_asset%]img/westpac.jpg[%/ntheme_asset%]" alt="westpac"/>
		</div>
		<div class="corporate-img">
			<img src="[%ntheme_asset%]img/allianz.jpg[%/ntheme_asset%]" alt="allianz"/>
		</div>
		<div class="corporate-img">
			<img src="[%ntheme_asset%]img/hbo.jpg[%/ntheme_asset%]" alt="hbo"/>
		</div>
		<div class="corporate-img">
			<img src="[%ntheme_asset%]img/qantas.jpg[%/ntheme_asset%]" alt="qantas"/>
		</div>
		<div class="corporate-img">
			<img src="[%ntheme_asset%]img/selleys.jpg[%/ntheme_asset%]" alt="selleys"/>
		</div>
		<div class="corporate-img">
			<img src="[%ntheme_asset%]img/american-express.jpg[%/ntheme_asset%]" alt="american express"/>
		</div>
		<div class="corporate-img">
			<img src="[%ntheme_asset%]img/citibank.jpg[%/ntheme_asset%]" alt="citibank"/>
		</div>
		<div class="corporate-img">
			<img src="[%ntheme_asset%]img/samsung.jpg[%/ntheme_asset%]" alt="samsung"/>
		</div>
	</div><!-- close row -->
</div>
[%if [@config:current_page_type@] eq 'product' || [@config:current_page_type@] eq 'category' || [@config:current_page_type@] eq 'content' %]
<div class="row wrapper-footer-top padding-tb-big">
	<div class="container">
		
		
		[%advert type:'text' category:'0' template:'' limit:'3' ad_group:'footerTop'%]
			[%param *header%]
				<div class="row">
			[%/param%]
			[%param *body%]
			[%if [@count@] == 0%]
				<div class="col-12 col-sm-6 col-md-4 testimonials [@count@]">
					<h2>[@headline@]</h2>
					<div id="testim_carousel" class="carousel slide footer-testi">
						<div class="carousel-inner">
							<div id="0" class="item active">
								<p></p><p>
									[%url_decode%]
										[%url_encode%]
											[@description@]
										[%/url_encode%]
									[%/url_decode%]
								</p><p></p>
								<strong>[@linktext@]</strong>
								<a href="/view/testimonials/261">See more testimonials</a>
							</div>
						</div>				
					</div>
				</div>
			
			[%elseif [@count@] == 1%]
			
				<div class="col-12 col-sm-6 col-md-4 about-us [@count@]">
					<h2>[@headline@]</h2>
					<p>
					[%url_decode%]
						[%url_encode%]
							[@description@]
						[%/url_encode%]
					[%/url_decode%]
					</p>
				</div>
			
			
			[%elseif [@count@] == 2%]
			
				<div class="col-12 col-sm-12 col-md-4 gift-boxes [@count@]">
					<h2>[@headline@]</h2>
					<p>
					[%url_decode%]
						[%url_encode%]
							[@description@]
						[%/url_encode%]
					[%/url_decode%]
					</p>
				</div>
			
			[%/if%]
			
			[%/param%]
			[%param *footer%]
				</div>
			[%/param%]
		[%/advert%]
	</div>
</div>
[%/if%]
<div class="row padding-tb-small wrapper-footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="col-12 padding-tb-small text-center phone">
					<i class="fa fa-phone"></i> <span>1300 459 452</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 padding-t-small">
				<p class="footer-text">
					Copyright &copy; [%format type:'date' format:'#Y'%]today[%/format%] [@config:company_name@]<br/>
					[%if [@config:company_abn@]%]ABN: [@config:company_abn@][%/ if%]
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Required Neto Scripts - DO NOT REMOVE -->
[%cdn_asset html:'1' type:'js' library:'jquery' version:'1.11.3'%]jquery.min.js[%/cdn_asset%]
[%cdn_asset html:'1' type:'js' library:'fancybox' version:'2.1.5'%]jquery.fancybox.pack.js[%/cdn_asset%]
[%NETO_JS html:'1' id:'main' /%]
[%cdn_asset html:'1' type:'js' library:'bootstrap' version:'3.3.6'%]bootstrap.min.js[%/cdn_asset%]
<script type="text/javascript" src="[%ntheme_asset%]js/custom.js?1234[%/ntheme_asset%]"></script>
[%cdn_asset html:'1' type:'js' library:'jquery_ui' version:'1.11.1'%]js/jquery-ui-1.8.18.custom.min.js[%/cdn_asset%]
[%SITE_VALUE id:'footer_javascript' type:'load'/%]
<!-- Analytics -->
[%load_template file:"trackingcode/VisitorTracking.html"/%]
<!-- Dynamic Converter -->
<script language="JavaScript" type="text/javascript">
	function dc_ld(){ var dc_dlay = document.createElement("script"); dc_dlay.setAttribute('type', 'text/javascript'); dc_dlay.setAttribute('language', 'javascript'); dc_dlay.setAttribute('id', 'dcdlay'); dc_dlay.setAttribute("src", "http"+(window.location.protocol.indexOf("https:")==0?"s://converter":"://converter2")+".dynamicconverter.com/accounts/12/12914"+"."+"js"); document.getElementsByTagName("head")[0].appendChild(dc_dlay); } setTimeout('dc_ld()',10);
</script>
<script type="text/javascript"  src="//s3.amazonaws.com/cdn.barilliance.com/thehamperemporium.com.au/cbar.js.php" async></script>
<a href="http://dynamicconverter.com" style="display: none;">Multi-currency display</a>

<!-- Dynamic Converter override, to remove the "AU" text if the customer chooses Australia -->
<span override="display_iso_format:AUD=9[comma]." id="page_overrides"></span>
<div class="npopup" style=""> <a href="javascript:void(0);" class="npopup-btn-close"></a>
	<div class="npopup-body">
	</div>
</div>
<div class="nactivity"></div>
</body>
</html>
