[%SITE_VALUE id:'footer_javascript'%]
<script type="text/javascript" src="[%NETO_JS id:'checkout'%][%END NETO_JS%]"></script>
<script type="text/javascript" language="javascript">
$(document).ready(function() {
	$.checkout_Init({
		'voucher': {
                    'show_text': '+ Gift voucher? Click here',
                    'hide_text': '- Hide Voucher Entry'
                }
	});
	$.postcode_selectorInit({
		'id':'ship_selector',
		'country_id':'ship_country',
		'city_id':'ship_city',
		'state_id':'ship_state',
		'zip_id':'ship_zip',
		'page' : {
			'header': '<div class="_sh_post_sel"><ul>',
			'body': '<li><a href="javascript:##script##">##zip## - ##city##</a></li>',
			'footer': '</ul></div>'
		},
		'fns': {
			'onChange' : function () {
				var tparam = $.getCheckoutCache();
				var loc = {'addr_id': 0 };
				if(tparam['address_fields']) {
					var pf = tparam['ship_id'];
					for(var k in tparam['address_fields']) {
						var oid = pf+tparam['address_fields'][k];
						var fld = $('#'+oid);
						if(fld.length>0) {
							loc['ship_'+k] = fld.val();
						}
					}
				}
				var chk = $('input[name="ship_mode"][value="s"]').attr('checked');
				if(chk) { $.checkout_CalShipping(loc); }
			}

		}
	});
	$.postcode_selectorInit({
		// 'id':'bill_selector',
		'country_id':'bill_country',
		'city_id':'bill_city',
		'state_id':'bill_state',
		'zip_id':'bill_zip',
		'page' : {
			'header': '<div class="_sh_post_sel"><ul>',
			'body': '<li><a href="javascript:##script##">##zip## - ##city##</a></li>',
			'footer': '</ul></div>'
		},
		'fns': {
			'onChange' : function () {
				var tparam = $.getCheckoutCache();
				var loc = {};
				if(tparam['address_fields']) {
					var pf = tparam['bill_id'];
					for(var k in tparam['address_fields']) {
						var oid = pf+tparam['address_fields'][k];
						var fld = $('#'+oid);
						if(fld.length>0) {
							loc['bill_'+k] = fld.val();
						}
					}
				}
				var chk = $('input[name="ship_mode"][value="b"]').attr('checked');
				if(chk) { $.checkout_CalShipping(loc); }
			}
		}
	});
	$("#_cpy_checkout_form").submit(function(){
		shipVal = jQuery('input:radio[name=ship_mode]:checked').val();
		if(shipVal == 's') {
			$("#bill_street1").val($("#ship_street1").val());
			$("#bill_city").val($("#ship_city").val());
			//$("#bill_zip").val($("#ship_zip").val());
			$("#bill_state").val($("#ship_state").val());
		}
	});
	var checkDelivery = function(){
		var nDeliveryTime = $('.nShippingOption:checked').attr('data-deliverydays');
		if (nDeliveryTime == '0'){
			$('[id^="delivery_picker"]').each(function () {
				// $(this).val('');
				var id = $(this).attr("id").replace("delivery_picker","");
				if($(this).datepicker) {
					$(this).datepicker("setDate", '');
				}
				$("#delivery_date"+id).val('');
				$("#delivery_date"+id).removeClass('white');
			});
			$('.deliver--asap').click();
			$('#del-date').val('asap');
			$('._delivery_select').hide();
		}else {
			$('._delivery_select').show();
			$('[id^="delivery_picker"]').each(function () {
				var id = $(this).attr("id").replace("delivery_picker","");
				$("#delivery_date"+id).addClass('white');
			});
		}
	}
	checkDelivery();
	$('.address-popup').click(function(e){
		e.preventDefault();
		var bulletedList = '<ul><li>If sending to a business address, the company name must be included</li><li>If sending to a PO Box or Parcel Locker, ensure that the words "PO Box" or "Parcel Locker" are included in the first address field so that your order is sent with the correct courier - if it is sent with the incorrect courier and your parcel is returned to us due to an incomplete address, a redelivery fee will apply</li><li>If sending to a hospital, please include as much information as possible about the patient - ward, level, room/bed number etc</li></ul>';
		$.nPopupBox(bulletedList,{'has-close-btn' : true,'has-overlay' : true});
	});
	$('.ship-postal').click(function(e){
		e.preventDefault();
		var bulletedList = '<div id="ship-postal">An Australian postcode is made up of a <strong>4-digit number</strong> (without letters). Once you enter a valid postcode, you will be able to select from the drop-down list of suburbs.</div>';
		$.nPopupBox(bulletedList,{'has-close-btn' : true,'has-overlay' : true});
	});
	setTimeout(function(){
	  $("#ship_state_sel").prop("disabled", "disabled");
	}, 3000);
	$('#_cpy_paysel').change(function() {
		if($(this).val() == '7'){
			$('#ddtext').show();
		}else{
			$('#ddtext').hide();
		}
	});
	$(window).unload(function() {
		var selDate = $('#delivery_date0').val();
		createCookie('deliveryDate',selDate);
	});
	//console.log(readCookie('deliveryDate'));
	selectedDate = readCookie('deliveryDate');
	/*if ( selectedDate != '' ) {
		$('.deliver--later').click();
		$('#delivery_date0').val(selectedDate);
	}*/
	
	// Is multiple address checked
	if($('input[name="ship_mode"][value="m"]:checked').length){$('#mul-adr').val('yes');}
	$('._shipping_choice ').on('change', 'input[name="ship_mode"]', function(){
		var optChecked = $('input[name="ship_mode"][value="m"]:checked').length;
		if(optChecked){$('#mul-adr').val('yes');}else{$('#mul-adr').val('');}
	});
	
});
	// Popup with delivery info
	function delivery_popup(){
		$('.delivery-popup').click(function(e){
			e.preventDefault();
			var bulletedList = '<div id="delivery"> Please include any important information for our helpful couriers (eg. leave with reception on level 1, buzz number 9 and go through the gate on the right etc). Please note that our couriers are unable to call recipients regarding the delivery.</div>';
			$.nPopupBox(bulletedList,{'has-close-btn' : true,'has-overlay' : true});
		});
	}
	// Always show calendar
	function showCalendar() {
		$('.theDeliveryPicker').show();
	}
	/*  added by Dusan 20170829 - check if ASAP is selected to disable date picker */
	/*function ifAsapSelected() {
		if ($('.preferred-date-sel .deliver--asap').is(':checked'))
			$(this).parent('#checkout_shipping').addClass('ui-datepicker-unselectable ui-state-disabled asaped');
		else 
			$(this).parent('#checkout_shipping').removeClass('ui-datepicker-unselectable ui-state-disabled asaped');
	}*/
	/* end added by Dusan  */
	function checkoutShippingCheck () {
		//$('#checkout_shipping').on('change', '.preferred-date-sel input', function(){
		$('.preferred-date-sel input').change(function(){
			theVal = $(this).val();
			if (theVal == 'asap'){
				//$(this).parents('._cpy_comment').find('.theDeliveryPicker').hide('slow');
				$('[id^="delivery_picker"]').each(function () {
					var id = $(this).attr("id").replace("delivery_picker","");
					// $(this).val('');
					if($(this).datepicker) {
						$(this).datepicker("setDate",null);
					}
					$('.ui-datepicker-calendar td:not(.ui-state-disabled)').each(function(){
						$(this).addClass('ui-datepicker-unselectable ui-state-disabled asaped');
					});
					$('.hasDatepicker .ui-corner-all:not(.ui-state-disabled)').each(function(){
						$(this).addClass('ui-state-disabled asaped');
					}); 
					$("#delivery_date"+id).val('');
					$("#delivery_date"+id).removeClass('white');
				});
				$('#del-date').val('asap');
				$('._delivery_select').hide();
			} else {
				//$(this).parents('._cpy_comment').find('.theDeliveryPicker').show('slow');
				$('.ui-datepicker-calendar td.asaped').each(function(){
					$(this).removeClass('ui-datepicker-unselectable ui-state-disabled asaped');
				});
				$('.hasDatepicker .ui-corner-all.asaped').each(function(){
					$(this).removeClass('ui-state-disabled asaped');
				});
				$('#del-date').val('');
				$('._delivery_select').show();
				$(".ui-datepicker-current-day a").click();
				$('[id^="delivery_picker"]').each(function () {
					var id = $(this).attr("id").replace("delivery_picker","");
					$("#delivery_date"+id).addClass('white');
				});
			}
		});
	}
	// Check if asap should be pre-selected
	function isAsapPreSelected(){
		if ( selectedDate && selectedDate != '' ) {
			$('.deliver--later').click();
			$('#delivery_date0').val(selectedDate);
			$('.hasDatepicker').datepicker("setDate", selectedDate);
			$('[id^="delivery_picker"]').each(function () {
				var id = $(this).attr("id").replace("delivery_picker","");
				$("#delivery_date"+id).addClass('white');
			});
		/*} else if ( $('#delivery_date0').val() != '' ) {
			$('.deliver--later').click();
			$('#delivery_date0').val($('#delivery_date0').val());
			$('.hasDatepicker').datepicker("setDate", $('#delivery_date0').val());*/
		} else {
			$('.deliver--asap').click();
			$('[id^="delivery_picker"]').each(function () {
				var id = $(this).attr("id").replace("delivery_picker","");
				$("#delivery_date"+id).val('');
				$("#delivery_date"+id).removeClass('white');
			});
			$('.ui-datepicker-calendar td:not(.ui-state-disabled)').each(function(){
				$(this).addClass('ui-datepicker-unselectable ui-state-disabled asaped');
			}); 
			$('.hasDatepicker .ui-corner-all:not(.ui-state-disabled)').each(function(){
				$(this).addClass('ui-state-disabled asaped');
			}); 
			$('#del-date').val('asap');
			$('._delivery_select').hide();
		}
	}
	// After changing shipping option check if asap selected
	function changeShippingOptionCalendarDisable () {
		$('.shipping-option').change(function() {
			setTimeout(function(){
				if ($('.preferred-date-sel .deliver--asap').is(':checked')){
					$('.ui-datepicker-calendar td:not(.ui-state-disabled)').each(function(){
						$(this).addClass('ui-datepicker-unselectable ui-state-disabled asaped');
					});
					$('.hasDatepicker .ui-corner-all:not(.ui-state-disabled)').each(function(){
						$(this).addClass('ui-state-disabled asaped');
					}); 
					$('#del-date').val('asap');
					$('._delivery_select').hide();
					//$('.select-date').val('');
					$('[id^="delivery_picker"]').each(function () {
						var id = $(this).attr("id").replace("delivery_picker","");
						$("#delivery_date"+id).val('');
						$("#delivery_date"+id).removeClass('white');
					});
				}
				checkShippingOption();
				checkoutShippingCheck();
			},50);
		});
		checkShippingOption();
	}
	function checkShippingOption() {
		// Remove "On later date" for some shipping options
		if($('.shipping-option:checked').val() == 41 || $('.shipping-option:checked').val() == 21 || $('.shipping-option:checked').val() == 59 || $('.shipping-option:checked').val() == 61 ) {
			$('.preferred-date-sel.del-later').hide();
			$('.deliver--asap').click();
		} else {
			$('.preferred-date-sel.del-later').show();
		}
	}
	// load_ajax_template override bcs tryathome
	$.extend({
		 load_ajax_template: function(id, input, fns) {
            var fn = 'ajax_template';
            var prefix = '_jstl_';
            var ids = id.split(",");
            $.each(ids, function(ind, val) {
                val = prefix + val;
                var esc_id = $.escape_reserved(val);
                if (!(input instanceof Object)) {
                    input = {};
                }
                var haschild = false;
                var chtmpls = {};
                if (input['child_templates'] && input['child_templates']instanceof Array) {
                    var charr = input['child_templates'];
                    for (var i = 0; i < charr.length; i++) {
                        if (charr[i] != '') {
                            var cid = prefix + charr[i];
                            var esc_cid = $.escape_reserved(cid);
                            $('#' + esc_cid + ' [id^="' + esc_cid + '_k"]:input').each(function() {
                                var key = $(this).val();
                                if (key == 'template') {
                                    var vid = $(this).attr('id').replace(cid + '_k', '');
                                    var vobj = $('#' + esc_cid + ' [id^="' + esc_cid + '_v' + vid + '"]:input');
                                    chtmpls[vobj.val()] = charr[i];
                                    haschild = true;
                                }
                            });
                        }
                    }
                }
                if (input['showloading']) {
                    $.show_div_loading(val);
                }
                var param = {
                    'proc': 'load',
                    'docid': val
                };
                var fields = {};
                $('#' + esc_id + ' [id^="' + esc_id + '_k"]:input').each(function() {
                    var vid = $(this).attr('id').replace(val + '_k', '');
                    var key = $(this).val();
                    if (key != '') {
                        var vobj = $('#' + esc_id + ' [id^="' + esc_id + '_v' + vid + '"]:input');
                        var val2 = vobj.val();
                        if (typeof val2 != 'undefined') {
                            if (key == 'type' || key == 'template') {
                                param[key] = val2;
                            } else {
                                fields[key] = val2;
                            }
                        }
                    }
                });
                if (input instanceof Object) {
                    for (var k in input) {
                        if (k == 'child_templates') {} else if (k == 'loaddata' || k == 'procdata') {
                            param[k] = input[k];
                        } else if (k != 'noloading') {
                            if (input[k]instanceof Array || input[k]instanceof Object) {
                                fields[k] = input[k];
                            } else {
                                var tof = typeof input[k];
                                if (tof == 'number' || tof == 'string') {
                                    fields[k] = input[k];
                                } else if (tof == 'boolean') {
                                    fields[k] = (input[k] ? 'y' : 'n');
                                }
                            }
                        }
                    }
                }
                if (!(fns instanceof Object)) {
                    fns = {};
                }
                param['fields'] = fields;
                if (haschild) {
                    param['child_templates'] = chtmpls;
                }
                if (typeof (fns['onStart']) == 'function') {
                    fns['onStart']();
                }
                $.do_ajax(fn, param, true, {
                    'SUCCESS': {
                        'def': {
                            'content': '',
                            'template': '',
                            'child_contents': {}
                        },
                        'fn': function(code, data) {
                            var hasfn = false;
                            if (typeof (fns['onReady']) == 'function') {
                                fns['onReady'](data['content']);
                                hasfn = true;
                            }
                            if (data['template'] != '') {
                                if (!hasfn) {
                                    var tmplobj = $("#" + esc_id + "_r");
                                    tmplobj.html(data['content']);
                                    if ($.isMobileView()) {
                                        tmplobj.trigger('create');
                                    }
                                    for (var cid in chtmpls) {
                                        if (data['child_contents'][cid]) {
                                            var pcid = prefix + chtmpls[cid];
                                            var esc_cid = $.escape_reserved(pcid);
                                            var ctmplobj = $("#" + esc_cid + "_r");
                                            ctmplobj.html(data['child_contents'][cid]);
                                            if ($.isMobileView()) {
                                                ctmplobj.trigger('create');
                                            }
                                        }
                                    }
                                }
                            }
                            if (typeof (fns['onLoad']) == 'function') {
                                fns['onLoad'](data['content']);
                            }
                            $.remove_div_loading(val);
							if(esc_id == '_jstl_shipping_options'){
								showCalendar();
								isAsapPreSelected();
								changeShippingOptionCalendarDisable();
								checkoutShippingCheck();
								delivery_popup();
							}
							changePromoButton();
                        }
                    },
                    'FAIL': {
                        'def': {
                            'msg': ''
                        },
                        'fn': function(code, data) {
                            var msg = '';
                            if (data['msg']) {
                                msg = $.parse_ntemplate(data['msg']);
                            }
                            if (typeof (fns['onFail']) == 'function') {
                                fns['onFail'](msg);
                            }
                            $.remove_div_loading(val);
                        }
                    },
                    'ERROR': {
                        'def': {
                            'response': ''
                        },
                        'fn': function(code, data) {
                            if (typeof (fns['onError']) == 'function') {
                                fns['onError'](data['response']);
                            }
                        }
                    }
                });
            });
        }
	});
	
	/* submit two forms (subscribe and checkout) */  
	$('#_cpy_checkout_form').on('submit', function(event) {
		if($('#regoptin').is(':checked')) {
			event.preventDefault();
			var subscribeEmail = $('#bill_email').val();
			var subscribeName = $('#bill_first_name').val();
			$('#fieldName').val(subscribeName);
			$('#fieldEmail').val(subscribeEmail);
			
			// Serialize the form data.
			var formData = $('#subForm').serialize();
			$.ajax({
				type: "POST",
				url: $('#subForm').attr('action'),
				data: formData
			}).then(this.submit('#_cpy_checkout_form'));
		}
		else $('#_cpy_checkout_form').submit();
	});
</script>
<!-- Facebook pixel InitiateCheckout track -->
<script>
fbq('track','InitiateCheckout',{value:'[@grand_total@]',currency:'AUD',content_name:'checkout',content_category:'page',content_ids:[[%cart_items%][%PARAM *body%]"[@SKU@]",[%END PARAM%][%END cart_items%]],num_items:'[%format type:"number" dp:"0"%][%CART id:"total_items"%][%/CART%][%/format%]'});
</script>
[%END SITE_VALUE%]
<div class="col-xs-12">
<div class="row padding-t-small">
	<div class="_cpy_thirdparty_msg alert alert-info" ref="paypal"><i class="fa fa-spinner fa-spin"></i> You are now being redirected to the PayPal website to checkout.</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 text-left">
			<h1 class="checkout-heading"><i class="fa fa-lock" aria-hidden="true"></i> Secure Checkout</h1>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 text-right pull-right">
			<div class="payment-top-icons">
				[%IF [@config:SHOW_PAYPAL_EXPRESS_LINK@] || [@config:ALLOW_MASTERPASS_CHECKOUT@] %]
					[%IF [@config:SHOW_PAYPAL_EXPRESS_LINK@] %]
						<a class="_cpy_thirdparty_btn" ref="paypal" href="[%URL page:'checkout' fn:'3rdparty' qs:'payment=6'%][%END URL%]"><img src="[@config:imageurl@]/neto_checkout/btn_xpressCheckout.gif" border="0" alt="Checkout With Paypal"/></a> &nbsp;
					[%END IF%]
					[%IF [@config:ALLOW_MASTERPASS_CHECKOUT@] %]
						<a class="_cpy_thirdparty_btn" ref="masterpass" href="[%URL page:'checkout' fn:'3rdparty' qs:'payment=0&payproc=masterpass'%][%END URL%]">
							<img src="https://www.mastercard.com/mc_us/wallet/img/en/AU/mcpp_wllt_btn_chk_147x034px.png" border="0" alt="Buy With MasterPass">
						</a>
					[%END IF%]
				[%END IF%]
			</div>
		</div>
	</div>
	[%load_template file:"cart/cart.error.html"/%]
	[%IF [@processor_account@] ne '' %]
	<div class="alert alert-warning">
		<strong>Important! Your order is not yet complete.</strong>
		<p>Please confirm your billing and shipping details below and click the  &quot;Confirm &amp; Process Order&quot; button at the bottom of this page to complete your purchase.</p>
	</div>
	[%END IF%]
	[%IF [@processor_account@] eq '' %]
		[%USER id:'username' if:'eq' value:''%]
		<div class="row padding-b-small">
			<div class="col-xs-12 col-sm-6">
				<strong>Returning Customer? <a id="_cpy_login_link" href="javascript:void(0);">Login for <i>Express</i> Checkout</a></strong>
				<div id="_cpy_login_pl" style="[%FORM id:'login_username' if:'eq' value:''%]display:none;[%END FORM%]">
				[%load_ajax_template id:'login' type:'cart' template:'login' preload:"1"%][%END load_ajax_template%]
				</div>
			</div>
		</div>
		[%END USER%]
	[%END IF%]
</div>
<hr>
<div class="row padding-b-med">
	<div id="_cpy_checkout_pl">
		<form class="form-horizontal" method="post" id="_cpy_checkout_form" action="[%URL page:'checkout'%][%END URL%]">
			<!-- TODO: Designer - Pass Ribbon and Gift Card values to customer card -->
			<input type="hidden" name="user_misc9" value="[@customer_ref1@]" />
			<input type="hidden" name="user_misc10" value="[@customer_ref2@]" />
			<!-- TODO: Designer - Pass Ribbon and Gift Card values to order -->
			<input type="hidden" name="cusref1" value="[@customer_ref1@]" />
			<input type="hidden" name="cusref2" value="[@customer_ref2@]" />
			
			<!-- Misc delivery date -->
			<input type="hidden" name="cusref6" id="del-date" value=""/>
			<!-- Misc multiple address -->
			<input type="hidden" name="cusref7" id="mul-adr" value=""/>
		
			<input type="hidden" name="submited" id="submited" value="0" />
			<input type="hidden" name="fn" value="finalize" />
			<div class="col-xs-12 col-md-4 column column-1">
				<div class="_step">
					<div class="_step_no"><div class="step-label">Step</div> <span>1</span> </div>
					<div class="_step_desc padding-l-small"> Enter Your Details </div>
				</div>
				[%USER id:'valid_email' if:'==' value:'0'%]
				<div class="form-group">
					<label class="control-label col-xs-12" for="bill_email">
						Email Address
						<span class="small text-danger">*</span>
					</label>
					<div class="col-xs-12">
						<input type="email" autocorrect="off" autocapitalize="off" class="form-control" name="bill_email" id="bill_email" maxlength="50" value="[@email@]"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-12" for="confirm_email">
						Confirm Email Address
						<span class="small text-danger">*</span>
					</label>
					<div class="col-xs-12">
						<input type="email" class="form-control" autocorrect="off" autocapitalize="off" name="confirm_email" id="confirm_email" maxlength="50" value="[%NOHTML%][%FORM id:'confirm_email'%][%END FORM%][%END NOHTML%]" />
					</div>
				</div>
				[%END USER%]
				<div class="row">
					<div class="form-group half">
						<label class="control-label col-xs-12" for="bill_first_name">
							Your First Name
							<span class="small text-danger">*</span>
						</label>
						<div class="col-xs-12">
							<input type="text" class="form-control" name="bill_first_name" id="bill_first_name" maxlength="50" value="[@bill_first_name@]">
						</div>
					</div>
					<div class="form-group half">
						<label class="control-label col-xs-12" for="bill_last_name">
							Your Last Name
							<span class="small text-danger">*</span>
						</label>
						<div class="col-xs-12">
							<input type="text" class="form-control" name="bill_last_name" id="bill_last_name" maxlength="50" value="[@bill_last_name@]">
						</div>
					</div>
				</div>
				<div class="form-group hidden">
					<label class="control-label col-xs-12" for="bill_country">
						Country
						<span class="small text-danger">*</span>
					</label>
					<div class="col-xs-12">
						<select class="form-control" name="bill_country" id="bill_country">
							<option value="AU" selected="">Australia</option>
						</select>
					</div>
				</div>
				<div class="form-group hidden">
					<label class="control-label col-xs-12" for="bill_street1">
						Address
						<span class="small text-danger">*</span>
					</label>
					<div class="col-xs-12">
						<input class="form-control" type="text" name="bill_street1" id="bill_street1" maxlength="50" value="NA" />
					</div>
				</div>
				<div class="form-group hidden">
					<div class="col-xs-12">
						<input class="form-control" type="text" name="bill_street2" id="bill_street2" maxlength="50" value="NA" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-12" for="bill_zip">
						Your Postcode
						<span class="small text-danger">*</span>
					</label>
					<div style="display:none;">
						<div id="postal" style="width:600px;">An Australian postcode is made up of a <strong>4-digit number</strong> (without letters). Once you enter a valid postcode, you will be able to select from the drop-down list of suburbs.</div>
					</div>
					<div class="col-xs-12">
						<input class="form-control input-small" type="text" name="bill_zip" id="bill_zip" value="[@bill_zip@]" maxlength="10" />
					</div>
				</div>
				<div class="form-group hidden">
					<label class="control-label col-xs-12" for="bill_city">
						Suburb / City
						<span class="small text-danger">*</span>
					</label>
					<div class="col-xs-12">
						<div class="n-wrapper-form-control">
							<!--<span id="test-bill_selector"></span>-->
							<input type="text" id="bill_selector" size="50" maxlength="50" autocomplete="off" class="form-control" />
						</div>
						<input class="form-control" type="hidden" name="bill_city" id="bill_city" value="Sydney" maxlength="50"/>
					</div>
				</div>
				<div class="form-group hidden">
					<label class="control-label col-xs-12" for="bill_state">
						State
						<span class="small text-danger">*</span>
					</label>
					<div class="col-xs-12">
						<div class="n-wrapper-form-control"><span id="bill_state_pl" style="display:none;"></span></div>
						<input class="form-control"  type="text" name="bill_state" id="bill_state" value="NSW" size="50" maxlength="50" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-12" for="bill_phone">
						Your Phone Number
						[%IF [@CONFIG:CHECKOUT_IGNORE_SHIPPHONE@]%]
						[%else%]
						<span class="small text-danger">*</span>
						[%end IF%]
					</label>
					<div class="col-xs-12">
						<input class="form-control" type="tel" name="bill_phone" id="bill_phone" maxlength="50" value="[@bill_phone@]" />
					</div>
				</div>
				<div class="form-group subscription">
					<input class="terms_box" name="regoptin" id="regoptin" type="checkbox" value="Y" checked data-message=""/>
					<label class="control-label newsletter-label col-xs-12" for="regoptin">
						Subscribe for the latest news and offers
					</label>
				</div>
				<div class="_step padding-t-small no-margin-b">
					<div class="_step_desc">Enter Delivery Details </div>
				</div>
				<hr>
				<div id="_macart_ovl">
					<div class="_shipping_choice [%if [@total_items@] < 2 %] hidden [%/if%]">
						<div class="form-group">
							<label class="control-label col-xs-12">Ship Order To </label>
							<div class="col-xs-12">
								<div class="radio hidden">
									<label>
										<input name="ship_mode" value="b" type="radio" [%DATA id:'ship_mode' if:'eq' value:'b'%]checked[%END DATA%]/>
										My billing address
									</label>
								</div>
								<div class="radio">
									<label class="one-address">
										<!--<input name="ship_mode" value="s" type="radio" [%DATA id:'ship_mode' if:'eq' value:'s'%]checked[%END DATA%]/>-->
										<input name="ship_mode" value="s" type="radio" checked/>
										One Address
									</label>
								</div>
								[%CONFIG id:'MULTI_ADDR_CHECKOUT' if:'==' value:'1'%]
								<div class="radio">
									<label class="multiple-address">
										<!--<input name="ship_mode" value="m" type="radio" [%DATA id:'ship_mode' if:'eq' value:'m'%]checked[%END DATA%]/>-->
										<input name="ship_mode" value="m" type="radio" />
										Multiple addresses
									</label>
								</div>
								[%END CONFIG%]
							</div>
						</div>
					</div>
					<div id="shladb_pl">
						[%USER id:'username' if:'ne' value:''%]
						<div class="form-group">
							<label class="control-label col-xs-12" for="shladb_addr">Choose From Your Address Book</label>
							<div class="col-xs-12">
								<select class="form-control" id="shladb_addr">
									<option value=""></option>
									[%address_book%]
									[%PARAM *body%]
									[%if [@id@] ne 'b'%]<option value="[@id@]" [%DATA id:'id' if:'eq' value:'[@address_book@]'%]selected[%END DATA%]>[@ship_title@] ([@ship_zip@])</option>[%/if%]
									[%END PARAM%]
									[%END address_book%]
								</select>
							</div>
						</div>
						[%END USER%]
						<div class="row">
							<div class="form-group half">
								<label class="control-label col-xs-12" for="ship_first_name">Recipient First Name <span class="small text-danger">*</span></label>
								<div class="col-xs-12">
									<input  class="form-control"  type="text" name="ship_first_name" id="ship_first_name" maxlength="50" value="[@ship_first_name@]">
								</div>
							</div>
							<div class="form-group half">
								<label class="control-label col-xs-12" for="ship_last_name">Recipient Last Name <span class="small text-danger">*</span></label>
								<div class="col-xs-12">
									<input  class="form-control"  type="text" name="ship_last_name" id="ship_last_name" maxlength="50" value="[@ship_last_name@]">
								</div>
							</div>
						</div>
						<div class="form-group hidden">
							<label  class="control-label col-xs-12" for="ship_country">Country <span class="small text-danger">*</span></label>
							<div class="col-xs-12">
								<select  class="form-control"  name="ship_country" id="ship_country">
									<option value="AU" selected="">Australia</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label  class="control-label col-xs-12" for="ship_company">Company</label>
							<div class="col-xs-12">
								<input  class="form-control"  type="text" name="ship_company" id="ship_company" maxlength="50" value="[@ship_company@]">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-12" for="ship_street1">Delivery Address <span class="small text-danger">*</span> <em><a href="#" class="small address-popup">Is my address correct?</a></em></label>
							<div class="col-xs-12">
								<input  class="form-control"  type="text" name="ship_street1" id="ship_street1" maxlength="50" value="[@ship_street1@]" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<input  class="form-control"  type="text" name="ship_street2" id="ship_street2" maxlength="50" value="[@ship_street1@]" />
							</div>
						</div>
						<div class="form-group postcode">
							<label class="control-label col-xs-12" for="ship_zip">Postcode<span class="small text-danger">*</span> <span><em><a href="#" class="small ship-postal">What is this?</a></em></span></label>
							<div class="col-xs-12">
								<input class="form-control" type="text" name="ship_zip" id="ship_zip" value="[@ship_zip@]" maxlength="10"/>
							</div>
						</div>
						<div class="row">
							<div class="form-group half">
								<label class="control-label col-xs-12" for="ship_city">Suburb / City <span class="small text-danger">*</span></label>
								<div class="col-xs-12"> <div class="n-wrapper-form-control">
									<span id="ship_selector"></span>
									<input class="form-control" type="text" name="ship_city" id="ship_city" value="[@ship_city@]" maxlength="50"/>
								</div>
								</div>
							</div>
							<div class="form-group half">
								<label class="control-label col-xs-12" for="ship_state">State <span class="small text-danger">*</span></label>
								<div class="col-xs-12"><div class="n-wrapper-form-control"><span id="ship_state_pl" style="display:none;"></span></div>
								<input class="form-control" type="text" name="ship_state" id="ship_state" value="[@ship_state@]" size="50" maxlength="50" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-12" for="ship_phone">Recipient Phone Number <span class="small text-danger">*</span></label>
							<div class="col-xs-12">
								<input class="form-control" type="tel" name="ship_phone" id="ship_phone" maxlength="50" value="[@ship_phone@]" />
							</div>
						</div>
					</div>
				</div>
				<div id="_macart_pl">
				</div>
			</div>
			<!-- End Billing Address -->
			<!-- Start Shipping Address -->
			<div class="col-xs-12 col-md-4 column column-2">
				<div class="_step">
					<div class="_step_no"><div class="step-label">Step</div> <span>2</span></div>
					<div class="_step_desc padding-l-small"> Select Shipping Options </div>
				</div>
				<div id="checkout_shipping" class="checkout_items">
					[%load_ajax_template id:'shipping_options' type:'cart' template:'shipping_options' preload:"1"%][%END load_ajax_template%]
					[%DATA id:'order_type' if:'ne' value:'quote'%]
					[%PARAM if_true%]
					[%END PARAM%]
					[%PARAM if_false%]
					<input type="hidden" name="comment" value="" />
					[%END PARAM%]
					[%END DATA%]
					[%load_ajax_template id:'voucher_msg' type:'cart' template:'voucher_msg' preload:"1"%][%END load_ajax_template%]
					[%DATA id:'order_type' if:'eq' value:'sales'%]
					[%CONFIG id:'ALLOW_DROPSHIP_CHECKOUT' if:'=' value:'1'%]
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-4" for="dropshipping"> Send invoice with goods?</label>
						<div class="col-xs-12 col-sm-8">
							<div class="radio">
								<label>
									<input type="radio" name="dropshipping" value="1" [%DATA id:'dropshipping' if:'=' value:'1'%]checked[%END DATA%] />
									No </label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="dropshipping" value="0" [%DATA id:'dropshipping' if:'=' value:'0'%]checked[%END DATA%] />
									Yes </label>
							</div>
						</div>
					</div>
					[%END CONFIG%]
					[%END DATA%]
				</div>
			</div>
			<!-- End Shipping Method -->
			[%DATA id:'order_type' if:'ne' value:'quote'%]
			<!-- Start Payment -->
			<div class="col-xs-12 col-md-4 column secure-payment-wrapper">
				<div class="_step">
					<div class="_step_no"><div class="step-label">Step</div> <span>3</span> </div>
					<div class="_step_desc padding-l-small"> Secure Payment Details</div>
				</div>
				<!-- [%load_ajax_template id:'redeem_vouchers' type:'cart' template:'redeem_vouchers' preload:"1"%][%END load_ajax_template%] -->
				[%payment_methods type:'[@order_type@]'%]
				[%PARAM header%]
				<span class="hidden-md hidden-lg"><br></span>
				<ul class="list-inline text-center">
					[%END PARAM%][%PARAM *body%]
					[%DATA id:'name' if:'like' value:'American Express'%]
					<li><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
						<div class="payment-icon-container">
							<div class="payment-icon payment-icon-americanexpress"></div>
						</div>
					</a></li>
					[%END DATA%]
					[%DATA id:'name' if:'like' value:'Visa'%]
					<li><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
						<div class="payment-icon-container">
							<div class="payment-icon payment-icon-visa"></div>
						</div>
					</a>
				</li>
				[%END DATA%]
				[%DATA id:'name' if:'like' value:'Master Card'%]
				<li><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
					<div class="payment-icon-container">
						<div class="payment-icon payment-icon-mastercard"></div>
					</div>
				</a>
				</li>
				[%END DATA%]
				[%DATA id:'name' if:'like' value:'Discover'%]
				<li><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
					<div class="payment-icon-container">
						<div class="payment-icon payment-icon-discover"></div>
					</div>
				</a></li>
				[%END DATA%]
				[%DATA id:'name' if:'like' value:'Diners'%]
				<li><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
					<div class="payment-icon-container">
						<div class="payment-icon payment-icon-diners"></div>
					</div>
				</a></li>
				[%END DATA%]
				[%DATA id:'name' if:'like' value:'Cheque'%]
				<li><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
					<div class="payment-icon-container">
						<div class="payment-icon payment-icon-cheque"></div>
					</div>
				</a></li>
				[%END DATA%]
				[%DATA id:'name' if:'like' value:'Money Order'%]
				<li><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
					<div class="payment-icon-container">
						<div class="payment-icon payment-icon-moneyorder"></div>
					</div>
				</a></li>
				[%END DATA%]
				[%DATA id:'name' if:'like' value:'Direct Deposit'%]
				<li><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
					<div class="payment-icon-container">
						<div class="payment-icon payment-icon-directdeposit"></div>
					</div>
				</a></li>
				[%END DATA%]
				[%DATA id:'name' if:'like' value:'bpay'%]
				<li><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
					<div class="payment-icon-container">
						<div class="payment-icon payment-icon-bpay"></div>
					</div>
				</a></li>
				[%END DATA%]
				[%DATA id:'name' if:'like' value:'paypal'%]
				<li><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
					<div class="payment-icon-container">
						<div class="payment-icon payment-icon-paypal"></div>
					</div>
				</a></li>
				[%END DATA%]
				[%END PARAM%][%PARAM *footer%]
			</ul>

			[%END PARAM%]
			[%END payment_methods%]

			[%payment_plans type:'[@order_type@]' sortby:'sortorder,name'%]
			[%PARAM *header%]
			<div>
				<div id="_cpy_plan_pl"></div>
				[%END PARAM%]
				[%PARAM *body%]
				<input id="_cpy_plan_id[@count@]" type="hidden" value="[@id@]"/>
				<input id="_cpy_plan_name[@count@]" type="hidden" value="[@name@]"/>
				<input id="_cpy_plan_rec[@count@]" type="hidden" value="[@repeat_payments_only@]"/>
				<div ref="[@id@]" class="_cpy_plandesc">[@description@]</div>
				[%END PARAM%]
				[%PARAM *footer%]
			</div>
			[%END PARAM%]
			[%END payment_plans%]
			<div>
				<div class="n-wrapper-form-control"><div id="_cpy_payment_pl"></div></div>
				[%payment_methods type:'[@order_type@]' sortby:'sortorder,name'%]
				[%PARAM *body%]
				<input id="_cpy_payment_id[@count@]" type="hidden" value="[@id@]"/>
				<input id="_cpy_payment_type[@count@]" type="hidden" value="[@payment_desc_type@]"/>
				<input id="_cpy_payment_name[@count@]" type="hidden" value="[@name@]"/>
				<input id="_cpy_payment_rec[@count@]" type="hidden" value="[@repeat_pay@]"/>
				<input id="_cpy_payment_txt[@count@]" type="hidden" value="[%data id:'surcharge' if:'>' value:'0'%]([@surcharge@]% surcharge)[%END data%]"/>
				[%END PARAM%]
				[%END payment_methods%]
				<input type="hidden" id="payment" name="payment" value="[@payment_method@]"/>
				<!-- For Payment Plan Selection - Rental Orders -->
				<input type="hidden" id="plan" name="plan" value="1" />
				<!-- End For Payment Plan Selection -->
			</div>
			<div ref="card" class="_cpy_paydesc alert alert-info">
				[%IF [@processor_type@] eq ''%]
				<div class="col-xs-12">
					<div class="form-group">
						<label for="card_number">Card Number</label>
						<input class="form-control"  type="text" name="card_number" id="card_number" maxlength="16" value="" />
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label>Card Holder's Name</label>
						<input class="form-control"  type="text"  name="card_holder" maxlength="40" value="" />
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="form-group">
							<div class="col-xs-12">
								<label>Card Expiration Date</label>
							</div>
							<div class="col-xs-6">
								<select class="form-control col-xs-6"  id="card_exp_month" name="card_exp_month">
									<option value=""></option>
									[%months%][%PARAM *body%]
									<option class="input-small" value="[@month@]">[@month@]</option>
									[%END PARAM%][%END months%]
								</select>
							</div>
							<div class="col-xs-6">
								<select class="form-control"  name="card_exp_year">
									<option value=""></option>
									[%years from:'+0' to:'+10'%][%PARAM *body%]
									<option value="[@year@]">[@year@]</option>
									[%END PARAM%][%END years%]
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label>Card Security Code</label>
						<input type="text" name="card_ccid" class="form-control" />
						<span class="help-inline">3-4 digit security code (<a href="#ccv" id="card_ccv">What is this?</a>)</span>
					</div>
				</div>
				[%ELSE%]
				[%IF [@processor_type@] eq 'masterpass'%]
				<div><img src="https://www.mastercard.com/mc_us/wallet/img/en/AU/mcpp_wllt_btn_chk_147x034px.png" border="0" alt="Buy With MasterPass"></div>
				[%ELSE%]
				[@processor_type@]
				[%END IF%]
				<div class="col-xs-12">
					<div class="form-group">
						<label>Card Type</label>
						<p class="form-control-static">[@processor_card_brand@]</p>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label>Card Number</label>
						<p class="form-control-static">[@processor_card_number@] <a href="[%URL page:'checkout' fn:'3rdparty' qs:'payproc=&payclr=y'%][%END URL%]">(Change card)</a></p>
					</div>
				</div>
				[%IF [@processor_require_cvv@] eq 'y'%]
				<div class="col-xs-12">
					<div class="form-group">
						<label>Enter your [@processor_card_brand@] CCV</label>
						<input type="text" name="card_ccid" class="form-control" />
						<span class="help-inline">3-4 digit security code (<a href="#ccv" id="card_ccv">What is this?</a>)</span>
					</div>
				</div>
				<div class="clear"></div>
				[%END IF%]
				[%END IF%]
				<!-- Start Fancybox explanation of CCV -->
				<div style="display:none;">
					<div id="ccv" style="width:600px;"> For <b>Visa</b>, <b>MasterCard</b>, and <b>Discover cards</b>, the card security code is the last <b>3 digit</b> number located on the BACK of your card on or above your signature line. For an <b>American Express</b> card, it is the <b>4 digits</b> on the FRONT above the end of your card number. </div>
				</div>
				<div class="clear"></div>
			</div>
			<div id="ddtext" class="_cpy_paydesc alert alert-info" style="display:none;">When you submit this page, you will receive an order confirmation email with bank transfer details and how to inform us of your payment. Please note that 		orders will only be dispatched once the funds have cleared into the account.</div>
			<div ref="cheque" class="_cpy_paydesc alert alert-info"> The address to send your <span class="_cpy_payname">[@name@]</span> to will be provided after you confirm your order below. </div>
			<div ref="bank" class="_cpy_paydesc alert alert-info"> Our bank details will be provided after you confirm your order below. </div>
			<div ref="bpay" class="_cpy_paydesc alert alert-info"> When you submit this page, you will be given a Bpay biller
				code and a reference number. Please quote the numbers and call your
				participating financial institution to make a payment from your
				cheque, savings or credit card account. </div>
			<div ref="paypalexpress" class="_cpy_paydesc alert alert-info">
				[%DATA id:'paypal_payer_id' if:'eq' value:''%][%PARAM if_true%]
				When you submit this page, you will be redirected to the PayPal website to continue your PayPal Express Checkout.
				[%END PARAM%][%PARAM if_false%]
				When you submit this page, your paypal account or credit card will be debited.
				[%END PARAM%][%END DATA%]
			</div>
			<div ref="account" class="_cpy_paydesc alert alert-info"> Your [@config:company_name@] account will automatically be charged for the value of this order. </div>
			<div ref="other" class="_cpy_paydesc alert alert-info"> Our bank details will be provided after you confirm your order below. </div>
			[%load_ajax_template id:'redeem_vouchers' type:'cart' template:'redeem_vouchers' preload:"1"%][%END load_ajax_template%]
			<h3 class="balance-due-wrapper balance-due text-center padding-tb-small">Balance Due: <span class="_cpy_balancedue">[%format type:'currency'%][@grand_total@][%end format%]</span></h3>
			<p class="form-actions conf-button-checkout">
				<button type="submit" class="btn btn-success btn-lg btn-block"><i class="fa fa-lock" aria-hidden="true"></i>Confirm &amp; Process Order <i class="fa fa-chevron-right icon-white"></i></button>
			</p>
			</div>
			
			<div class="col-xs-12 col-md-4 secure-payment-wrapper padding-t-med">
			[%load_ajax_template id:'cart_items' type:'cart' template:'cart_items' preload:"1"%][%END load_ajax_template%]
			[%load_ajax_template id:'address' type:'cart' template:'address' preload:"0"%][%END load_ajax_template%]
			<div class="checkout-btn-wrapper">
				<a class="btn btn-default pull-right" href="[%url page:'checkout'%][%END url%]" title="Edit Order" rel="no-follow"><i class="fa fa-pencil"></i> Edit Order</a>
			</div>
			<div class="checkout-btn-wrapper">
				<a class="btn btn-default gift-card-btn" href="[%url page:'checkout'%][%END url%]&fn=upsell" title="Edit Gift Message(s)" rel="no-follow"><i class="fa fa-tag"></i> Edit Gift Card Message(s)</a>
			</div>
			<input name="grand_total" id="grand_total" type="hidden" value="[%CART id:'grand_total'%][%END CART%]"/>
			[%if [@config:checkout_req_agree_terms@] eq '1'%]
				<div class="modal fade" id="termsModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">Terms &amp; Conditions</h4>
							</div>
							<div class="modal-body">
								[%content_zone id:'terms'/%]
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<p>
					<input type="hidden" name="agreement" value="y">
					Agree To <a href="#" data-toggle="modal" data-target="#termsModal">Terms &amp; Conditions?</a>
					<input type="checkbox" name="agree" value="y" class="terms_box" [%if [@agree@]%]checked[%/if%] required/>
				</p>
			[%/if%]
			
			<!-- End Payment -->
		[%END DATA%]
		[%DATA id:'order_type' if:'eq' value:'quote'%]
		<p class="form-actions">
			<button id="_cpy_checkout_submit" type="button" class="btn btn-success btn-large pull-right"><i class="fa fa-lock" aria-hidden="true"></i>Confirm &amp; Process Quote <i class="fa fa-chevron-right icon-white"></i></button>
		</p>
		[%END DATA%]
		</div>
	</form>
	<!-- hidden subscribe form -->
	<div class="hidden">
		<form method="post" action="https://thesolgroup.createsend.com/t/t/s/djihhu/" id="subForm">
			<div class="col-md-5 padding-b-tin">
				<input id="fieldName" name="cm-name" class="form-control" type="text" placeholder="Name" required/>
			</div>
			<div class="col-md-5 padding-b-tin">
				<input id="fieldEmail" name="cm-djihhu-djihhu" class="form-control" type="email" placeholder="Email" required/>
			</div>
			<div class="col-md-2 col-xs-12 padding-b-tin submit-wrapper">
				<button class="btn btn-default" type="submit">Connect</button>
			</div>
		</form>
	</div>
</div>
</div>
<div class="col-xs-12 col-md-4">
<hr />
</div>
</div>
[%GA_FUNNEL%]/purchase/confirmation.html[%END GA_FUNNEL%]
[%load_template file:'trackingcode/CheckoutTracking.html'%][%END load_template%]
