[%load_template file:"column_left/product.template.html"%][%/load_template%]
[%SITE_VALUE id:'footer_javascript'%]
<style>
.tableTr50 tr.tr50 {
    width: 50% !important;
    padding-right: 15px;
    vertical-align: middle;
    white-space: normal;
    float: left;
    display: block;
    padding-left: 15px;
}

.tableTr50 tr.tr50 td {
    width: 100%;
    min-width: 100%;
    display: block;
}

.helpIcon {
    font-family: baskerville;
    font-size: 10px;
    border: 1px solid;
    padding: 2px 6px;
    border-radius: 41px;
    font-weight: 800;
    color: #333;
}
.helpIcon:hover {    
    color: #333;
}

#n_checkout .options-form-container.card-message-row, #n_checkout table.productoptions.table.table-striped, #n_checkout .productoptions.table>tbody>tr>td, #n_checkout .additional-item-contain {
    background-color: #fff;
}


table.productoptions.table.table-striped tr > td {
    padding: 0;
}

.custom-left-padding {
    padding-left: 23px !important;
}

table.productoptions.table.table-striped .row > div.smallinfo {
    padding-left: 23px;
    padding-top : 15px;
    display : block;
    font-size : 12px;
    font-style : italic;
}

.additionalInfoRibbon li, .logoToRibbonSpan {
    font-family: 'Open Sans',sans-serif;
    font-style : italic;
    color : #999;
    font-size : 12px;
    font-weight: 400 !important;
}
#n_checkout .additional-item-contain span.logoToRibbonSpan {
    padding-top: 0;
    margin-top: -5px;
}
.blank-card-wrapper {
    margin-top: -31px;
}
.tooltip-inner {
    background: #fff;
    color: #333;
    padding: 10px;
    border: 1px solid #999;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #999;
}
.giftCardDropHolder0 {
    /* float: right;
    width: 48%; */
	margin-bottom: 15px;
}

.recipientHolder {
    float: left;
    width: 50%;
}

.inputWrapperText1 {
    /* float: left;
    width: 50%; */
}

.clearBoth {
    clear: both;
}


#n_checkout .additional-item-contain .extrasel.gift-card-sel {
    height: 34px;
    margin-bottom: 0 !important;
}

.recipientHolder span {
    margin-top: 4px !important;
}
.tr50.having.a.virtual {
    display: none;
}
@media (max-width : 768px) {
    .tableTr50 tr.tr50 {
        width : 100% !important;
    }
}

</style>
<script>

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>
<script type="text/javascript" language="javascript">
$(document).ready(function() {
/* Requirements
* 1: Extra option "Add Logo To Ribbon" (Default: No; Available option: Yes) then "Add Logo To Gift Card" (Default: No; Available option: Yes)
* 2: Product COMPANY_LOGO without any extra options
* 3: Discount for Product COMPANY_LOGO when there are 25+ Hampers
* 4: And cusref1 and cusref2 to checkout page
* 5: Customer misc9 = Default Card Design and misc10 = Default Ribbon Design
* 6: Upload existing logo only show up when customer is logo in
*/
	$.extend({
	  /* Funciton get_item_logo_requirement
	   * Parameter: ind is the line number of the shopping cart
		 * Check if  "Add Logo To Ribbon" or "Add Logo To Gift Card" option is selected for a specified item
		 * Return Object
		 *  ribbon: true if any "Add Logo To Ribbon" option is selected, otherwise false
		 *  card: true if any "Add Logo To Gift Card" option is selected, otherwise false
		 */
		get_item_logo_requirement : function (ind) {
			var rtn = {'ribbon':false,'card':false };
			var ctr = $.toInt( $('#extras'+ind).val() );
			for (var j=0; j<ctr; j++) {

				var oname = $('#exname'+ind+'_'+j);

				var chkkey = ''; // Name of the return flag (ribbon or card or empty)
				if(oname.length > 0) {
					var html = oname.html();
					if(html.indexOf(' Logo ') >= 0 ) {
						// When extra options contains the word (Logo) and (Ribbon or Card), activitate the company logo upload section
						// We must have the options 'No' (default) [option value=0] and 'Yes' [option value=1]
						// The extra options must be in the correct order "Add Logo To Ribbon" then "Add Logo To Gift Card"
						if(html.indexOf('Ribbon') >= 0) {
							// When extra options contains "Add Logo To Ribbon"
							chkkey = 'ribbon';
						} else if (html.indexOf('Card') >= 0) {
							// When extra options contains "Add Logo To Gift Card"
							chkkey = 'card';
						}
					}
				}
				if(chkkey != '') {
					var obj = $('#extra'+ind+'_'+j);
					if(obj.val() > 0) {
						rtn[chkkey] = true; // Set the return flags
					}
				}
			}

			return rtn;
		},


	  /* Funciton get_logo_requirement
		 * Check if any "Add Logo To Ribbon" or "Add Logo To Gift Card" option is selected
		 * Return Object
		 *  ribbon: true if any "Add Logo To Ribbon" option is selected, otherwise false
		 *  card: true if any "Add Logo To Gift Card" option is selected, otherwise false
		 */
		get_logo_requirement : function () {

			var rtn = {'ribbon':false,'card':false, 'ribbon_total':0, 'card_total':0};
			var i=0;
			var ctro = $('#extras'+i);
			while(ctro.length) {
				var itm_req = $.get_item_logo_requirement(i);
				rtn['ribbon'] |= itm_req['ribbon'];
				rtn['card'] |= itm_req['card'];
				i++; ctro = $('#extras'+i);
			}

			return rtn;
		},

	  /* Funciton check_logo_options
		 * Check if any "Add Logo To Ribbon" or "Add Logo To Gift Card" option is selected
		 * Return Object
		 *  ribbon: true if any "Add Logo To Ribbon" option is selected, otherwise false
		 *  card: true if any "Add Logo To Gift Card" option is selected, otherwise false
		 */
		check_logo_options : function () {
			var requirement = $.get_logo_requirement();
			if(requirement['ribbon'] || requirement['card']) {
				// Set Quantity of Logos required
				$('#upld_logo_qty').val(requirement['ribbon'] && requirement['card']? '2' : '1');
				$('.updllogopl').show();
			} else {
				$('#upld_logo_qty').val('0');
				$('.updllogopl').hide();
			}

			// Show/Hide gift card selction
			if(requirement['card']) {
				$('.selcardpl').show();
				$('.nogiftcard[name="cusref1"]').prop('checked', false);
			} else {
				$('.selcardpl').hide();
				// Uncheck all selected gift card options
				$('[name="cusref1"]').prop('checked', false);
				$('.nogiftcard[name="cusref1"]').prop('checked', true);
				$.set_example_pic(1);
			}

			// Show/Hide ribbon selction
			if(requirement['ribbon']) {
				$('.selribbonpl').show();
				$('.nogiftribbon[name="cusref2"]').prop('checked', false);
			} else {
				$('.selribbonpl').hide();
				// Uncheck all selected ribbon options
				$('[name="cusref2"]').prop('checked', false);
				$('.nogiftribbon[name="cusref2"]').prop('checked', true);
				$.set_example_pic(2);
			}
		},

	  /* Funciton sumbit_form
	   * Parameter: upld is flag to indicate if the user want to upload the image (true) or continue to check out (false)
		 * Submit form if all fields are validated
		 */
		sumbit_form : function (upld) {
			if(upld) {
				// Upload Company Logo
				$('#fn').val('upsell');
				var taget = $('#upsellcartform').attr('action');
				if(taget.indexOf('#shupldlogo') < 0) {
					$('#upsellcartform').attr('action', taget+'#shupldlogo');
				}
			} else {
				// Continue Checkout
				$('#fn').val('payment');
			}

			var requirement = $.get_logo_requirement();
			var okay =true;
			if(requirement['ribbon'] || requirement['card']) {
				var img = $('#upld_logo_img').attr('src');
				if(img.indexOf('/nologo.gif') >=0  && $('#upld_logo').val() == '' && !$('#upld_logo_existing').is(':checked')) {
					// No logo is uploaded
					okay =false;
					$.nPopupBox("Don't forget to upload your company logo.", {'has-overlay':true});
				}
				// Set Company logo quantity
				$('#upld_logo_qty').val(requirement['ribbon'] && requirement['card']? '2' : '1');
				$('.updllogopl').show();
			} else {
				$('#upld_logo_qty').val('0');
				$('.updllogopl').hide();
			}

			if(okay && !upld) {
				// Vaildate Gift Card Design
				if(requirement['card']) {
					var seled = ($('[name="cusref1"]:checked').length > 0);
					if(!seled) {
						okay =false;
						$.nPopupBox("Don't forget to choose your gift card design.", {'has-overlay':true});
					}
					$('.selcardpl').show();
				} else {
					$('.selcardpl').hide();
					$('[name="cusref1"]').prop('checked', false);
					$('.nogiftcard[name="cusref1"]').prop('checked', true);
					$.set_example_pic(1);
				}

				// Vaildate Ribbon Design
				if(requirement['ribbon']) {
					var seled = ($('[name="cusref2"]:checked').length > 0);
					if(!seled) {
						okay =false;
						$.nPopupBox("Don't forget to choose your ribbon design.", {'has-overlay':true});
					}
					$('.selribbonpl').show();
				} else {
					$('.selribbonpl').hide();
					$('[name="cusref2"]').prop('checked', false);
					$('.nogiftribbon[name="cusref2"]').prop('checked', true);
					$.set_example_pic(2);
				}
			}

			if(okay) { $('#upsellcartform').submit(); }
		},

	  /* Funciton set_example_pic
	   * Parameter: ind is the id of order reference field
	   *            ref is the selected value
		 * Set example image in the upload logo section
		 */
		set_example_pic : function (ind, ref) {
			if(typeof(ref) != 'undefined') {
				$('.cusref'+ind+'pic').each( function(){
					if(ref == $(this).attr('ref') ) {
						$('#cusref'+ind+'example').attr('src',$(this).attr('src'));
					}
				});
			} else {
				// Use default (first) image
				$('#cusref'+ind+'example').attr('src',$('.cusref'+ind+'pic:first').attr('src'));
			}
		},

	  /* Funciton set_branding_options
	   * Parameter: ctr is the item number of the hamper list
		 * Setect the correct value for branding options and show / hide the logo selection panel
		 * Yes if either "Add Logo To Ribbon" or "Add Logo To Gift Card" option for the item is selected
		 * No if none of the "Add Logo To Ribbon" or "Add Logo To Gift Card" options for the item are selected
		 */
		set_branding_options : function (ctr) {
			if(typeof(ctr) != 'undefined') {
				// For individual bradning option button
				var ind = $.toInt($('.brandingbutton[value="yes"][item-count="'+ctr+'"]').attr('line-count'));
				var itm_req = $.get_item_logo_requirement(ind);
				var row =$('[branding-option="'+ctr+'"]');
				if( itm_req['ribbon'] || itm_req['card'] ) {
					// Check Yes
					row.show();
					$('.brandingbutton[value="yes"][item-count="'+ctr+'"]').prop('checked', true);
				} else {
					// Check No
					row.hide();
					$('.brandingbutton[value="no"][item-count="'+ctr+'"]').prop('checked', true);
				}
			} else {
				// For all bradning option buttons
				$('.brandingbutton[value="yes"]').each(function() {
					var ctr=$.toInt($(this).attr('item-count'));
					var ind = $.toInt($(this).attr('line-count'));
					var itm_req = $.get_item_logo_requirement(ind);
					var row =$('[branding-option="'+ctr+'"]');
					if(itm_req['ribbon'] || itm_req['card']) {
						// Check Yes
						row.show();
						$(this).prop('checked', true);
					} else {
						// Check No
						row.hide();
						$('.brandingbutton[value="no"][item-count="'+ctr+'"]').prop('checked', true);
					}
				});
			}
		}
	});

	// Validate form submission
	$('.submit_btn').click(function(e){ $.sumbit_form(false); });

	// Use uploaded company logo
	$('.upload_btn').click(function(e){ $.sumbit_form(true); });

	// Show / Hidden custom Gift Card / Ribbon design sections
	$('.brandingsel').change(function(e){
		var ctr=$.toText($(this).attr('item-count'));
		$.set_branding_options(ctr);
		$.check_logo_options();
	});

	// Move selected gift card image to the example section
	$('[name="cusref1"]').click(function(e){ $.set_example_pic(1, $(this).val()); });
	// Select the selected gift card design or use the default gift card design
	$('[name="cusref1"]').each(function(e){
		var ref = $(this).val();
		if(ref == "[%NOHTML%][%IF [@customer_ref1@] eq ''%][@user:misc9@][%ELSE%][@customer_ref1@][%/IF%][%/NOHTML%]") {
			$(this).prop('checked',true);
			$.set_example_pic(1, $(this).val());
		}
	});

	// Move selected ribbon image to the example section
	$('[name="cusref2"]').click(function(e){ $.set_example_pic(2, $(this).val()); });
	// Select the selected ribbon design or use the default ribbon design
	$('[name="cusref2"]').each(function(e){
		var ref = $(this).val();
		if(ref == "[%NOHTML%][%IF [@customer_ref2@] eq ''%][@user:misc10@][%ELSE%][@customer_ref2@][%/IF%][%/NOHTML%]") {
			$(this).prop('checked',true);
			$.set_example_pic(2, $(this).val());
		}
	});

	// Add click function to the branding option
  $('.brandingbutton').click(function(){
  	var ctr = $.toText($(this).attr('item-count'));
  	var row = $('[branding-option="'+ctr+'"]');
  	var sel = row.find('SELECT');

  	if( $.isTrue($(this).val()) ) {
  		row.show();
  		sel.val('1'); // Select Yes to all options
  	} else {
  		row.hide();
  		sel.val('0'); // Select No to all options
		$('[name="cusref1"]').prop('checked', false);
		$('[name="cusref2"]').prop('checked', false);
		$('.nogiftcard[name="cusref1"]').prop('checked', true);
		$('.nogiftribbon[name="cusref2"]').prop('checked', true);
  	}
  	$.check_logo_options();
	});

	// Show / hide branding options on load
	$.set_branding_options();
	$.check_logo_options();
});
</script>
<script type="text/javascript" language="javascript">
// Copy Extra options and Check Gift Message Length
$(document).ready(function() {
	$.extend({
		copy_extras : function (id) {
			var i=0;
			var ctro = $('#extras'+i);
			while(ctro.length) {
				if(i != id) {
					var ctr = parseInt(ctro.val()); if(isNaN(ctr)) { ctr=0; }
					for (var j=0; j<ctr; j++) {
						var oname = $('#exname'+i+'_'+j);
						var okay = true;
						if(okay) {
							var obj = $('#extra'+i+'_'+j);
							var val = $('#extra'+id+'_'+j);
							obj.val(val.val());
						}
					}
				}
				i++; ctro = $('#extras'+i);
			}

			$.set_branding_options();
			$.check_logo_options();
		}
	});

	$('.copy_btn').click(function(e){
		$.copy_extras($(this).attr('ref'));
		return false;
	});

	$('.inputtext').bind('keyup blur',function(e){
		var id = $(this).attr('id');
		var obj = $('#'+id+'ctr');
		if(obj.length) {
			var len = obj.attr('ref'); if(isNaN(len)) { len=0; }
			if(len > 0) {
				var val = ''+$(this).val();
				if(val.length > len) { val = val.substr(0,len); $(this).val( val ); }
				obj.html(''+(len-val.length));
			}
		}
	});
});
</script>
<!-- Gallant Digital edit -->
<script>
	$(document).ready(function() {
		$('.gift-card-options').click(function(e){
			e.preventDefault();
			var giftCardPopup = $('#giftcard-popup').html();
			$.fancybox({
				'content': giftCardPopup
			});
		});

			/* BLANK CARD */
	$('.blank-card-check').change(function() {
		if($(this).is(":checked") && $(this).parents('.options-form-container').find('.gift-card-row option:nth-child(2)').is(':selected') || $(this).parents('.options-form-container').find('.gift-card-row option:first-child').is(':selected') ) {
			$(this).parents('.options-form-container').find('.blank-card-check').val('Yes');
			$(this).parents('.options-form-container').find('.inputtext').prop('disabled', true);
			$(this).parents('.options-form-container').find('.inputtext').val('');
			$(this).parents('.options-form-container').find('.gift-card-row option:nth-child(2)').prop('selected', true);
		}
		else if($(this).is(":checked")) {
			$(this).parents('.options-form-container').find('.blank-card-check').val('Yes');
			$(this).parents('.options-form-container').find('.inputtext').prop('disabled', true);
			$(this).parents('.options-form-container').find('.inputtext').val('');
			$(this).parents('.options-form-container').find('.gift-card-row option:nth-child(2)').prop('selected', true);
		}
		else {
			$(this).parents('.options-form-container').find('.blank-card-check').val('');
			$(this).parents('.options-form-container').find('.inputtext').prop('disabled', false);
			$(this).parents('.options-form-container').find('.gift-card-row option:nth-child(2)').prop('selected', false);
		}
	});
	/* card message row */
	$('.card-message-row .inputtext').keypress(function() {
		if( $(this).val().length === 0 ) {
			$(this).parents('.options-form-container').find('.gift-card-row option:nth-child(2)').prop('selected', false);
		}
		else if ($(this).val().length !== 0 && $(this).parents('.options-form-container').find('.gift-card-row option:first-child').is(':selected')) {
			$(this).parents('.options-form-container').find('.gift-card-row option:nth-child(2)').prop('selected', true);
		}
	});
});
</script>

<script>
		$(document).on('keypress', '.form-control[data-extra*="Monogram"]', function(e, t) {
			try {
				if (window.event) {
					var charCode = window.event.keyCode;
				}
				else if (e) {
					var charCode = e.which;
				}
				else { return true; }
				if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
					return true;
				else
					return false;
			}
			catch (err) {
				alert(err.Description);
			}
		});
		$('.submit_btn').click(function() {
			$('.form-control[data-extra*="Monogram"]').each(function() {
				var text = $(this).val();
				var upperText = text.toUpperCase();
				$(this).val(upperText)
			})
		})
</script>

[%/SITE_VALUE%]
<style type="text/css">
.copy_btn {
}
.inputtext {
}
.inputtext_count {
	font-size: 8px;
}
.removelogotext {
	font-size: 10px;
}
.updllogopl {
	display: none;
}
.selcardpl {
	display: none;
}
.selribbonpl {
	display: none;
}
.cusref1pic {
}
.submit_btn {
}
.upload_btn {
}
</style>
<style>
.visible {
	display: table-row !important;
	visibility: visible !important;
}
</style>

[%load_template file:"cart/cart.error.html"%][%/load_template%]
<div class="col-md-6 padding-b-small padding-t-small text-left">
	<h2 class="">Add Your Gift Card Message</h2>
</div>
<div class="col-md-6 padding-0">
	<div class="float_right upsell-btn-holder top-holder padding-b-small">
		<input type="hidden" id="continue_to_payment" name="continue_to_payment" value="0">
		<input class="submit_btn btn btn-success" type="button" value="Continue To Checkout &gt;" style="font-size:18px;" />
	</div>
</div>
<div class="col-12 wrapper-productupsell">
  <form method="post" enctype="multipart/form-data" action="[%URL page:'checkout'%][%/URL%]" id="upsellcartform">
    <input type="hidden" name="fn" id="fn" value="payment" />
    <input type="hidden" name="upsell" value="y" />
    <div id="productoptions">
      <div class="panel panel-default">
        [%cart_items splititems:'y'%][%PARAM header%]

        [%SET [@data:total_cart_items@]%][@total_items@][%/ SET%]

        [%/PARAM%][%PARAM hidden%]
        <input type="hidden" name="line[@line@]" id="line[@line@]" value="[@counter@]" />
        [%/PARAM%]
        [%PARAM *body%]
        <div class="clearfix hamper-options-container panel-body">
          <div class="row">
            <div class="col-12 padding-0">
              <div class="hampercardhead product-name">#[@item_count@] &nbsp; [@model@]</div>
            </div>
          </div>
          <div class="row">
            <div class="options-img-container col-12 col-sm-4 col-md-4">
				<img src="[%asset_url type:'product' id:'[@SKU@]' thumb:'alt_1' check_parent:'y'/%]" align="left" alt="[@model@]" border="0">
				<input type="hidden" name="line[@line@]" id="line[@line@]" value="[@counter@]" />
              <br />
            </div>
			
            <div class="options-form-container card-message-row col-12 col-sm-8 col-md-8 extraOptionsWrapper-[@count@]"> [%extra_options id:'[@SKU@]' currentextra:'[@currentextras@]'%]
              [%PARAM *header%]
              <table class="productoptions table table-striped" border="0" cellspacing="0" cellpadding="4">
                [%/PARAM%]
                [%PARAM *number_option%]
				<tr><span id="exname[@line@]_[@count@]">[@name@]</span>:</tr>
				<tr><input type="text" class="form-control" name="extra[@line@]_[@count@]" id="extra[@line@]_[@count@]" value="[@currentextra@]"></tr>
                [%/PARAM%]
                [%PARAM *text_option%]
				<tr>
					[%IF [@name@] LIKE 'Gift Card' OR [@name@] LIKE 'Experience'%]<span id="exname[@line@]_[@count@]" class="exname [%IF [@name@] LIKE 'Gift Card' OR [@name@] LIKE 'Experience'%]bordered[%/IF%]" data-toggle="collapse" data-target="#myexname[@line@]_[@count@]" aria-expanded="false" aria-controls="myexname[@line@]_[@count@]">Choose <span id="exname[@line@]_[@count@]" class="exname [%IF [@name@] LIKE 'Gift Card' OR [@name@] LIKE 'Experience'%]bordered[%/IF%]" data-toggle="collapse" data-target="#myexname[@line@]_[@count@]" aria-expanded="false" aria-controls="myexname[@line@]_[@count@]">[@name@]: 
					[%/IF%] 
					
					[%IF [@name@] LIKE 'Recipient'%]
					
					<div class="giftCardDropDownWrapper">
					</div>
					<div class="recipientHolder">
						<span id="exname[@line@]_[@count@]" class="recipientHolder exname [%IF [@name@] LIKE 'Gift Card' OR [@name@] LIKE 'Experience'%]bordered[%/IF%]" data-toggle="collapse" data-target="#myexname[@line@]_[@count@]" aria-expanded="false" aria-controls="myexname[@line@]_[@count@]">
						[@name@] <a class="helpIcon helpIcon-[@count@]" href="#" data-toggle="tooltip" data-placement="top" title="Your recipient’s name will be printed on the delivery label so you know who each hamper is for when sending multiples">i</a> </span>
					</div>
					[%/IF%]
				
				
					[%IF [@name@] LIKE 'Message'%]
					<div class="clearBoth">
					</div>
					<span id="exname[@line@]_[@count@]" class="exname [%IF [@name@] LIKE 'Gift Card' OR [@name@] LIKE 'Experience'%]bordered[%/IF%]" data-toggle="collapse" data-target="#myexname[@line@]_[@count@]" aria-expanded="false" aria-controls="myexname[@line@]_[@count@]">
					[@name@] <a class="helpIcon" href="#" data-toggle="tooltip" data-placement="top" title="Remember to say who it’s from! We will not include your name or company information anywhere else on the hamper.">i</a> 
					</span>
					[%/IF%]
					
					[%IF [@name@] LIKE 'Gift Card' OR [@name@] LIKE 'Experience'%]
					<span id="exname[@line@]_[@count@]" class="exname [%IF [@name@] LIKE 'Gift Card' OR [@name@] LIKE 'Experience'%]bordered[%/IF%]" data-toggle="collapse" data-target="#myexname[@line@]_[@count@]" aria-expanded="false" aria-controls="myexname[@line@]_[@count@]">[@name@]	<i class="pull-right fa fa-angle-down" aria-hidden="true"></i></span>[%/IF%]
				
				
					
					[%IF [@name@] LIKE 'Card Message'%]
					
					<span class="pull-right blank-card-wrapper"><input type="checkbox" id="blank[@line@]_[@count@]" class="blank-card-check" value=""><span class="blank-card-label"> I would like a blank card</span></span> [%/IF%]
				</tr>
				<tr>
					
					
					
					[%IF [@length@] > 100%]
                    <textarea class="inputtext form-control" name="extra[@line@]_[@count@]" id="extra[@line@]_[@count@]" cols="20" rows="4">[@currentextra@]</textarea>
                    <div class="inputtext_count"><span id="extra[@line@]_[@count@]ctr" ref="[@length@]">[@length@]</span> Character(s) Left</div>
                    [%ELSE%]
					<div class="inputWrapperText[@count@]">
						<input type="text" [%if [@length@]%]maxlength="[@length@]"[%/if%] class="form-control [%IF [@name@] LIKE 'Gift Card' OR [@name@] LIKE 'Experience'%]hidden[%ELSEIF [@name@] LIKE 'Monogram'%]monogram-input[%/if%]" data-extra="[@name@]" name="extra[@line@]_[@count@]" id="extra[@line@]_[@count@]" value="[@currentextra@]">
					</div>
                    [%/IF%]
				</tr>
                [%/PARAM%]
				[%PARAM *select_option%]
				[%IF [@name@] LIKE ' Logo ' AND [@name@] LIKE 'Ribbon'%]
					<tr>
						<td colspan="2">
							<div class="row" [%if ![@CONFIG:enable_corporate_branding@]%]style="display: none;"[%/if%]>
								<!-- TODO: Designer - Corporate Branding section -->
								<div class="col-12 col-sm-3 custom-left-padding">
									Would You like Corporate Branded ribbon or gift card?
								</div>
								<div class="col-12 col-sm-3 text-center wrapper-branding-button">
									<label><input class="brandingbutton" item-count="[@item_count@]" line-count="[@line@]" type="radio" name="cb[@item_count@]" value="no"> No</label>
									<label><input class="brandingbutton" item-count="[@item_count@]" line-count="[@line@]" type="radio" name="cb[@item_count@]" value="yes"> Yes</label>
								</div>
								 <div class="col-12 col-sm-6 text-right three-images">
									<img width="110" src="/assets/images/ribbons/mar2020/05-navy-and-silver.jpg">
									<img width="110" src="/assets/images/ribbons/mar2020/03-green-and-gold.jpg">
									<img width="110" src="/assets/images/ribbons/mar2020/07-red-and-gold.jpg">
								</div>
								<div class="col-12 smallInfo">								
									<span>$75 one-off setup fee applies for each, this will be invoiced by our corporate team once your branding is confirmed.</span>
								</div>
							</div>
							<div branding-option="[@item_count@]">
							
								<div class="col-12 small additionalInfoRibbon">								
									[%advert type:'text' template:'' category:'0'limit:'8' ad_group:'upsell-addLogoRib'%]
										[%param *header%]
										[%/param%]
										[%param *body%]
										
											[%url_decode%]
												[%url_encode%]
													[@description@]
												[%/url_encode%]
											[%/url_decode%]
										[%/param%]
										[%param footer%]
										[%/param%]
									[%/advert%]
								</div>
								<hr>
								<table width="100%" class="tableTr50 row">
									[%/IF%]
										<tr title="[@name@]" class="additional-item[@item_count@] text-left tr50 [%format type:'text' case:'lower'%][@name@][%/format%]">
											<td>
												<div class="giftCardDropHolder[@count@]">
												  <div class="additional-item-contain">
													<!-- TODO: Designer - Show ? (for Logo) or : (Default) at the end of the extra option -->
													<span id="exname[@line@]_[@count@]">[%if [@name@] LIKE 'virtual'%]Add a Free Christmas Party Pack?[%else%][@name@][%/if%]</span>[%IF [@name@] LIKE ' Logo ' AND ([@name@] LIKE 'Ribbon' OR [@name@] LIKE 'Card')%]?[%ELSE%]:[%/IF%]
													
													[%IF [@name@] LIKE 'Add Logo To Ribbon'%]<span class="logoToRibbonSpan">Select your ribbon and foil colour at the bottom of the page</span>[%/IF%]
													[%IF [@name@] LIKE 'Add Logo To Gift Card'%]<span class="logoToRibbonSpan">Select your design at the bottom of the page</span>[%/IF%]

													[%IF [@name@] LIKE ' Logo ' AND ([@name@] LIKE 'Ribbon' OR [@name@] LIKE 'Card')%]
													<!-- TODO: Designer - Corporate Branding Cost -->

													<div class="small">
													</div>

													[%/IF%]
													[%IF [@name@] eq 'Gift Card'%]
														<a href="#" class="gift-card-options" style="float:none;"><!-- <img src="[%ntheme_asset%]img/card-ico.png[%/ntheme_asset%]" alt="gift"/>--> View Card Designs</a>
													[%/IF%]
												  </div>
												  
												  <div width="100%" class="additional-item-contain padding-b-small nice">
													  <select class="extrasel form-control [%IF [@name@] LIKE ' Logo ' AND ([@name@] LIKE 'Ribbon' OR [@name@] LIKE 'Card')%]brandingsel[%/IF%][%IF [@name@] eq 'Gift Card'%] gift-card-row gift-card-sel[%/IF%]" item-count="[@item_count@]" name="extra[@line@]_[@count@]" id="extra[@line@]_[@count@]">
														  [@choices@]
													  </select>
												  </div>
												</div>
											</td>
										</tr>
										
				
								[%IF [@name@] LIKE ' Logo ' AND [@name@] LIKE 'Card'%]
								
								</table>
								<!-- TODO: Designer - Corporate Branding Info -->
							</div>
						</td>
					</tr>
					
					[%/IF%]
					
              [%/PARAM%]
              [%PARAM *choices%]
					<option type="text" value="[@option_id@]" [%if [@option_id@] eq [@currentextra@]%]selected[%/if%]>
					[%IF [@text@] eq 'Add a Free Party Pack to this Hamper!'%]
						Yes
					[%else%]
					[%nohtml%][@text@][%/nohtml%]
					[%/IF%]
					
					
					[%IF [@price@] != 0%]
					  [%IF [@name@] like ' LOGO '%]
						[%FORMAT type:'currency'%][@price@][%/FORMAT%] per hamper
					  [%ELSE%]
						([%FORMAT type:'currency'%][@price@][%/FORMAT%])
					  [%/IF%]
					[%/IF%]
					
					</option>
              [%/PARAM%]
              [%PARAM *footer%]
              </table>
              <input type="hidden" name="extras[@line@]" id="extras[@line@]" value="[@total_options@]"/>
              [%/PARAM%]
              [%/extra_options%]

[%IF [@line@] == 0 AND [@total_cart_items@] > 1%]
<!-- TODO: Designer - Copy message button -->
<button class="copy_btn btn btn-success" ref="[@line@]">Copy settings from this hamper to all hampers</button>
<p class="recipient-reminder padding-tb-tin">( Remember to change the recipient’s name )</p>
[%/IF%]
            </div>
          </div>
        </div>
        [%/PARAM%]
        [%PARAM footer%]

        [%/PARAM%]
        [%/cart_items%] </div>
    </div>
    <a name="shupldlogo"></a>
    <div class="selcardpl">
      <div class="panel panel-default">
        <div>
          <h4 class="panel-title">Choose Your Gift Card Design <span class="small">(the messages are example messages)</span></h4>
		  <input type="radio" name="cusref1" class="nogiftcard hide" value="">
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-12">
              <div class="hampercardhead"> Click images to enlarge... </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-sm-4 col-md-2 wrapper-card-design">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref1" value="gift-tag-1" required></td>
                  <td width="85%"><a href="[$imageurl$]/images/giftcards/GiftTagDesign1.jpg" rel="product_images" class="fancybox"><img class="cusref1pic" width="120px" src="[$imageurl$]/images/giftcards/GiftTagDesign1.jpg" ref="gift-tag-1" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-2 wrapper-card-design">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref1" value="gift-tag-2"></td>
                  <td width="85%"><a href="[$imageurl$]/images/giftcards/GiftTagDesign2.jpg" rel="product_images" class="fancybox"><img class="cusref1pic" width="120px" src="[$imageurl$]/images/giftcards/GiftTagDesign2.jpg" ref="gift-tag-2" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-2 wrapper-card-design">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref1" value="gift-tag-3"></td>
                  <td width="85%"><a href="[$imageurl$]/images/giftcards/GiftTagDesign3.jpg" rel="product_images" class="fancybox"><img class="cusref1pic" width="120px" src="[$imageurl$]/images/giftcards/GiftTagDesign3.jpg" ref="gift-tag-3" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-2 wrapper-card-design">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref1" value="gift-tag-4"></td>
                  <td width="85%"><a href="[$imageurl$]/images/giftcards/GiftTagDesign4.jpg" rel="product_images" class="fancybox"><img class="cusref1pic" width="120px" src="[$imageurl$]/images/giftcards/GiftTagDesign4.jpg" ref="gift-tag-4" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-2 wrapper-card-design">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref1" value="gift-tag-5"></td>
                  <td width="85%"><a href="[$imageurl$]/images/giftcards/GiftTagDesign5.jpg" rel="product_images" class="fancybox"><img class="cusref1pic" width="120px" src="[$imageurl$]/images/giftcards/GiftTagDesign5.jpg" ref="gift-tag-5" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-2 wrapper-card-design">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref1" value="gift-tag-6"></td>
                  <td width="85%"><a href="[$imageurl$]/images/giftcards/GiftTagDesign6.jpg" rel="product_images" class="fancybox"><img class="cusref1pic" width="120px" src="[$imageurl$]/images/giftcards/GiftTagDesign6.jpg" ref="gift-tag-6" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-2 wrapper-card-design">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref1" value="gift-tag-7"></td>
                  <td width="85%"><a href="[$imageurl$]/images/giftcards/GiftTagDesign7.jpg" rel="product_images" class="fancybox"><img class="cusref1pic" width="120px" src="[$imageurl$]/images/giftcards/GiftTagDesign7.jpg" ref="gift-tag-7" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-2 wrapper-card-design">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref1" value="gift-tag-8"></td>
                  <td width="85%"><a href="[$imageurl$]/images/giftcards/GiftTagDesign8.jpg" rel="product_images" class="fancybox"><img class="cusref1pic" width="120px" src="[$imageurl$]/images/giftcards/GiftTagDesign8.jpg" ref="gift-tag-8" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-2 wrapper-card-design">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref1" value="gift-tag-9"></td>
                  <td width="85%"><a href="[$imageurl$]/images/giftcards/GiftTagDesign9.jpg" rel="product_images" class="fancybox"><img class="cusref1pic" width="120px" src="[$imageurl$]/images/giftcards/GiftTagDesign9.jpg" ref="gift-tag-9" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-2 wrapper-card-design">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref1" value="gift-tag-11"></td>
                  <td width="85%"><a href="[$imageurl$]/images/giftcards/GiftTagDesign11.jpg" rel="product_images" class="fancybox"><img class="cusref1pic" width="120px" src="[$imageurl$]/images/giftcards/GiftTagDesign11.jpg" ref="gift-tag-11" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-2 wrapper-card-design">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref1" value="gift-tag-12"></td>
                  <td width="85%"><a href="[$imageurl$]/images/giftcards/GiftTagDesign12.jpg" rel="product_images" class="fancybox"><img class="cusref1pic" width="120px" src="[$imageurl$]/images/giftcards/GiftTagDesign12.jpg" ref="gift-tag-12" /></a></td>
                </tr>
              </table>
            </div>
			<div class="col-6 col-sm-4 col-md-2 wrapper-card-design">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref1" value="gift-tag-10"></td>
                  <td width="85%"><a href="[$imageurl$]/images/giftcards/custom-card.jpg" rel="product_images" class="fancybox"><img class="cusref1pic" width="120px" src="[$imageurl$]/images/giftcards/custom-card.jpg" ref="gift-tag-10" /></a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- TODO: Designer - select ribbon -->
    <div class="selribbonpl">
      <div class="panel panel-default">
        <div>
          <h4 class="panel-title">Choose Your Ribbon</h4>
		  <input type="radio" name="cusref2" class="nogiftribbon hide" value="">
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-12">
              <div class="hampercardhead"> Click images to enlarge... </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-sm-4 col-md-3 wrapper-card-design walandioRibbons">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref2" value="gift-ribbon-1" required></td>
                  <td width="85%"><a href="[$imageurl$]/images/ribbons/mar2020/01-black-and-silver.jpg" rel="product_images" class="fancybox"><img class="cusref2pic" width="200px" src="[$imageurl$]/images/ribbons/mar2020/01-black-and-silver.jpg" ref="gift-ribbon-1" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-3 wrapper-card-design walandioRibbons">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref2" value="gift-ribbon-2"></td>
                  <td width="85%"><a href="[$imageurl$]/images/ribbons/mar2020/02-lack-and-gold.jpg" rel="product_images" class="fancybox"><img class="cusref2pic" width="200px" src="[$imageurl$]/images/ribbons/mar2020/02-lack-and-gold.jpg" ref="gift-ribbon-2" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-3 wrapper-card-design walandioRibbons">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref2" value="gift-ribbon-3"></td>
                  <td width="85%"><a href="[$imageurl$]/images/ribbons/mar2020/03-green-and-gold.jpg" rel="product_images" class="fancybox"><img class="cusref2pic" width="200px" src="[$imageurl$]/images/ribbons/mar2020/03-green-and-gold.jpg" ref="gift-ribbon-3" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-3 wrapper-card-design walandioRibbons">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref2" value="gift-ribbon-4"></td>
                  <td width="85%"><a href="[$imageurl$]/images/ribbons/mar2020/04-green-and-silver.jpg" rel="product_images" class="fancybox"><img class="cusref2pic" width="200px" src="[$imageurl$]/images/ribbons/mar2020/04-green-and-silver.jpg" ref="gift-ribbon-4" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-3 wrapper-card-design walandioRibbons">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref2" value="gift-ribbon-5"></td>
                  <td width="85%"><a href="[$imageurl$]/images/ribbons/mar2020/05-navy-and-silver.jpg" rel="product_images" class="fancybox"><img class="cusref2pic" width="200px" src="[$imageurl$]/images/ribbons/mar2020/05-navy-and-silver.jpg" ref="gift-ribbon-5" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-3 wrapper-card-design walandioRibbons">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref2" value="gift-ribbon-6"></td>
                  <td width="85%"><a href="[$imageurl$]/images/ribbons/mar2020/06-navy-and-gold.jpg" rel="product_images" class="fancybox"><img class="cusref2pic" width="200px" src="[$imageurl$]/images/ribbons/mar2020/06-navy-and-gold.jpg" ref="gift-ribbon-6" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-3 wrapper-card-design walandioRibbons">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref2" value="gift-ribbon-7"></td>
                  <td width="85%"><a href="[$imageurl$]/images/ribbons/mar2020/07-red-and-gold.jpg" rel="product_images" class="fancybox"><img class="cusref2pic" width="200px" src="[$imageurl$]/images/ribbons/mar2020/07-red-and-gold.jpg" ref="gift-ribbon-7" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-3 wrapper-card-design walandioRibbons">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref2" value="gift-ribbon-8"></td>
                  <td width="85%"><a href="[$imageurl$]/images/ribbons/mar2020/08-red-and-silver.jpg" rel="product_images" class="fancybox"><img class="cusref2pic" width="200px" src="[$imageurl$]/images/ribbons/mar2020/08-red-and-silver.jpg" ref="gift-ribbon-8" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-3 wrapper-card-design walandioRibbons">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref2" value="gift-ribbon-9"></td>
                  <td width="85%"><a href="[$imageurl$]/images/ribbons/mar2020/09-royal-blue-and-gold.jpg" rel="product_images" class="fancybox"><img class="cusref2pic" width="200px" src="[$imageurl$]/images/ribbons/mar2020/09-royal-blue-and-gold.jpg" ref="gift-ribbon-9" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-3 wrapper-card-design walandioRibbons">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref2" value="gift-ribbon-10"></td>
                  <td width="85%"><a href="[$imageurl$]/images/ribbons/mar2020/10-royal-blue-and-silver.jpg" rel="product_images" class="fancybox"><img class="cusref2pic" width="200px" src="[$imageurl$]/images/ribbons/mar2020/10-royal-blue-and-silver.jpg" ref="gift-ribbon-10" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-3 wrapper-card-design walandioRibbons">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref2" value="gift-ribbon-11"></td>
                  <td width="85%"><a href="[$imageurl$]/images/ribbons/mar2020/11-tangerine-and-gold.jpg" rel="product_images" class="fancybox"><img class="cusref2pic" width="200px" src="[$imageurl$]/images/ribbons/mar2020/11-tangerine-and-gold.jpg" ref="gift-ribbon-11" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-3 wrapper-card-design walandioRibbons">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref2" value="gift-ribbon-12"></td>
                  <td width="85%"><a href="[$imageurl$]/images/ribbons/mar2020/12-tangerine-and-silver.jpg" rel="product_images" class="fancybox"><img class="cusref2pic" width="200px" src="[$imageurl$]/images/ribbons/mar2020/12-tangerine-and-silver.jpg" ref="gift-ribbon-12" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-3 wrapper-card-design walandioRibbons">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref2" value="gift-ribbon-13"></td>
                  <td width="85%"><a href="[$imageurl$]/images/ribbons/mar2020/13-purple-and-gold.jpg" rel="product_images" class="fancybox"><img class="cusref2pic" width="200px" src="[$imageurl$]/images/ribbons/mar2020/13-purple-and-gold.jpg" ref="gift-ribbon-13" /></a></td>
                </tr>
              </table>
            </div>
            <div class="col-6 col-sm-4 col-md-3 wrapper-card-design walandioRibbons">
              <table border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <td><input type="radio" name="cusref2" value="gift-ribbon-14"></td>
                  <td width="85%"><a href="[$imageurl$]/images/ribbons/mar2020/14-purple-and-silver.jpg" rel="product_images" class="fancybox"><img class="cusref2pic" width="200px" src="[$imageurl$]/images/ribbons/mar2020/14-purple-and-silver.jpg" ref="gift-ribbon-14" /></a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="updllogopl">
      <div class="panel panel-default">
        <div>
          <h4 class="panel-title">Upload Your Company Logo</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-12 col-sm-4 hidden">
<!-- TODO: Designer - example images -->

              <div class="selcardpl"> <img id="cusref1example" src="[$imageurl$]/template/images/example.png" title="Example" width="250px"/> </div>
              <div class="selribbonpl"> <img id="cusref2example" src="[$imageurl$]/template/images/example.png" title="Example" width="250px"/> </div>
            </div>
            <div class="col-12 col-sm-12 logo-block">
              <div class="hampercardhead hidden">Upload your logo file here or choose your existing logo.</div>
              <div class="row">
                <div class="col-12 col-sm-3">
                  <table cellpadding="0" cellspacing="2" border="0">
                    <tr>
                      <td align="center"><img id="upld_logo_img" width="100px" src="[%asset_url type:'cart' default:'[$imageurl$]/nologo.gif'%][%/asset_url%]?[%RANDOM_NUMBER timestamp:'1'%][%/RANDOM_NUMBER%]" /></td>
                    </tr>
                  </table>
                </div>
                <div class="col-12 col-sm-9 choose-file">
                  <input type="file" name="upld_logo" id="upld_logo" />

                  <input class="upload_btn btn btn-success" type="button" value="Upload Logo" />
				  <br>
				  <br>
                  <p class="helper-text"> We accept GIF, JPG and PNG formats. Maximum file size is 5MB. </p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="hidden" name="upld_logo_sku" value="COMPANY_LOGO">
                  <input type="hidden" id="upld_logo_qty" name="upld_logo_qty" value="0">
<!-- TODO: Designer - use existing logo -->
[%IF [@user:username@] ne [@config:NOREGUSERNAME@]%]
<input type="checkbox" id="upld_logo_existing" name="upld_logo_existing" value="1" [%IF [@form:upld_logo_existing@] > 0 %]checked[%/IF%]> My Company logo is already uploaded from a previous order
[%/IF%]
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
<br />
<div class="hide">
	<div id="giftcard-popup" class="panel" style="display: none;">
		<div class="panel-body giftcardwrapping-popup">
			[%content_zone id:'giftcardpopup'%][%end content_zone%]
		</div>
	</div>
</div>
[%GA_FUNNEL%]/purchase/upsell.html[%/GA_FUNNEL%]
[%load_template file:"column_right/checkout.template.html"%][%/load_template%]
</div>
<div class="container">
	<div class="float_right upsell-btn-holder">
	  <input type="hidden" id="continue_to_payment" name="continue_to_payment" value="0">
	  <input class="submit_btn btn btn-success" type="button" value="Continue To Checkout &gt;" style="font-size:18px;" />
	</div>
</div>





			[%SITE_VALUE id:'footer_javascript'%]
			<script>
			$('.extraOptionsWrapper-[@count@] .giftCardDropHolder0').appendTo( $('.extraOptionsWrapper-[@count@] .giftCardDropDownWrapper') );
			</script>			
			[%/SITE_VALUE%]