<style>
  .navbarMenu .wrapper {
    padding: 30px;
    width: 1060px;
    max-height: 410px;
  }
  .navbarMenu .wrapper .shop-category h5 {
    font-size: 15px;
    line-height: 20px;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .navbarMenu .wrapper .shop-category .shop-category-link {
    display: flex;
    flex-direction: column;
  }
  .navbarMenu .wrapper .shop-category .shop-category-link a {
    color: #000;
    line-height: 20px;
    font-size: 12px;
  }
  .navbarMenu .wrapper .hamper-image .image-name {
    background-color: #bfa774;
    color: #fff;
    width: fit-content;
    padding: 5px;
    font-size: 15px;
  }
  .navbarMenu .wrapper .hamper-image {
    width: 100%;
    height: 180px;
    margin-bottom: 2rem;
    background-image: url("//placeimg.com/900/500/arch");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
  }
  .navbarMenu .wrapper .description-header {
    font-size: 15px;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    height: 33px;
  }
  .navbarMenu .wrapper .description-header i {
    font-size: 30px;
    margin-right: 10px;
  }
  .navbarMenu .wrapper .delivery-estimates {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    height: 15px;
    align-items: flex-end;
  }
  .navbarMenu .wrapper .delivery-estimates span:last-child {
    color: #bfa774;
    font-size: 10px;
    font-style: italic;
  }
  .navbarMenu .wrapper .delivery-estimates span:nth-child(2) {
    font-weight: bold;
  }
  .navbarMenu .wrapper .assistance-icons {
    font-size: 30px;
  }
  .navbarMenu .wrapper .assistance-details p {
    margin-bottom: 0;
  }
</style>
<div class="wrapper">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-4">
          <div class="shop-category">
            <h5>Shop By Occasion</h5>
            <div class="shop-category-link">
              <span><a href="#">Home Wellness Hampers</a></span>
              <span><a href="#">Work From Home Hampers</a></span>
              <span><a href="#">Christmas Gift Ideas</a></span>
              <span><a href="#">Anniversary Gift Ideas</a></span>
              <span><a href="#">Birthday Gift Ideas</a></span>
              <span><a href="#">Baby Gift Ideas</a></span>
              <span><a href="#">Getwell Hampers</a></span>
              <span><a href="#">Sympathy Gift Ideas</a></span>
            </div>
          </div>
          <div class="shop-category">
            <h5>Shop By Receipient</h5>
            <div class="shop-category-link">
              <span><a href="#">Gifts for Her</a></span>
              <span><a href="#">Gifts for Him</a></span>
              <span><a href="#">Home Wellness Hampers</a></span>
              <span><a href="#">Christmas Hampers</a></span>
              <span><a href="#">Work From Home Hampers</a></span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="shop-category">
            <h5>Shop By Occasion</h5>
            <div class="shop-category-link">
              <span><a href="#">Home Wellness Hampers</a></span>
              <span><a href="#">Work From Home Hampers</a></span>
              <span><a href="#">Christmas Gift Ideas</a></span>
              <span><a href="#">Anniversary Gift Ideas</a></span>
              <span><a href="#">Birthday Gift Ideas</a></span>
              <span><a href="#">Baby Gift Ideas</a></span>
              <span><a href="#">Getwell Hampers</a></span>
              <span><a href="#">Sympathy Gift Ideas</a></span>
            </div>
          </div>
          <div class="shop-category">
            <h5>Shop By Receipient</h5>
            <div class="shop-category-link">
              <span><a href="#">Gifts for Her</a></span>
              <span><a href="#">Gifts for Him</a></span>
              <span><a href="#">Home Wellness Hampers</a></span>
              <span><a href="#">Christmas Hampers</a></span>
              <span><a href="#">Work From Home Hampers</a></span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="shop-category">
            <h5>Account</h5>
            <div class="shop-category-link">
              <span><a href="#">Login</a></span>
              <span><a href="#">Register</a></span>
              <span><a href="#">My Account</a></span>
              <span><a href="#">My Occasions</a></span>
            </div>
          </div>
          <div class="shop-category">
            <h5>Help</h5>
            <div class="shop-category-link">
              <span><a href="#">FAQs</a></span>
              <span><a href="#">Track My Order</a></span>
              <span><a href="#">Delivery Calculator</a></span>
              <span><a href="#">Contact Us</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <div class="hamper-image">
            <div class="image-name">Name of Hamper</div>
          </div>
        </div>
        <div class="col-7 border-right">
          <div class="row">
            <div class="col-12">
              <div class="description-header">
                <i class="fas fa-truck"></i>
                <span>Delivery Estimates</span>
              </div>
            </div>
            <div class="col-12">
              <div class="delivery-estimates">
                <span>Click & Collect:</span>
                <span>FREE</span>
                <span>Sydney</span>
              </div>
            </div>
            <div class="col-12">
              <div class="delivery-estimates">
                <span>Regular Delivery:</span>
                <span>FREE</span>
                <span>All Areas</span>
              </div>
            </div>
            <div class="col-12">
              <div class="border-bottom mb-2 pt-2"></div>
            </div>
            <div class="col-12">
              <div class="delivery-estimates">
                <span>Same Day:</span>
                <span>$14.95</span>
                <span>Sydney Metro</span>
              </div>
            </div>
            <div class="col-12">
              <div class="delivery-estimates">
                <span>Next Day:</span>
                <span>$14.95</span>
                <span>Capital Cities</span>
              </div>
            </div>
            <div class="col-12">
              <div class="delivery-estimates">
                <span>Express:</span>
                <span>$18.95</span>
                <span>All Other Areas</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="row">
            <div class="col-12">
              <div class="description-header">
                <span>Delivery Estimates</span>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 assistance-icons">
                  <i class="far fa-comment-dots"></i>
                </div>
                <div class="col-8 assistance-details">
                  <p>Live Chat</p>
                  <p>9am - 5px AEST</p>
                  <p>Mon - Fri</p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 assistance-icons">
                  <i class="fas fa-phone"></i>
                </div>
                <div class="col-8 assistance-details">
                  <p>Call Us</p>
                  <p>9am - 5px AEST</p>
                  <p>Mon - Fri</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
