<style>
  .footer-left-side .footer-roadmap {
    display: flex;
    flex-direction: column;
  }
  .footer-left-side .footer-roadmap h5 {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .footer-left-side .footer-roadmap a {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    color: #fff;
  }
  .footer-left-side .footer-contact {
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .footer-left-side .footer-contact a {
    color: #fff;
    text-decoration: underline;
  }
  .footer-left-side .footer-contact p {
    color: #fff;
    text-align: left !important;
  }
  .footer-left-side .footer-trustpilot {
    margin-top: -15px;
  }
</style>
<div class="col-7 footer-left-side">
  <div class="row px-0">
    [%cache type:'cmenu' id:'web_footer'%] [%menu id:'web_footer'%] [%param
    *level_1%]
    <div class="col-4 footer-roadmap">
      <h5>[@name@]</h5>
      [@next_level@]
    </div>
    [%/param%] [%param *level_2%]
    <a href="[@url@]">[@name@]</a>
    [%/param%] [%/menu%] [%/cache%]
    <div class="col-8 footer-contact">
      [%content_zone id:'footer_address'%][%end content_zone%]
      <span
        >Copyright &copy; [%format type:'date' format:'#Y'%]today[%/format%]
        [@config:company_name@]</span
      >
      [%if [@config:company_abn@]%]<span>ABN: [@config:company_abn@]</span>[%/
      if%]
    </div>
    <div class="col-4 footer-trustpilot">
      <div
        class="trustpilot-widget"
        data-locale="en-US"
        data-template-id="53aa8807dec7e10d38f59f32"
        data-businessunit-id="559cc61a0000ff000580d967"
        data-style-height="150px"
        data-style-width="100%"
        data-theme="dark"
      >
        <a
          href="https://www.trustpilot.com/review/www.thehamperemporium.com.au"
          target="_blank"
          rel="noopener"
          >Trustpilot</a
        >
      </div>
    </div>
  </div>
</div>
