[%site_value id:'footer_javascript'%]
	<script>
		$('.search i.click').click(function() {
			$('.search form').toggle();
		});
		$('.corporate-menu-expander').click(function() {
			$(this).next('.corporate-list-mobile').toggleClass('corporate-list-mobile-expanded');
			$(this).find('.fa-angle-down').toggleClass('fa-angle-up');
		});
		/* change track order anchor in footer if user logged */
		if ($(".track-order-user")[0]){
			$('.footer-menu-holder .footer-menu:first-child ul li:nth-child(3) a').attr('href', 'https://www.thehamperemporium.com.au/_myacct#orders');
		}
	</script>
[%/site_value%]
<!DOCTYPE html>
<html [%if [@config:current_page_type@] eq 'category'%]itemscope itemtype="https://schema.org/CollectionPage"[%/if%] lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title [%if [@config:current_page_type@] eq 'category'%]itemprop="name"[%/if%] >[%url_info name:'page_title'/%]</title>
<meta [%if [@config:current_page_type@] eq 'category'%]itemprop="description"[%/if%] name="description" content="[%url_info name:'meta_description'/%]"/>
<meta name="keywords" content="[%url_info name:'meta_keywords'/%]"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>
<meta property="og:image" content="[%if [@config:current_page_type@] eq 'product'%][@config:homeurl@][%asset_url type:'product' id:'[@SKU@]' thumb:'full'/%][%ELSEIF [@config:current_page_type@] eq 'content'%][@config:homeurl@][%ASSET_url type:'content' id:'[@content_id@]' default:'/assets/website_logo.png'%][%/ASSET_url%][%ELSE%][@config:homeurl@]/assets/website_logo.png[%/if%]"/>
<meta property="og:title" content="[%url_info name:'page_title'/%]"/>
<meta property="og:site_name" content="[@config:website_name@]"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="[@config:canonical_url@]"/>
<meta property="og:description" content="[%url_info name:'meta_description'/%]"/>
[%if [@config:current_page_type@] eq 'customer' or [@config:current_page_type@] eq 'checkout'%]
<meta name="robots" content="noindex" />
[%/if%]
[@config:GOOGLE_VERIFICATION_CODE@]
<link rel="canonical" href="[@config:canonical_url@]"/>
<link rel="shortcut icon" href="/assets/favicon_logo.png"/>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,300,300italic' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<!--<link class="theme-selector" rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/app.css[%/ntheme_asset%]" media="all"/> -->
<link rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/style.min.css?1234567890123456789012345678901234567890123456789012345678901234567890124[%/ntheme_asset%]" media="all"/>
<link rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/product-thumbnail.css?12339[%/ntheme_asset%]" media="all"/>
[%cdn_asset html:'1' type:'css' domain:'maxcdn.bootstrapcdn.com' library:'font-awesome' version:'4.4.0'%]css/font-awesome.min.css[%/cdn_asset%]
[%cdn_asset html:'1' type:'css' library:'jquery_ui' version:'1.11.1'%]css/custom-theme/jquery-ui-1.8.18.custom.css[%/cdn_asset%]
[%cdn_asset html:'1' type:'css' library:'fancybox' version:'2.1.5'%]jquery.fancybox.css[%/cdn_asset%]
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!--[if lte IE 8]>
	[%cdn_asset html:'1' type:'js' library:'html5shiv' version:'3.7.0'%]html5shiv.js[%/cdn_asset%]
	[%cdn_asset html:'1' type:'js' library:'respond.js' version:'1.3.0'%]respond.min.js[%/cdn_asset%]
<![endif]-->
[%tracking_code type:'Declaration'/%]


<link rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/fonts/fonts.css[%/ntheme_asset%]" media="all"/>
<link rel="stylesheet" type="text/css" href="[%ntheme_asset%]/css/customNeilCss.css[%/ntheme_asset%]" media="all"/>

<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>





[%advert type:'text' template:'schema' limit:'1' ad_group:'schema-category'%]
    [%param *ifempty%]
        [%advert type:'text' template:'schema' limit:'5' category:'0' ad_group:'schema-sitewide'%]
        [%/advert%]
    [%/param%]
[%/advert%]


[%breadcrumb%]
	[%PARAM *header%]	
	
<script type='application/ld+json'>
    {
	
	
      "@context": "http://www.schema.org",
	  "@type": "BreadcrumbList",
      "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://www.thehamperemporium.com.au/"
        }
	[%/PARAM%]
	[%PARAM *body%]
        ,{
         "@type": "ListItem",
         "position": [%calc [@count@] + 2 /%]	,
            "name": "[@name@]",
            "item": "https://www.thehamperemporium.com.au[@url@]"
         }
	[%/PARAM%]
	[%PARAM *footer%]
		  ]
		 }
	  </script>

	[%/PARAM%]
[%/breadcrumb%]


</head>
<body id="n_[@config:current_page_type@]" class="n_[@CONFIG:TEMPLATELANG@] col-xs-12 [%IF [@config:current_page_type@] != 'home' %] inner_pages [%/IF%]">