[%site_value id:'footer_javascript'%]
<script>
  $(".search i.click").click(function () {
    $(".search form").toggle();
  });
  $(".corporate-menu-expander").click(function () {
    $(this)
      .next(".corporate-list-mobile")
      .toggleClass("corporate-list-mobile-expanded");
    $(this).find(".fa-angle-down").toggleClass("fa-angle-up");
  });
  /* change track order anchor in footer if user logged */
  if ($(".track-order-user")[0]) {
    $(".footer-menu-holder .footer-menu:first-child ul li:nth-child(3) a").attr(
      "href",
      "https://www.thehamperemporium.com.au/_myacct#orders"
    );
  }
</script>
[%/site_value%]
<!DOCTYPE html>
<html [%if [@config:current_page_type@] eq 'category'%]itemscope
itemtype="https://schema.org/CollectionPage"[%/if%] lang="en">
<head>
  [%load_template file:'headers/includes/head.template.html'/%]
  <link
    href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,300,300italic"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="[%ntheme_asset%]css/style.css[%/ntheme_asset%]"
    media="all"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="[%ntheme_asset%]css/product-thumbnail.css?12339[%/ntheme_asset%]"
    media="all"
  />
  [%cdn_asset html:'1' type:'css' library:'fancybox'
  version:'2.1.5'%]jquery.fancybox.css[%/cdn_asset%]
  <link
    rel="stylesheet"
    type="text/css"
    href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
  />

  <script
    src="//assets.findify.io/www.thehamperemporium.com.au.min.js"
    async
    defer
  ></script>

<link rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/fonts/fonts.css[%/ntheme_asset%]" media="all"/>
<link rel="stylesheet" type="text/css" href="[%ntheme_asset%]/css/customNeilCss.css[%/ntheme_asset%]" media="all"/>
<link rel="stylesheet" type="text/css" href="[%ntheme_asset%]/css/em2021.css[%/ntheme_asset%]" media="all"/>

  <script
    type="text/javascript"
    src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js"
    async
  ></script>

  [%advert type:'text' template:'schema' limit:'1' ad_group:'schema-category'%]
  [%param *ifempty%] [%advert type:'text' template:'schema' limit:'5'
  category:'0' ad_group:'schema-sitewide'%] [%/advert%] [%/param%] [%/advert%]
  [%breadcrumb%] [%PARAM *header%]

  <script type="application/ld+json">
       {


         "@context": "http://www.schema.org",
      "@type": "BreadcrumbList",
         "itemListElement": [
           {
               "@type": "ListItem",
               "position": 1,
               "name": "Home",
               "item": "https://www.thehamperemporium.com.au/"
           }
    [%/PARAM%]
    [%PARAM *body%]
           ,{
            "@type": "ListItem",
            "position": [%calc [@count@] + 2 /%]	,
               "name": "[@name@]",
               "item": "https://www.thehamperemporium.com.au[@url@]"
            }
    [%/PARAM%]
    [%PARAM *footer%]
    	  ]
    	 }
  </script>

  [%/PARAM%] [%/breadcrumb%] [%IF [@config:current_page_type@] == 'home' %]
  <meta
    name="facebook-domain-verification"
    content="ft9fc1ug9eti54u2nllstmfjokyu2d"
  />
  [%/IF%]
</head>
<body
  id="n_[@config:current_page_type@]"
  class="
    n_[@CONFIG:TEMPLATELANG@]
    [%IF [@config:current_page_type@] != 'home'%]
    inner_pages
    [%/IF%]
  "
>
  <!-- <div class="wrapper-header">
	<div class="row top-header">
		<div class="container">
			<div class="visible-lg col-sm-6 text-left left-column">
				<div class="col-12">
					<strong> 
						<i class="fas fa-map-marker-alt"></i>
						<a class="text-uppercase small" href="/sydney">Sydney</a> 
						<a class="text-uppercase small" href="/melbourne">Melbourne</a> 
						<a class="text-uppercase small" href="/brisbane">Brisbane</a> 
						<a class="text-uppercase small" href="/Christmas-Hampers">Christmas Hampers</a>
					</strong>
					<form class="form-inline top-search-form" name="productsearch" method="get" action="/">
						<input type="hidden" name="rf" value="kw"/>
						<input class="form-control" placeholder="search our hampers..." value="[%nohtml%][%filter ID:'keywords'%][%end filter%][%end nohtml%]" id="name_search" autocomplete="off" name="kw" type="search"/>
						<button type="submit" value="Search" class="btn btn-loads btn-search" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"><i class="fa fa-search"></i></button>
					</form>
				</div>
			</div>
			<div class="col-12 col-lg-5 text-center padding-tb-thin">
				[%content_zone id:'headertext' if_empty:''/%]
			</div>
			<div class="visible-lg col-sm-6 text-right right-column">
				<div class="row">
					<div class="col-12">
						<div id="header-cart" class="col-2 cart">
							<a id="cartcontentsheader" href="[%url page:'checkout' type:'cart'/%]"><i class="fa fa-shopping-cart"></i> <span rel="a2c_item_count" class="a2c_item_count">[%format type:'number' dp:'0'%][%CART id:'total_items'%][%/CART%][%/format%]</span></a>
							<ul class="dropdown-menu">
								<li class="box" id="neto-dropdown">
									<div class="body padding" id="cartcontents"></div>
									<div class="footer"></div>
								</li>
							</ul>
						</div>
						<div class="col-3 sign-in">
							[%if [@user:username@]%]
								<ul class="list-unstyled">
									<li class="dropdown dropdown-hover">
										<a href="/_myacct"><i class="fa fa-user" aria-hidden="true"></i> <span class="user-name-txt">[%if [@user:bill_first_name@]%][@user:bill_first_name@][%else%]My Account[%/if%]</span></a>
										<ul class="dropdown-menu">
											<li><a href="/_myacct">My Account</a></li>
											<li><a href="/_myacct/logout">Logout</a></li>
										</ul>
									</li>
								</ul>
							[%else%]
								<a href="/_myacct">Login</a>
							[%/if%]
						</div>
						<div class="col-6 help-menu text-right">
							<strong>
								<a class="text-uppercase small" href="/delivery">Delivery Calculator</a>
								<a class="text-uppercase small" rel="nofollow" href="/help-centre">Help</a>
								<a class="text-uppercase small" rel="nofollow" href="https://www.thehamperemporium.com.au/contact-us">Contact Us</a>
							</strong>
							
							<ul>
								<li class="dropdown dropdown-hover">
									<span class="caret"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
									<a href="/help-centre">Help</a>
									<ul class="dropdown-menu">
										<li><a href="/delivery">Delivery Calculator</a></li>
										[%if [@user:username@]%]
											<li><a href="/_myacct#orders" class="track-order-user">Track My Order</a></li>
										[%else%]
											<li><a href="/_myacct/nr_track_order" class="track-order-guest">Track My Order</a></li>
										[%/if%]
										<li><a rel="nofollow" href="/help-centre">FAQs</a></li>
										<li><a rel="nofollow" href="https://www.thehamperemporium.com.au/contact-us">Contact Us</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row bottom-header">
		<div class="container">
			<div class="visible-lg wrapper-logo">
				<a href="[@config:homeurl@]" title="[@config:company_name@]">
					<img class="logo" src="[@config:imageurl@]/website_logo.png?12" alt="[@config:company_name@]"/>
				</a>
			</div>
			<div class="navbar navbar-default">
				<div class="navbar-header">
					<ul class="navigation-list list-inline hidden-lg nMobileNav">
						<li>
							<a href="#" class="nToggleMenu" data-target=".navbar-responsive-collapse">
								<span class="icon"><i class="fa fa-bars"></i></span>
						Shop</a>
						</li>
						<li class="search">
							<a href="#"><span class="icon"><i class="fa fa-search click"></i></span>
								<span class="white-txt">Search</span>
							</a>
							<form class="form-inline" name="productsearch" method="get" action="/">
								<input type="hidden" name="rf" value="kw"/>
								<input class="form-control" placeholder="search our hampers..." value="[%nohtml%][%filter ID:'keywords'%][%end filter%][%end nohtml%]" id="name_search" autocomplete="off" name="kw" type="search"/>
								<button type="submit" value="Search" class="btn btn-loads btn-search" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"><i class="fa fa-search"></i></button>
							</form>
						</li>
						<li>
							<a href="[@config:homeurl@]" title="[@config:company_name@]">
								<img class="logo" src="[@config:imageurl@]/website_logo.png?12" alt="[@config:company_name@]"/>
							</a>
						</li>
						<li>
						[%if [@user:username@]%]
							<a href="/_myacct"><span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span> <span class="mob-user-name-txt">[@user:username@]</span></a>
						[%else%]
							<a href="/_myacct"><span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span> <span class="mob-user-name-txt">Login</span></a>
						[%/if%]
						</li>
						<li><a href="[%url page:'checkout' type:'cart'/%]"><span class="icon"><i class="fa fa-shopping-cart"></i></span>
						<span class="white-txt">Cart</span> <span rel="a2c_item_count" class="mob-cart-qty">[%format type:'number' dp:'0'%][%CART id:'total_items'%][%/CART%][%/format%]</span></a></li>

					</ul>
				</div>
				<div class="col-12 col-lg-2 navbar-collapse-bg">
					<div class="navbar-collapse navbar-responsive-collapse pt-0">
						<ul class="nav navbar-nav fixed-menu-wrapper d-flex flex-row">
							<li class="dropdown dropdown-hover">
								<a href="#" class="dropdown-toggle" data-target=".navbar-responsive-collapse">
									<span class="icon"><i class="fa fa-bars"></i></span>
								</a>
								<ul class="dropdown-menu navbarMenu">
									<li>
										[%load_template file:'headers/includes/navbar-dropdown-menu.template.html'/%]
									</li>
								</ul>
							</li>
							<li class="dropdown dropdown-hover">
								<a href="#" class="dropdown-toggle" data-target=".navbar-responsive-collapse">
									<span class="icon"><i class="fas fa-search"></i></span>
								</a>
								<ul class="dropdown-menu mobileNavWithChristmas">
									<li>
										<form class="form-inline top-search-form" name="productsearch" method="get" action="/">
											<input type="hidden" name="rf" value="kw"/>
											<input class="form-control" placeholder="search our hampers..." value="[%nohtml%][%filter ID:'keywords'%][%end filter%][%end nohtml%]" id="name_search" autocomplete="off" name="kw" type="search"/>
											<button type="submit" value="Search" class="btn btn-loads btn-search" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"><i class="fa fa-search"></i></button>
										</form>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="visible-lg col-sm-4 custom-nav top-menu-left">
					<ul class="nav navbar-nav menu-nav-left d-flex flex-row justify-content-end flex-nowrap">
						[%cache type:'menu' id:'new-header-menu'%]
							[%menu id:'new-header-menu'%]
								[%param *level_1%]
									<li class="[%if [@next_level@]%]dropdown dropdown-hover[%/if%]"> <a href="[@url@]" [%if [@next_level@]%]class="dropdown-toggle"[%/if%]>[@name@] [%if [@next_level@]%]<span class="caret"><i class="fa fa-caret-down" aria-hidden="true"></i></span>[%/if%]</a>
										[%if [@next_level@]%]
											<ul class="dropdown-menu">
												[@next_level@]
											</ul>
										[%/if%]
									</li>
									[%/param%]
								[%param *level_2%]
									<li class="[%if [@next_level@]%]dropdown dropdown-hover[%/if%]"> <a href="[@url@]" class="nuhover dropdown-toggle">[@name@]</a>
										[%if [@next_level@]%]
											<ul class="dropdown-menu dropdown-menu-horizontal">
												[@next_level@]
											</ul>
										[%/if%]
									</li>
									[%/param%]
								[%param *level_3%]
									<li class="[%if [@next_level@]%]dropdown dropdown-hover[%/if%]"> <a href="[@url@]">[@name@]</a>
										[%if [@next_level@]%]
											<ul class="dropdown-menu dropdown-menu-horizontal">
												[@next_level@]
											</ul>
										[%/if%]
									</li>
								[%/param%]
							[%/menu%]
						[%/ cache%]
					</ul>
				</div>
				<div class="visible-lg col-sm-4 custom-nav">
					<ul class="nav navbar-nav menu-nav-right d-flex flex-row justify-content-end flex-nowrap">
						[%cache type:'menu' id:'header-menu-rv2'%]
							[%menu id:'header-menu-rv2'%]
								[%param *level_1%]
									<li class="[%if [@next_level@]%]dropdown dropdown-hover grouped[%/if%]"> <a href="[@url@]" [%if [@next_level@]%]class="dropdown-toggle"[%/if%]>[@name@] [%if [@next_level@]%]<span class="caret"><i class="fa fa-caret-down" aria-hidden="true"></i></span>[%/if%]</a>
										[%if [@next_level@]%]
											<ul class="dropdown-menu">
												[@next_level@]
											</ul>
										[%/if%]
									</li>
									[%/param%]
								[%param *level_2%]
									<li class="[%if [@next_level@]%]dropdown dropdown-hover[%/if%]"> <a href="[@url@]" class="nuhover dropdown-toggle">[@name@]</a>
										[%if [@next_level@]%]
											<ul class="dropdown-menu dropdown-menu-horizontal">
												[@next_level@]
											</ul>
										[%/if%]
									</li>
									[%/param%]
								[%param *level_3%]
									<li class="[%if [@next_level@]%]dropdown dropdown-hover[%/if%]"> <a href="[@url@]">[@name@]</a>
										[%if [@next_level@]%]
											<ul class="dropdown-menu dropdown-menu-horizontal">
												[@next_level@]
											</ul>
										[%/if%]
									</li>
								[%/param%]
							[%/menu%]
						[%/ cache%]
					</ul>
				</div>
				<div class="col-12 col-lg-2 navbar-collapse-bg">
					<div class="navbar-collapse navbar-responsive-collapse">
						<div id="header-cart" class="cart">
							<a id="cartcontentsheader" href="[%url page:'checkout' type:'cart'/%]"><i class="fa fa-shopping-cart"></i> <span rel="a2c_item_count" class="a2c_item_count">[%format type:'number' dp:'0'%][%CART id:'total_items'%][%/CART%][%/format%]</span></a>
							<ul class="dropdown-menu">
								<li class="box" id="neto-dropdown">
									<div class="body padding" id="cartcontents"></div>
									<div class="footer"></div>
								</li>
							</ul>
						</div>
						<div class="sign-in">
							[%if [@user:username@]%]
								<ul class="list-unstyled">
									<li class="dropdown dropdown-hover">
										<a href="/_myacct"><i class="fa fa-user" aria-hidden="true"></i> <span class="user-name-txt">[%if [@user:bill_first_name@]%][@user:bill_first_name@][%else%]My Account[%/if%]</span></a>
										<ul class="dropdown-menu">
											<li><a href="/_myacct">My Account</a></li>
											<li><a href="/_myacct/logout">Logout</a></li>
										</ul>
									</li>
								</ul>
							[%else%]
								<a href="/_myacct">Login</a>
							[%/if%]
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
  [%load_template file:'headers/includes/menu-bar.template.html'/%] <main [%if
  [@config:current_page_type@] eq
  'category'%]itemprop="mainContentOfPage"[%/if%] id="main-content"
  class="main-content n_customer-padding-top" role="main" > [%if
  [@config:current_page_type@] eq 'category'%][%set [@cat_img@]%][%asset_url
  type:'content' id:'[@content_id@]'/%][%/set%]
  <meta
    itemprop="primaryImageOfPage"
    content="https://www.thehamperemporium.com.au[@cat_img@]?[@config:NETO_CSS_VERSION@]"
  />
  [%/if%] <div [%if [@config:current_page_type@] eq
  'category'%]itemprop="mainEntity" itemscope
  itemtype="https://schema.org/OfferCatalog"[%/if%]>
