<style>
  .corporate-dark-heading-advert {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    color: white;
    margin-top: 125px;
  }
  .corporate-dark-heading-advert .corporate-dark-heading-title {
    font-size: 56px;
    margin-bottom: 16px;
    line-height: 56px;
    text-transform: uppercase;
  }
  .corporate-dark-heading-advert .corporate-dark-heading-description {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .corporate-dark-heading-advert .corporate-dark-heading-button {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 16px;
    background-color: #bfa774;
    width: fit-content;
    padding: 5px 20px;
    color: #fff;
    border-radius: 20px;
  }
  .corporate-dark-heading-advert .corporate-dark-heading-link {
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    width: fit-content;
    border-bottom: 1px solid #fff;
  }
  .corporate-dark-heading-advert .corporate-dark-heading-button:hover,
  .corporate-dark-heading-advert .corporate-dark-heading-link:hover {
    text-decoration: none;
  }
</style>

<div class="row corporate-dark-heading-advert mb-0" style="background-image: url('[%asset_url type:'content' id:'[@content_id@]-1'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%]">
  <div class="container">
    <style></style>
    <div class="row">
      <div class="col-5 d-flex flex-column">
        <div class="corporate-dark-heading-title">
          [@content_short_description1@]
        </div>
        <div class="corporate-dark-heading-description">[@content_description2@]
        </div>
        <a href="[@content_short_description2@]" class="corporate-dark-heading-button">Corporate Ordering Platform</a>
        <a href="[@content_short_description3@]" class="corporate-dark-heading-link">Learn More</a>
      </div>
      <div class="col-7"></div>
    </div>
  </div>
</div>
