<section class="corporate-main-banner banner-box3-neil" id="page[@content_id@]">
    <div class="black-overlay-light"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-8">
				<div class="col-sm-12 col-md-3 hidden-xs hidden-sm">
					<div class="panel corporate-main-banner-3boxes-panel">
						<div class="panel-body">
							<h1 class="corporate-main-banner__text">Call Our Team:</h1>
							<h3>1300 459 452</h2>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-5">
					<div class="panel corporate-main-banner-3boxes-panel">
						<div class="panel-body">
							<h1 class="corporate-main-banner__text">Get Your Tailored Quote</h1>
							<a class="btn corporate-main-banner__btn" href="/corporate-enquiry-form">
								<span>START NOW</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div class="panel corporate-main-banner-3boxes-panel">
						<div class="panel-body">
							<h1 class="corporate-main-banner__text">Download Brochure</h1>
							<button type="button" class="btn corporate-main-banner__btn" data-toggle="modal" data-target="#downloadBrochureModal">
							  DOWNLOAD NOW
							</button>
						</div>
					</div>
				</div>	
				<div class="col-sm-12 col-md-12">
					<div class="panel corporate-main-banner-3boxes-bottom-panel">
						<div class="panel-body">
							<p class="corporate-main-banner__text">ORDERING MORE THAN 6 HAMPERS?</p>
							<button type="button" class="btn corporate-main-banner__btn textOnlyButton" data-toggle="modal" data-target="#downloadBulkOrderForm">
								DOWNLOAD THE BULK ORDER FORM NOW
							</button>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 hidden-md hidden-lg">
					<div class="panel corporate-main-banner-3boxes-bottom-panel">
						<div class="panel-body">
							<h5 class="corporate-main-banner__text">Call Our Team: 1300 459 452</h5>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Download brochure Modal -->
	<div class="modal fade modalHamperNeil" id="downloadBrochureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<button type="button" class="closeModalHamper exitXBlack" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  <div class="modal-body">
			<h2 class="removeAfterSuccess">We Will Send The Brochure Shortly.</h2>
			<p class="textCenter removeAfterSuccess">Please fill in your name and email below</p>
						<!-- Begin Mailchimp Signup Form -->
			<div id="mc_embed_signup" class="removeAfterSuccess">
				<form id="mc-embedded-brochure" class="validate" novalidate>
					<div id="errorMessageMC">
					</div>
					<div id="mc_embed_signup_scroll">
						<div class="mc-field-group">
							<input type="text" value="" name="FNAME" class="required email" id="mce-FNAME" placeholder="Your Name">
						</div>
						<div class="mc-field-group">
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
						</div>
						<input type="hidden" name="POPUPTYPE" value="BrochureDownload">
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    
						
						<div class="mc-field-group mc-checkBox downloadBrochurePopupCheckBox"> 
							<ul>
								<li class="container">								
									<label class="checkbox" for="group_16">
										<input type="checkbox" data-dojo-type="dijit/form/CheckBox" id="group_16" name="group[68986][16]" value="1" class="av-checkbox">
										<span class="checkmark"></span>
										<span class="textcheckbox">I would like to receive promotional material related to corporate gifting solutions</span> 
									</label> 
								</li>
							</ul>
						</div>
						
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3cedafdc7f0554b60ebfb02c0_d30936ecd0" tabindex="-1" value=""></div>
						<div class="clear"></div>
						<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">						
						<button type="button" class="closeModalHamper exitText" data-dismiss="modal" aria-label="Close">
						  No Thanks
						</button>
						<label for="mce-EMAIL" class="displayNone"></label>
					</div>
				</form>
			</div>
			
			<div id="successMC" class="successMC displayNone">
				<h2>Thank you for subscribing!<br />We'll be in touch soon</h2>
				<button class="popupClose" data-dismiss="modal"><span>Close & Start Shopping</span></button>
			</div>

			<!--End mc_embed_signup-->
			
		  </div>
		</div>
	  </div>
	</div>
	
	<!-- Download brochure Modal - end -->
	<!-- Download Bulk order form -->
	<div class="modal fade modalHamperNeil" id="downloadBulkOrderForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<button type="button" class="closeModalHamper exitXBlack" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
			
		  <div class="modal-body">
			<div class="askToSignIn">
				<h3>Please order directly through the website to secure your hampers. This will ensure that your hampers will be dispatched on the same day.</h3>
				<div class="yesNoBtn">
					<a class="btn corporate-main-banner__btn askToSignInNo" href="/assets/order_form/[@CONTENT_EXTERNAL_REF2@]" rel="nofollow">Download</a>
				</div>
			</div>
			<div class="downloadBulkOrderForm displayNone">
				<h2>Your Download will Start Shortly</h2>
				<a href="/assets/order_form/[@CONTENT_EXTERNAL_REF2@]">Click here if download doesn't start immediately</a>
			</div>
			<div class="yesToSignIn removeAfterSuccess displayNone">
				<h2 class="removeAfterSuccess">We Will Send The Bulk Order Form Shortly.</h2>
				<p class="textCenter removeAfterSuccess">Please fill in your name and email below</p>
							<!-- Begin Mailchimp Signup Form -->
				<div id="mc_embed_signup" class="removeAfterSuccess">
					<form id="mc-embedded-brochure-form" class="validate" novalidate>
						<div id="errorMessageMC">
						</div>
						<div id="mc_embed_signup_scroll">
							<div class="mc-field-group">
								<input type="text" value="" name="FNAME" class="required email" id="mce-FNAME" placeholder="Your Name">
							</div>
							<div class="mc-field-group">
								<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
							</div>
							<input type="hidden" name="POPUPTYPE" value="BulkOrderForm">
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3cedafdc7f0554b60ebfb02c0_e580c78d08" tabindex="-1" value=""></div>
							<div class="clear"></div>
							<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">						
							<button type="button" class="closeModalHamper exitText" data-dismiss="modal" aria-label="Close">
							  No Thanks
							</button>
							<label for="mce-EMAIL" class="displayNone"></label>
						</div>
					</form>
				</div>
			</div>
			
			<div id="successMC" class="successMC displayNone">
				<h2>Thank you for subscribing!<br />We'll be in touch soon</h2>
				<button class="popupClose" data-dismiss="modal"><span>Close & Start Shopping</span></button>
			</div>

			<!--End mc_embed_signup-->
			
		  </div>
		</div>
	  </div>
	</div>
	
	<!-- Download bulk order form Modal - end -->
</section>
<div class="container-clearfix corporate-banner-footer">
    <a class="mx-auto corporate-banner-footer__text" href="#branding">[@content_short_description2@] <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="15" height="17.14"><path fill="currentColor" d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z"></path></svg></a>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            [%breadcrumb%]
            	[%PARAM *header%]
            		<ul class="breadcrumb">
            			<li>
            				<a href="[@config:home_url@]">Home</a>
            			</li>
            	[%/PARAM%]
            	[%PARAM *body%]
            		<li>
            			<a href="[@url@]">[@name@]</a>
            		</li>
            	[%/PARAM%]
            	[%PARAM *footer%]
            		</ul>
            	[%/PARAM%]
            [%/breadcrumb%]
        </div>
    </div>
</div>
