<style>
  .corporate-dark-slider .coporate-dark-slider-image {
    height: 615px;
    width: 100%;
  }
  .corporate-dark-slider .carousel-indicators {
    justify-content: start;
  }
  .corporate-dark-slider .carousel-indicators li {
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
  .corporate-dark-slider .carousel-indicators .active {
    background-color: #bfa774;
  }
  .corporate-dark-slider .carousel-caption {
    text-align: left;
    max-width: 650px;
  }
  .corporate-dark-slider .carousel-caption h5 {
    font-size: 56px;
    line-height: 56px;
    max-width: 650px;
    text-transform: uppercase;
    color: #fff;
  }
  .corporate-dark-slider .carousel-caption a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
  }
  .dark-product-points {
    background-color: #121212;
    color: #fff;
  }
  .dark-product-points .container {
    padding: 12px 120px;
  }
  .dark-product-points .row > .col-4 {
    border-right: 1px solid #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 16px;
    justify-content: center;
  }
  .dark-product-points .row > .col-4:last-child {
    border: none;
  }
  .dark-product-points .row > .col-4 > i {
    font-size: 18px;
    margin-right: 10px;
  }
</style>
<div
  id="carouselCorporateHamper"
  class="row carousel slide corporate-dark-slider"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselCorporateHamper"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselCorporateHamper" data-slide-to="1"></li>
    <li data-target="#carouselCorporateHamper" data-slide-to="2"></li>
    <li data-target="#carouselCorporateHamper" data-slide-to="3"></li>
    <li data-target="#carouselCorporateHamper" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div
        class="coporate-dark-slider-image"
        style="background-image: url(https://picsum.photos/1920/1080)"
      ></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Custom Branded Corporative Hampers</h5>
        <a href="#">Start Your Order</a>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="coporate-dark-slider-image"
        style="background-image: url(https://picsum.photos/1920/1080)"
      ></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Custom Branded Corporative Hampers</h5>
        <a href="#">Start Your Order</a>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="coporate-dark-slider-image"
        style="background-image: url(https://picsum.photos/1920/1080)"
      ></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Custom Branded Corporative Hampers</h5>
        <a href="#">Start Your Order</a>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="coporate-dark-slider-image"
        style="background-image: url(https://picsum.photos/1920/1080)"
      ></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Custom Branded Corporative Hampers</h5>
        <a href="#">Start Your Order</a>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="coporate-dark-slider-image"
        style="background-image: url(https://picsum.photos/1920/1080)"
      ></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Custom Branded Corporative Hampers</h5>
        <a href="#">Start Your Order</a>
      </div>
    </div>
  </div>
</div>

<div class="row dark-product-points">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <i class="fas fa-truck"></i> Same Day Delivery Options
        </div>
        <div class="col-4">
          <i class="far fa-thumbs-up"></i> Dedicated Customer Service Team
        </div>
        <div class="col-4">
          <i class="fas fa-download"></i> Download Bulk Order Form
        </div>
      </div>
    </div>
  </div>
</div>
