<style>
  .corporate-dark-heading-advert {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    color: white;
    margin-top: 125px;
  }
  .corporate-dark-heading-advert .corporate-dark-heading-title {
    font-size: 56px;
    margin-bottom: 16px;
    line-height: 56px;
    text-transform: uppercase;
  }
  .corporate-dark-heading-advert .corporate-dark-heading-description {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .corporate-dark-heading-advert .corporate-dark-heading-button {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 16px;
    background-color: #bfa774;
    width: fit-content;
    padding: 5px 20px;
    color: #fff;
    border-radius: 20px;
  }
  .corporate-dark-heading-advert .corporate-dark-heading-link {
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    width: fit-content;
    border-bottom: 1px solid #fff;
  }
  .corporate-dark-heading-advert .corporate-dark-heading-button:hover,
  .corporate-dark-heading-advert .corporate-dark-heading-link:hover {
    text-decoration: none;
  }
</style>

<div
  class="row corporate-dark-heading-advert mb-0"
  style="background-image: url('https://picsum.photos/1920/1080')"
>
  <div class="container">
    <style></style>
    <div class="row">
      <div class="col-5 d-flex flex-column">
        <div class="corporate-dark-heading-title">
          The Corporate Hamper Experts
        </div>
        <div class="corporate-dark-heading-description">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
        <a href="#" class="corporate-dark-heading-button"
          >Corporate Ordering Platform</a
        >
        <a href="#" class="corporate-dark-heading-link">Learn More</a>
      </div>
      <div class="col-7"></div>
    </div>
  </div>
</div>
