<style>
  .corporate-dark-testimonials {
    margin-top: 55px;
  }
  .corporate-dark-testimonials .carousel-indicators {
    width: initial;
  }
  .corporate-dark-testimonials .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
  }
  .corporate-dark-testimonials .carousel-indicators .active {
    background-color: #bfa774;
  }
  .dark-carousel-null-image-wrapper {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .dark-carousel-null-image-wrapper .star-rating {
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-bottom: 15px;
    font-size: 21px;
    color: #bfa774;
  }
  .dark-carousel-null-image-wrapper .testimonial {
    width: 610px;
    font-size: 35px;
    margin-bottom: 15px;
    text-align: center;
  }
  .dark-carousel-null-image-wrapper .testimonial-author {
    font-size: 15px;
  }
</style>
<div class="col-12 corporate-dark-testimonials">
  <div
    id="carouselHomepageTestimonials"
    class="carousel slide"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselHomepageTestimonials"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselHomepageTestimonials" data-slide-to="1"></li>
      <li data-target="#carouselHomepageTestimonials" data-slide-to="2"></li>
      <li data-target="#carouselHomepageTestimonials" data-slide-to="3"></li>
      <li data-target="#carouselHomepageTestimonials" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="dark-carousel-null-image-wrapper">
          <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="testimonial">
            “The Hamper Emporium were so helpful with my order, the recipient
            loved it.”
          </div>
          <div class="testimonial-author">H.Simpson - NSW</div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="dark-carousel-null-image-wrapper">
          <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="testimonial">
            “The Hamper Emporium were so helpful with my order, the recipient
            loved it.”
          </div>
          <div class="testimonial-author">H.Simpson - NSW</div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="dark-carousel-null-image-wrapper">
          <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="testimonial">
            “The Hamper Emporium were so helpful with my order, the recipient
            loved it.”
          </div>
          <div class="testimonial-author">H.Simpson - NSW</div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="dark-carousel-null-image-wrapper">
          <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="testimonial">
            “The Hamper Emporium were so helpful with my order, the recipient
            loved it.”
          </div>
          <div class="testimonial-author">H.Simpson - NSW</div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="dark-carousel-null-image-wrapper">
          <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="testimonial">
            “The Hamper Emporium were so helpful with my order, the recipient
            loved it.”
          </div>
          <div class="testimonial-author">H.Simpson - NSW</div>
        </div>
      </div>
    </div>
  </div>
</div>
