<style>
  .corporate-dark-trusted-company {
    margin-top: 100px;
  }
  .corporate-dark-trusted-company .corporate-dark-trusted-company-description {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  .corporate-dark-trusted-company .corporate-dark-trusted-company-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 80px;
  }
  .corporate-dark-trusted-company .corporate-dark-trusted-company-logo {
    height: 50px;
    width: calc((100% / 7) - 30px);
  }
</style>
<div class="col-12 corporate-dark-trusted-company">
  <div class="row">
    <div class="col-12">
      <div class="corporate-dark-trusted-company-description">
        Trusted by over XXXX businesses including:
      </div>
    </div>
    <div class="col-12 corporate-dark-trusted-company-logos">
      <div
        class="corporate-dark-trusted-company-logo"
        style="background-image: url('https://picsum.photos/300/200')"
      ></div>
      <div
        class="corporate-dark-trusted-company-logo"
        style="background-image: url('https://picsum.photos/300/200')"
      ></div>
      <div
        class="corporate-dark-trusted-company-logo"
        style="background-image: url('https://picsum.photos/300/200')"
      ></div>
      <div
        class="corporate-dark-trusted-company-logo"
        style="background-image: url('https://picsum.photos/300/200')"
      ></div>
      <div
        class="corporate-dark-trusted-company-logo"
        style="background-image: url('https://picsum.photos/300/200')"
      ></div>
      <div
        class="corporate-dark-trusted-company-logo"
        style="background-image: url('https://picsum.photos/300/200')"
      ></div>
      <div
        class="corporate-dark-trusted-company-logo"
        style="background-image: url('https://picsum.photos/300/200')"
      ></div>
    </div>
  </div>
</div>
