<style>
  .corporate-dark-faqs {
    margin-top: 80px;
    padding: 0 100px;
  }
  .corporate-dark-faqs h6 {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #fff;
  }
  .corporate-dark-faqs .accordion .card {
    background-color: transparent;
    margin-bottom: 5px;
  }
  .corporate-dark-faqs .accordion .card .card-header {
    padding: 5px 20px;
    border-radius: 50px;
    background-color: #2b2b2b;
  }
  .corporate-dark-faqs
    .accordion
    .card:not(:first-of-type)
    .card-header:first-child {
    border-radius: 50px;
  }
  .corporate-dark-faqs .accordion .card button {
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-size: 15px;
  }
  .corporate-dark-faqs .accordion .card button:hover {
    text-decoration: none;
  }
  .corporate-dark-faqs .accordion .card .card-body {
    padding: 10px 35px;
    font-size: 15px;
  }
</style>
<div class="col-12 corporate-dark-faqs">
  <h6>Frequently Asked Questions</h6>
  <div class="accordion" id="accordionCorporateFaq">
    <div class="card">
      <div class="card-header" id="faq1">
        <h5 class="mb-0">
          <button
            class="btn btn-link"
            type="button"
            data-toggle="collapse"
            data-target="#collapse1"
            aria-controls="collapse1"
          >
            <span>Corporate FAQ #1</span>
            <i class="fas fa-plus"></i>
          </button>
        </h5>
      </div>

      <div
        id="collapse1"
        class="collapse"
        aria-labelledby="faq1"
        data-parent="#accordionCorporateFaq"
      >
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="faq2">
        <h5 class="mb-0">
          <button
            class="btn btn-link"
            type="button"
            data-toggle="collapse"
            data-target="#collapse2"
            aria-controls="collapse2"
          >
            <span>Corporate FAQ #2</span>
            <i class="fas fa-plus"></i>
          </button>
        </h5>
      </div>

      <div
        id="collapse2"
        class="collapse"
        aria-labelledby="faq2"
        data-parent="#accordionCorporateFaq"
      >
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="faq3">
        <h5 class="mb-0">
          <button
            class="btn btn-link"
            type="button"
            data-toggle="collapse"
            data-target="#collapse3"
            aria-controls="collapse3"
          >
            <span>Corporate FAQ #3</span>
            <i class="fas fa-plus"></i>
          </button>
        </h5>
      </div>

      <div
        id="collapse3"
        class="collapse"
        aria-labelledby="faq3"
        data-parent="#accordionCorporateFaq"
      >
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="faq4">
        <h5 class="mb-0">
          <button
            class="btn btn-link"
            type="button"
            data-toggle="collapse"
            data-target="#collapse4"
            aria-controls="collapse4"
          >
            <span>Corporate FAQ #4</span>
            <i class="fas fa-plus"></i>
          </button>
        </h5>
      </div>

      <div
        id="collapse4"
        class="collapse"
        aria-labelledby="faq4"
        data-parent="#accordionCorporateFaq"
      >
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="faq5">
        <h5 class="mb-0">
          <button
            class="btn btn-link"
            type="button"
            data-toggle="collapse"
            data-target="#collapse5"
            aria-controls="collapse5"
          >
            <span>Corporate FAQ #5</span>
            <i class="fas fa-plus"></i>
          </button>
        </h5>
      </div>

      <div
        id="collapse5"
        class="collapse"
        aria-labelledby="faq5"
        data-parent="#accordionCorporateFaq"
      >
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>
</div>
