<section class="padding-b-med">
    <div class="container corporate-gifts-section padding-b-med">
        <div class="corporate-gifts-section__text">
            <h2 class="corporate-gifts-section__title">The Best [@category_name@]
                Now Available at The Hamper Emporium!</h2>
            <div class="corporate-gifts-section__copy">
                <span>
                     [@content_description1@]
                </span>

            </div>
            <div class="corporate-gifts-section__copy">
                <a href="/contact-us" class="gift_buttons btn btn--black">Need assistance? Contact Us</a>
            </div>
        </div>
        <div class="corporate-gifts-section__image"
            style="background-image: url([%asset_url type:'content' thumb:'alt_1' id:'[@content_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%])">

        </div>
    </div>
</section>
