<section class="padding-tb-med">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 corporate-gifts-section">
                <div class="corporate-gifts-section__image hidden-xs"
                    style="background-image: url([%asset_url type:'content' thumb:'alt_1' id:'[@content_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%])">

                </div>
                <div class="corporate-gifts-section__text visible-xs">
                    <h2 class="corporate-gifts-section__title">[@CONTENT_EXTERNAL_SRC@]</h2>
                    <h3 class="corporate-gifts-section__subtitle">[@CONTENT_EXTERNAL_REF1@]</h3>
                </div>
                <div class="corporate-gifts-section__image visible-xs">

                </div>
                <div class="corporate-gifts-section__text">
                    <h2 class="corporate-gifts-section__title hidden-xs">[@CONTENT_EXTERNAL_SRC@]</h2>
                    <h3 class="corporate-gifts-section__subtitle hidden-xs">[@CONTENT_EXTERNAL_REF1@]</h3>
                    <div class="corporate-gifts-section__copy">
                        <span>
                            [%content_zone id:'corp_gift_text'%][%end content_zone%]
                        </span>

                    </div>
                    <div class="corporate-gifts-section__copy">
                        <a href="https://www.paperturn-view.com/the-hamper-emporium/corporatebrochure-2020-v5?pid=Nzg78782&v=1.26" target="_blank" class="gift_buttons btn btn--black">View Corporate Brochure</a>
                        <a href="/contact-us" class="gift_buttons btn btn--range">Contact Us</a>
                        <p><a class="corporate__helplink" href="#faqs">Or view our FAQs</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
