<section class="corporate-branding padding-tb-med">
    <span id="branding"></span>
    <div class="container visible-xs">
        <div class="row">
            <div class="col-xs-12"><h2 class="section-title corporate-branding__mobile-header padding-b-small">Delight
             your customers with Corporate Branded Ribbons, Gift Cards & More!</h2></div>
        </div>
    </div>

    <div class="jumbotron corporate-branding__header hidden-xs">
        <div class="container">
            <h1 class="corporate-branding__title">
                [@content_short_description3@]
            </h1>
        </div>
        <div class="container">
    		<div class="row">
    			<div class="col-sm-12">

                    <ul class="nav nav-pills corporate-branding__tabs corporate-tabs">
                        <li class="active">
                            <a href="#1brand" data-toggle="tab">Corporate Branding</a>
                        </li>
                        <li><a href="#2brand" data-toggle="tab">Corporate Packages</a>
                        </li>
                        <li><a href="#3brand" data-toggle="tab">Corporate Gift Platform</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
		<div class="row">
			<div class="col-sm-12">
                <div class="tab-content clearfix corporate-branding__panes">
                    <div class="visible-xs">
                        <a class="accordion-link branding-accordion collapsed active" href="#1brand" data-toggle="tab">Corporate Branding
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="18" height="20.55"><path fill="currentColor" d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z"></path></svg>
                        </a></div>
                    <div class="tab-pane active" id="1brand">
                        <h2 class="section-title padding-b-med hidden-xs">Corporate Branded Ribbon</h2>
                        <div class="row">
                            <div class="col-md-5 corporate-branding__desc">
                                [@content_description1@]
                            </div>
                            <div class="col-md-6 col-md-offset-1 hidden-xs">
                                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                                <div class='embed-container'>
                                    <iframe loading="lazy"
                                      src="https://www.youtube.com/embed/[@content_label1@]"
                                      srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/[@content_label1@]?autoplay=1><img src=https://img.youtube.com/vi/[@content_label1@]/hqdefault.jpg alt=''><span>▶</span></a>"
                                      frameborder="0"
                                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                      allowfullscreen
                                      title=""
                                    ></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="row padding-t-med">
                            <div class="col-xs-12">
                    			<h4>Gold Branding</h4>
                                <div class="ribbon__wrapper">
                                    [%THUMB_LIST type:'content' content_type:'ribbons' limit:'9999' filter_category:'7158' sortby:'sortorder'%]
                        				[%PARAM *header%]
                                        <div class="gold-ribbon__slick">
                        				[%END PARAM%]
                        					[%PARAM *body%]
                                            <div class="ribbon__slide">
                                				<img alt="[@content_name@]" data-lazy="[%asset_url type:'content' thumb:'thumb' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'/%]">
                                                <span class="ribbon__subtitle">[@content_name@]</span>
                                			</div>
                        					[%END PARAM%]
                        				[%PARAM *footer%]
                                        </div>
                        				[%END PARAM%]
                        			[%END THUMB_LIST%]
                                </div>
                            </div>
                		</div>
                        <div class="row padding-t-med">
                            <div class="col-xs-12">
                                <h4>Silver Branding</h4>
                                <div class="ribbon__wrapper">
                                    [%THUMB_LIST type:'content' content_type:'ribbons' limit:'9999' filter_category:'7159' sortby:'sortorder'%]
                        				[%PARAM *header%]
                                        <div class="silver-ribbon__slick">
                        				[%END PARAM%]
                        					[%PARAM *body%]
                                            <div class="ribbon__slide">
                                				<img alt="[@content_name@]"
                                                data-lazy="[%asset_url type:'content' id:'[@content_id@]' thumb:'thumb' default:'[@config:imageurl@]/pixel.gif'/%]">
                                                <span class="ribbon__subtitle">[@content_name@]</span>
                                			</div>
                        					[%END PARAM%]
                        				[%PARAM *footer%]
                                        </div>
                        				[%END PARAM%]
                        			[%END THUMB_LIST%]
                                </div>
                            </div>
                        </div>
                        <div class="row visible-xs padding-t-med">
                            <div class="col-xs-12">
                                <div class='embed-container'>
                                    <iframe loading="lazy"
                                      src="https://www.youtube.com/embed/[@content_label1@]"
                                      srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/[@content_label1@]?autoplay=1><img src=https://img.youtube.com/vi/[@content_label1@]/hqdefault.jpg alt=''><span>▶</span></a>"
                                      frameborder="0"
                                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                      allowfullscreen
                                      title=""
                                    ></iframe>
                                </div>
                            </div>
                        </div>
                        <h2 class="section-title padding-tb-med">Corporate Branded Gift Cards</h2>
                        <div class="row padding-tb-med">
                            <div class="col-md-5 corporate-branding__desc">
                                [%content_zone id:'corp_branded_card'%][%end content_zone%]
                            </div>
                            <div class="col-md-6 col-md-offset-1  hidden-xs">
                                <div class='embed-container'>
                                    <iframe loading="lazy"
                                      src="https://www.youtube.com/embed/[@content_label2@]"
                                      srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/[@content_label2@]?autoplay=1><img src=https://img.youtube.com/vi/[@content_label2@]/hqdefault.jpg alt=''><span>▶</span></a>"
                                      frameborder="0"
                                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                      allowfullscreen
                                      title=""
                                    ></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="row padding-t-med">
                            <div class="col-xs-12">
                                <div class="ribbon__wrapper">
                                    [%THUMB_LIST type:'content' content_type:'gift_tags' limit:'9999' filter_category:'' sortby:'sortorder'%]
                        				[%PARAM *header%]
                                        <div class="gift-card__slick">
                        				[%END PARAM%]
                        					[%PARAM *body%]
                                            <div class="ribbon__slide">
                                				<img alt="[@content_name@]" 
                                                data-lazy="[%asset_url type:'content' thumb:'thumb1' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'/%]">
                                                <span class="ribbon__subtitle">[@content_name@]</span>
                                			</div>
                        					[%END PARAM%]
                        				[%PARAM *footer%]
                                        </div>
                        				[%END PARAM%]
                        			[%END THUMB_LIST%]
                                </div>
                            </div>
                		</div>
                        <div class="row visible-xs padding-t-med">
                            <div class="col-xs-12">
                                <div class='embed-container'>
                                    <!-- <iframe loading="lazy" src='https://www.youtube.com/embed/[@content_label2@]' frameborder='0' allowfullscreen></iframe> -->
                                    <iframe
                                      src="https://www.youtube.com/embed/[@content_label2@]"
                                      srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/[@content_label2@]?autoplay=1><img src=https://img.youtube.com/vi/[@content_label2@]/hqdefault.jpg alt=''><span>▶</span></a>"
                                      frameborder="0"
                                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                      allowfullscreen
                                      title=""
                                    ></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="visible-xs">
                        <a class="accordion-link branding-accordion collapsed" href="#2brand" data-toggle="tab">Corporate Packages
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="18" height="20.55"><path fill="currentColor" d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z"></path></svg>
                        </a></div>
                    <div class="tab-pane" id="2brand">
                        <h2 class="section-title padding-b-med">Corporate Brand Packages</h2>
                        <div class="row">
                            <div class="col-md-5 corporate-branding__desc">
                                [@content_description2@]
                            </div>
                            <div class="col-md-6 col-md-offset-1 hidden-xs">
                                <div class="panel panel-default corporate-branding__panel">
                                  <div class="panel-heading">How to access</div>
                                  <div class="panel-body">
                                    <div class="panel__textwrapper">
                                        <div class="panel__text">
                                            [%content_zone id:'corp_branded_packages'%][%end content_zone%]
                                        </div>
                                        <div class="panel__divider">

                                        </div>
                                        <div class="panel__phone">
                                            [%content_zone id:'corp_phone'%][%end content_zone%]
                                        </div>
                                    </div>

                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                Packages &amp; Wraps<br/>
                                <div class="corporate-branding__img">
                                    [%content_zone id:'corp_branded_img'%][%end content_zone%]
                                </div>
                            </div>
                        </div>
                        <div class="row visible-xs padding-tb-med">
                            <div class="col-xs-12">
                                <div class="panel panel-default corporate-branding__panel">
                                  <div class="panel-heading">How to access</div>
                                  <div class="panel-body">
                                    <div class="panel__textwrapper">
                                        <div class="panel__text">
                                            [%content_zone id:'corp_branded_packages'%][%end content_zone%]
                                        </div>
                                        <div class="panel__phone">
                                            [%content_zone id:'corp_phone'%][%end content_zone%]
                                        </div>
                                    </div>

                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="visible-xs">
                        <a class="accordion-link branding-accordion collapsed" href="#3brand" data-toggle="tab">Corporate Gift Platform
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="18" height="20.55"><path fill="currentColor" d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z"></path></svg>
                        </a></div>
                    <div class="tab-pane" id="3brand">
                        <h2 class="section-title padding-b-med">Corporate Gift Platform</h2>
                        <div class="row">
                            <div class="col-md-5 corporate-branding__desc">
                                [@content_description3@]
                            </div>
                            <div class="col-md-6 col-md-offset-1 hidden-xs">
                                <div class="panel panel-default corporate-branding__panel">
                                  <div class="panel-heading">How to access</div>
                                  <div class="panel-body">
                                    <div class="panel__textwrapper">
                                        <div class="panel__text">
                                            [%content_zone id:'corp_gift_platform'%][%end content_zone%]
                                        </div>
                                        <div class="panel__divider">

                                        </div>
                                        <div class="panel__phone">
                                            [%content_zone id:'corp_phone'%][%end content_zone%]
                                        </div>
                                    </div>

                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="corporate-branding__img">
                                    [%content_zone id:'corp_branded_img2'%][%end content_zone%]
                                </div>
                            </div>
                        </div>
                        <div class="row visible-xs padding-tb-med">
                            <div class="col-xs-12">
                                <div class="panel panel-default corporate-branding__panel">
                                  <div class="panel-heading">How to access</div>
                                  <div class="panel-body">
                                    <div class="panel__textwrapper">
                                        <div class="panel__text">
                                            [%content_zone id:'corp_gift_platform'%][%end content_zone%]
                                        </div>
                                        <div class="panel__phone">
                                            [%content_zone id:'corp_phone'%][%end content_zone%]
                                        </div>
                                    </div>

                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>

</section>
