<section class="corporate-products">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-title padding-b-small">Popular Corporate Hampers</h2>

        <ul
          class="nav nav-pills corporate-products__tabs corporate-tabs hidden"
        >
          <li class="active">
            <a href="#1a" data-toggle="tab">Settlement Gifts</a>
          </li>
          <li><a href="#2a" data-toggle="tab">Staff Gifts</a></li>
          <li>
            <a href="#3a" data-toggle="tab">Christmas Corporate Hampers</a>
          </li>
        </ul>

        <div class="tab-content clearfix corporate-products__panes">
          <div class="tab-pane active" id="1a">
            [%thumb_list type:'products' template:'corporate-hampers-home'
            filter_category:'6822' sortby:'top_sellers' limit:'8'%] [%param
            *header%]
            <div class="row">[%/param%] [%param *footer%]</div>
            [%/param%] [%/thumb_list%]
            <div class="corporate-products__full-range hidden">
              <a href="/Corporate-Hampers/settlement" class="btn--range"
                >Full Range</a
              >
            </div>
          </div>
          <div class="tab-pane" id="2a">
            [%thumb_list type:'products' template:'corporate-hampers-home'
            filter_category:'6823' sortby:'top_sellers' limit:'8'%] [%param
            *header%]
            <div class="row">[%/param%] [%param *footer%]</div>
            [%/param%] [%/thumb_list%]
            <div class="corporate-products__full-range hidden">
              <a href="/Corporate-Hampers/staff" class="btn--range"
                >Full Range</a
              >
            </div>
          </div>
          <div class="tab-pane" id="3a">
            [%thumb_list type:'products' template:'corporate-hampers-home'
            filter_category:'6824' sortby:'top_sellers' limit:'8'%] [%param
            *header%]
            <div class="row">[%/param%] [%param *footer%]</div>
            [%/param%] [%/thumb_list%]
            <div class="corporate-products__full-range hidden">
              <a href="/Corporate-Hampers/christmas" class="btn--range"
                >Full Range</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
