<style>
  .corporate-dark-columns {
    margin-top: 80px;
  }
  .corporate-dark-columns > .row > .col-4 {
    padding-left: 33px;
    padding-right: 33px;
  }
  .corporate-dark-columns > .row:first-child {
    padding-left: 0;
  }
  .corporate-dark-columns > .row:last-child {
    padding-right: 0;
  }
  .corporate-dark-columns .corporate-dark-columns-image {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 22px;
  }
  .corporate-dark-columns .corporate-dark-columns-title {
    font-size: 45px;
    margin-bottom: 10px;
    line-height: 45px;
    text-transform: uppercase;
  }
  .corporate-dark-columns .corporate-dark-columns-subtitle {
    font-size: 17px;
    margin-bottom: 32px;
    line-height: 20px;
    text-transform: uppercase;
  }
  .corporate-dark-columns .corporate-dark-columns-description {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .corporate-dark-columns .corporate-dark-columns-link {
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    width: fit-content;
    border-bottom: 1px solid #fff;
  }
  .corporate-dark-columns .corporate-dark-columns-link:hover {
    text-decoration: none;
  }
</style>

[%advert type:'text' ad_group:'corp-3-cols-txt-img' template:'corp-dark-cols3' category:'0' limit:'6'%]
[%param *header%]
<div class="col-12 corporate-dark-columns">
	<div class="row">
[%/param%]
[%param footer%]
	</div>
</div>
[%/param%]
[%/advert%]
