<style>
  .corporate-dark-columns {
    margin-top: 80px;
  }
  .corporate-dark-columns > .row > .col-4 {
    padding-left: 33px;
    padding-right: 33px;
  }
  .corporate-dark-columns > .row:first-child {
    padding-left: 0;
  }
  .corporate-dark-columns > .row:last-child {
    padding-right: 0;
  }
  .corporate-dark-columns .corporate-dark-columns-image {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 22px;
  }
  .corporate-dark-columns .corporate-dark-columns-title {
    font-size: 45px;
    margin-bottom: 10px;
    line-height: 45px;
    text-transform: uppercase;
  }
  .corporate-dark-columns .corporate-dark-columns-subtitle {
    font-size: 17px;
    margin-bottom: 32px;
    line-height: 20px;
    text-transform: uppercase;
  }
  .corporate-dark-columns .corporate-dark-columns-description {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .corporate-dark-columns .corporate-dark-columns-link {
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    width: fit-content;
    border-bottom: 1px solid #fff;
  }
  .corporate-dark-columns .corporate-dark-columns-link:hover {
    text-decoration: none;
  }
</style>
<div class="col-12 corporate-dark-columns">
  <div class="row">
    <div class="col-4">
      <div
        class="corporate-dark-columns-image"
        style="background-image: url('https://picsum.photos/200/400')"
      ></div>
      <div class="corporate-dark-columns-title">Premium Ribbon</div>
      <div class="corporate-dark-columns-subtitle">Luxury satin, Laser cut</div>
      <div class="corporate-dark-columns-description">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet.
      </div>
      <a href="#" class="corporate-dark-columns-link">Start an order</a>
    </div>
    <div class="col-4">
      <div
        class="corporate-dark-columns-image"
        style="background-image: url('https://picsum.photos/200/400')"
      ></div>
      <div class="corporate-dark-columns-title">Custom Gift cards</div>
      <div class="corporate-dark-columns-subtitle">bespoke, Personalised</div>
      <div class="corporate-dark-columns-description">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet.
      </div>
      <a href="#" class="corporate-dark-columns-link">Start an order</a>
    </div>
    <div class="col-4">
      <div
        class="corporate-dark-columns-image"
        style="background-image: url('https://picsum.photos/200/400')"
      ></div>
      <div class="corporate-dark-columns-title">Premium Accessories</div>
      <div class="corporate-dark-columns-subtitle">Memorable, lasting</div>
      <div class="corporate-dark-columns-description">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet.
      </div>
      <a href="#" class="corporate-dark-columns-link">Start an order</a>
    </div>
  </div>
</div>
