<style>
  .homepage-alt-adverts {
    margin-top: 15px;
  }
  .homepage-alt-adverts .alt-advert-image-wrapper {
    margin-top: 60px;
    height: 410px;
  }
  .homepage-alt-adverts .alt-advert-border {
    border: 2px solid #bfa774;
    height: 100%;
    position: relative;
    top: -10px;
  }
  .homepage-alt-adverts .left-advert-border {
    left: -10px;
  }
  .homepage-alt-adverts .right-advert-border {
    right: -10px;
  }
  .homepage-alt-adverts .alt-advert-image {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-position: center;
    background-size: cover;
  }
  .homepage-alt-adverts .alt-advert-text {
    margin-top: 40px;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  .homepage-alt-adverts .right-advert-text {
    margin-left: 50px;
  }
  .homepage-alt-adverts .left-advert-text {
    margin-left: auto;
    margin-right: 50px;
  }
  .homepage-alt-adverts .alt-advert-header {
    font-size: 56px;
    text-transform: uppercase;
  }
  .homepage-alt-adverts .alt-advert-subtitle {
    font-size: 16px;
    margin-bottom: 24px;
    text-transform: uppercase;
  }
  .homepage-alt-adverts .alt-advert-description {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .homepage-alt-adverts .alt-advert-link {
    font-size: 14px;
    margin-top: 8px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #2b2b2b;
  }
</style>

<div class="homepage-alt-adverts">
  <div class="row">
    <div class="col-7">
      <div class="alt-advert-image-wrapper">
        <div
          class="alt-advert-image"
          style="background-image: url('https://picsum.photos/300/200')"
        >
          <div class="alt-advert-border left-advert-border"></div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="alt-advert-text right-advert-text">
        <div class="alt-advert-header">Cocktail Hampers</div>
        <div class="alt-advert-subtitle">Classy, fun, timeless</div>
        <div class="alt-advert-description">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
        <a href="#" class="alt-advert-link">Shop Cocktail Hampers</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="alt-advert-text left-advert-text">
        <div class="alt-advert-header">Hampers For Mum</div>
        <div class="alt-advert-subtitle">Indulgent, pampering</div>
        <div class="alt-advert-description">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
        <a href="#" class="alt-advert-link">Shop Cocktail Hampers</a>
      </div>
    </div>
    <div class="col-7">
      <div class="alt-advert-image-wrapper">
        <div
          class="alt-advert-image"
          style="background-image: url('https://picsum.photos/300/200')"
        >
          <div class="alt-advert-border right-advert-border"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="alt-advert-image-wrapper">
        <div
          class="alt-advert-image"
          style="background-image: url('https://picsum.photos/300/200')"
        >
          <div class="alt-advert-border left-advert-border"></div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="alt-advert-text right-advert-text">
        <div class="alt-advert-header">Cocktail Hampers</div>
        <div class="alt-advert-subtitle">Classy, fun, timeless</div>
        <div class="alt-advert-description">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
        <a href="#" class="alt-advert-link">Shop Cocktail Hampers</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="alt-advert-text left-advert-text">
        <div class="alt-advert-header">Cocktail Hampers</div>
        <div class="alt-advert-subtitle">Classy, fun, timeless</div>
        <div class="alt-advert-description">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
        <a href="#" class="alt-advert-link">Shop Cocktail Hampers</a>
      </div>
    </div>
    <div class="col-7">
      <div class="alt-advert-image-wrapper">
        <div
          class="alt-advert-image"
          style="background-image: url('https://picsum.photos/300/200')"
        >
          <div class="alt-advert-border right-advert-border"></div>
        </div>
      </div>
    </div>
  </div>
</div>
