<style>
  .carousel-null-image-wrapper {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel-null-image-wrapper .star-rating {
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-bottom: 15px;
    font-size: 21px;
    color: #bfa774;
  }
  .carousel-null-image-wrapper .testimonial {
    width: 610px;
    font-size: 35px;
    margin-bottom: 15px;
    text-align: center;
  }
  .carousel-null-image-wrapper .testimonial-author {
    font-size: 15px;
  }
</style>

  
[%advert type:'text' ad_group:'testimonials-2021' template:'home-testimonials' category:'0' limit:'6'%]
[%param *header%]
<div id="carouselHomepageTestimonials" class="carousel slide" data-ride="carousel">
[%/param%]
[%param footer%] 
</div>

[%/param%]
[%/advert%]

[%SITE_VALUE id:'footer_javascript'%]
	<!-- codes here -->
	<script>
$('#carouselHomepageTestimonials').slick({
  autoplay: true,
  autoplaySpeed: 2000,
});
</script>
[%/SITE_VALUE%]
  