<style>
  .homepage-alt-adverts {
    margin-top: 15px;
  }
  .homepage-alt-adverts .alt-advert-image-wrapper {
    margin-top: 60px;
    height: 410px;
  }
  .homepage-alt-adverts .alt-advert-border {
    border: 2px solid #bfa774;
    height: 100%;
    position: relative;
    top: -10px;
  }
  .homepage-alt-adverts .left-advert-border {
    left: -10px;
  }
  .homepage-alt-adverts .right-advert-border {
    right: -10px;
  }
  .homepage-alt-adverts .alt-advert-image {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-position: center;
    background-size: cover;
  }
  .homepage-alt-adverts .alt-advert-text {
    margin-top: 40px;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  .homepage-alt-adverts .right-advert-text {
    margin-left: 50px;
  }
  .homepage-alt-adverts .left-advert-text {
    margin-left: auto;
    margin-right: 50px;
  }
  .homepage-alt-adverts .alt-advert-header {
    font-size: 56px;
    text-transform: uppercase;
  }
  .homepage-alt-adverts .alt-advert-subtitle {
    font-size: 16px;
    margin-bottom: 24px;
    text-transform: uppercase;
  }
  .homepage-alt-adverts .alt-advert-description {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .homepage-alt-adverts .alt-advert-link {
    font-size: 14px;
    margin-top: 8px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #2b2b2b;
  }
</style>


[%advert type:'text' ad_group:'advert-with-text-alternate' template:'advert-text-alternate' category:'0' limit:'6'%]
[%param *header%]
<div class="homepage-alt-adverts">
[%/param%]
[%param footer%] 
</div>

[%/param%]
[%/advert%]