<style>
  .homepage-delivery-estimates > hr {
    margin-top: 120px;
    border-color: #707070;
  }
  .homepage-delivery-estimates > div {
    padding: 0 200px;
    margin-top: 55px;
  }
  .homepage-delivery-estimates .homepage-delivery-estimates-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    margin-bottom: 20px;
  }
  .homepage-delivery-estimates .homepage-delivery-estimates-header > i {
    font-size: 35px;
    margin-right: 20px;
  }
  .homepage-delivery-estimates .homepage-delivery-type {
    font-size: 12px;
  }
  .homepage-delivery-estimates .homepage-delivery-price {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .homepage-delivery-estimates .homepage-delivery-area {
    font-size: 10px;
    font-style: italic;
    color: #bfa774;
  }
</style>

<div class="homepage-delivery-estimates">
  <hr />
  <div class="row">
    <div class="col-12 homepage-delivery-estimates-header">
      <i class="fas fa-truck"></i>
      <span>Delivery Estimates</span>
    </div>
    <div class="col-4 d-flex justify-content-between align-items-end">
      <span class="homepage-delivery-type">Click & Collect:</span>
      <span class="homepage-delivery-price">Free</span>
      <span class="homepage-delivery-area"></span>
    </div>
    <div class="col-4 d-flex justify-content-between align-items-end">
      <span class="homepage-delivery-type">Same Day:</span>
      <span class="homepage-delivery-price">$14.95</span>
      <span class="homepage-delivery-area">Sydney Metro</span>
    </div>
    <div class="col-4 d-flex justify-content-between align-items-end">
      <span class="homepage-delivery-type">Express:</span>
      <span class="homepage-delivery-price">$18.95</span>
      <span class="homepage-delivery-area">All other area</span>
    </div>
    <div class="col-4 d-flex justify-content-between align-items-end">
      <span class="homepage-delivery-type">Regular Delivery:</span>
      <span class="homepage-delivery-price">Free</span>
      <span class="homepage-delivery-area"></span>
    </div>
    <div class="col-4 d-flex justify-content-between align-items-end">
      <span class="homepage-delivery-type">Next Day:</span>
      <span class="homepage-delivery-price">$14.95</span>
      <span class="homepage-delivery-area">Capital Cities</span>
    </div>
  </div>
</div>
