<style>
  .homepage-hampers {
    margin-top: 30px;
  }
  .homepage-hampers .hamper-image {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
    border-radius: 10px;
  }
  .homepage-hampers .hamper-title {
    color: #fff;
    background: #bfa774;
    width: 100%;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 0 0 10px 10px;
  }
  .homepage-hampers a:hover {
    text-decoration: none;
  }
  .homepage-hampers .hamper-finder-description {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    top: 35px;
    background: #fff;
    color: #bfa774;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 20px;
    line-height: 20px;
  }
  .homepage-hampers .hamper-finder-button {
    color: #fff;
    background: #bfa774;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 0 10px;
  }
  .homepage-hampers .hamper-finder-divider {
    border-color: #bfa774;
  }
  
/* home banners - end */
</style>

[%advert type:'text' ad_group:'home-banners-2021' template:'home-banners' category:'0' limit:'8'%]
	[%param *header%]
		<div class="row homepage-hampers">
	[%/param%]
	[%param footer%]
	
		  <div class="col-12">
			<div class="d-flex justify-content-center">
			  <div class="hamper-finder-description">
				<span>Need help finding the perfect hamper?</span>
				<a class="hamper-finder-button" href="#">
				  <span>Hamper Finder</span>
				  <i class="fas fa-search"></i>
				</a>
				<span><i class="fas fa-info-circle"></i></span>
			  </div>
			</div>
			<hr class="hamper-finder-divider" />
		  </div>
		</div>
	[%/param%]
[%/advert%]

