<style>
  .product-points {
    width: 100%;
    background-color: #f6f6f6;
    padding: 10px;
  }
  .product-points .point {
    text-align: center;
    padding: 5px;
  }
  .product-points .point:nth-child(3) {
    border-left: 1px solid #626262;
    border-right: 1px solid #626262;
  }
  .product-points .point-content a {
    color: #626262;
    text-decoration: none;
    font-size: 15px;
  }
  .product-points .point-content i {
    font-size: 20px;
    margin-right: 5px;
  }
</style>

<div class="product-points">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3 point">
        <div class="point-content icon">
          <a href="https://www.thehamperemporium.com.au/delivery">
            <i class="fas fa-thumbs-up"></i>
            <span class="first-line">Same Day Delivery Options</span>
          </a>
        </div>
      </div>
      <div class="col-3 point">
        <div class="point-content icon">
          <a href="#">
            <i class="fas fa-truck"></i>
            <span class="first-line">Over 500,000 Customers</span>
          </a>
        </div>
      </div>
      <div class="col-3 point">
        <div class="point-content icon">
          <a href="[@CONFIG:bulk_upload_link@]">
            <i class="fas fa-download"></i>
            <span class="first-line">Download Bulk Order Form</span>
          </a>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
