 [%advert type:'text' template:'carousel' limit:'10' ad_group:'new-homepage-main-slider'%]
	[%param *header%]
		<div id="homepageCarousel" class="carousel slide">
			<div class="carousel-inner">
	[%/param%]
	[%param *footer%]
			</div>
			[%if [@total_showing@] > 1%]
				<a class="carousel-control-prev" href="#homepageCarousel" role="button" data-slide="prev">
					<span  class="fa fa-angle-left" aria-hidden="true"></span> 
				</a>
				<a class="carousel-control-next" href="#homepageCarousel" role="button" data-slide="next">
					<span class="fa fa-angle-right" aria-hidden="true"></span>
				</a>
			[%/if%]					
		</div>
	[%/param%]
[%/advert%]

<!---MOBILE SLIDER -->
	
[%advert type:'text' limit:'8' template:'carousel' ad_group:'main-banner-mobile' %]
	[%param *header%]
		<div class="home-page-banner-mob">	
		<div class="row">
	[%/param%]
	[%param footer%]
		</div>
	</div>	
	[%/param%]
	[%param *ifempty%]
		[%random_products category:'0' template:'' limit:'8'%]
			[%param *header%]
				<div class="row">
			[%/param%]
			[%param *footer%]
				</div>
			</div>	
			[%/param%]
		[%/random_products%]
	[%/param%]
[%/advert%]