<script language="javascript" type="text/javascript">
  function print_invoice() {
    var win = window.open(
      '[%URL page:"account" type:"print" fn:"invoice" id:"[@order_id@]"%][%END URL%]',
      "print_invoice",
      "width=740,height=400,scrollbars=yes,resizeable=yes"
    );
  }
</script>

<div class="container">
  <!--# Start Breadcrumb# ##-->
  <ul class="breadcrumb">
    <li><a href="[@config:home_url@]">Home</a></li>
    <li><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
  </ul>
  <!--# End Breadcrumb# ##-->

  <!--##[%show_order id:'[@order_id@]'%][%PARAM *header%]##-->
  <div class="page-header">
    <h1>
      <strong
        >Track Order #<!--##[%NOHTML%]##-->[@order_id@]<!--##[%END NOHTML%]##--></strong
      >
    </h1>
  </div>
  <div class="row">
    <div
      class="
        col-12 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-3
        padding-b-med
        order-track-info
      "
    >
      <p>
        <strong>Order Status:</strong>
        <span class="label label-success">[@order_status@]</span>
      </p>
      <p>
        <strong>Date Placed:</strong>
        <!--##[%format type:"date" format:"#D/#M/#Y"%]##-->[@date_placed@]<!--##[%END format%]##-->
      </p>
      <!--##[%DATA id:'if_invoiced' if:'=' value:'1'%]##-->
      <p>
        <strong>Date Invoiced:</strong>
        <!--##[%format type:"date" format:"#D/#M/#Y"%]##-->[@date_invoiced@]<!--##[%END format%]##-->
      </p>
      <!--##[%END DATA%]##-->
      <!--##[%DATA id:'order_status' if:'like' value:'Completed'%]##-->
      <p>
        <strong>Date Completed:</strong>
        <!--##[%format type:"date" format:"#D/#M/#Y"%]##-->[@date_updated@]<!--##[%END format%]##-->
      </p>
      <!--##[%END DATA%]##-->
    </div>
    <div class="col-12 col-sm-5 col-md-3 padding-b-med order-track-info">
      <p><strong>Delivery Address:</strong></p>
      <!--##[%NOHTML%]##-->
      [@ship_first_name@] [@ship_last_name@]
      <!--##[%END NOHTML%]##-->
      <br />
      <!--##[%DATA id:'ship_company' if:'ne' value:''%]##-->
      <!--##[%NOHTML%]##-->
      [@ship_company@]
      <!--##[%END NOHTML%]##-->
      <br />
      <!--##[%END DATA%]##-->
      <!--##[%NOHTML%]##-->
      [@ship_street1@]
      <!--##[%END NOHTML%]##-->
      <br />
      <!--##[%DATA id:'ship_street2' if:'ne' value:''%]##-->
      <!--##[%NOHTML%]##-->
      [@ship_street2@]
      <!--##[%END NOHTML%]##-->
      <br />
      <!--##[%END DATA%]##-->
      <!--##[%NOHTML%]##-->
      [@ship_city@], [@ship_state_name@] [@ship_zip@]
      <!--##[%END NOHTML%]##-->
      <br />
      <!--##[%NOHTML%]##-->
      [@ship_country_name@]
      <!--##[%END NOHTML%]##-->
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <h2>Items on order</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Shipping Details</th>
          </tr>
        </thead>
        <tbody>
          <!--##[%END PARAM%][%PARAM *body%]##-->
          <tr>
            <td>
              <img
                border="0"
                src="[%asset_url type:'product' id:'[@SKU@]' thumb:'thumbL'%][%END asset_url%]"
                alt="[@model@]"
                width="90px"
                height="auto"
              />
            </td>
            <td>
              <p>[@qty@] x <strong class="sku-name">[@model@]</strong></p>
              <p><i>[@extra@]</i></p>
              <p>
                <!--##[%DATA id:'aff_id' if:'eq' value:'[@config:AFF_RENTAL_ID@]' %]##-->&nbsp;
                <b>Rental</b
                ><!--##[%END DATA%]##-->
                <!--##[%DATA id:'aff_id' if:'eq' value:'[@config:AFF_EBAY_ID@]' %]##-->&nbsp;
                <b>EBay ID: [@aff_ref@]</b
                ><!--##[%END DATA%]##-->
                <!--##[%DATA id:'aff_id' if:'eq' value:'[@config:AFF_FREE_ID@]' %]##-->&nbsp;
                <b>Free Gift</b
                ><!--##[%END DATA%]##-->
                <!--##[%FORMAT type:'date' default:''%][%PARAM *format%]##--><br />
                <b>Deliver On</b> #D/#M/#Y (#G:#I#a)<!--##[%END PARAM%][@date_delivery@][%END FORMAT%]##-->
              </p>
            </td>
            <td>
              [%if [@ship_method@]%]
              <p>[@ship_method@]</p>
              [%/if%] [%if [@ship_tracking@]%]
              <p>Tracking #[@ship_tracking@]</p>
              [%else%]
              <p>Tracking not yet available</p>
              [%/if%] [%if [@tracking_url@]%]
              <p>
                <a href="[@tracking_url@]" target="_blank" class="btn btn-small"
                  >Track Online <i class="fa fa-share"></i
                ></a>
              </p>
              [%/if%]
            </td>
          </tr>

          <!--##[%END PARAM%][%PARAM *footer%]##-->
        </tbody>
      </table>
      <!--##[%END PARAM%][%END show_order%]##-->
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        <strong
          ><i
            >* Preferred delivery guaranteed only with Premium Delivery - if
            another delivery method has been choosen, delivery will be
            <span style="text-decoration: underline">on or arround</span> that
            date.</i
          ></strong
        >
      </p>
    </div>
  </div>
</div>
