<div class="row">
  <div class="page404wrapper">
    <div class="page404holder">
      <div class="page404Inside">
        <div class="page404Top">
          <h4>Page Not Found!</h4>
          <p>
            The page you were looking for does not exist.<br />Click
            <a href="/">here</a> to go to the homepage
          </p>
        </div>
        <div class="page404Mid">
          <div class="borderLine"></div>
          <span>POPULAR CATEGORIES</span>
        </div>
        <div class="page404Bottom">
          <div class="row">
            <div class="col-6 col-sm-3 colImgHolderOuter">
              <div class="colImgHolder">
                <a href="/hampers-for-her">
                  <img src="/assets/image/forHer.png" />
                  <span>FOR HER</span>
                </a>
              </div>
            </div>
            <div class="col-6 col-sm-3 colImgHolderOuter">
              <div class="colImgHolder">
                <a href="/hampers-for-him">
                  <img src="/assets/image/forHim.png" />
                  <span>FOR HIM</span>
                </a>
              </div>
            </div>
            <div class="col-6 col-sm-3 colImgHolderOuter">
              <div class="colImgHolder">
                <a href="/Wine-Hampers">
                  <img src="/assets/image/wine.png" />
                  <span>WINE &<br />CHAMPAGNE</span>
                </a>
              </div>
            </div>
            <div class="col-6 col-sm-3 colImgHolderOuter">
              <div class="colImgHolder">
                <a href="/gourmet-hampers">
                  <img src="/assets/image/gourmet.png" />
                  <span>GOURMET<br />FOOD</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .page404wrapper {
    background-image: url("/assets/image/bg404.jpg");
    padding: 130px 20px;
    margin-bottom: -35px;
    background-size: cover;
  }

  .page404holder {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding: 30px 70px;
    border-radius: 8px;
  }
  .page404holder img {
    width: 100%;
  }

  .page404Inside {
    text-align: center;
  }

  .page404Top h4 {
    font-size: 50px;
    font-family: baskerville;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 14px;
  }

  .page404Top p {
    font-size: 16px !important;
    font-family: montserrat !important;
  }

  .colImgHolder span {
    display: block;
    background: #333;
    color: #fff;
    height: 60px;
    font-size: 16px;
    text-align: center;
  }
  .page404Bottom .colImgHolderOuter:nth-child(1) span,
  .page404Bottom .colImgHolderOuter:nth-child(2) span {
    padding-top: 18px;
  }
  .page404Bottom .colImgHolderOuter:nth-child(3) span,
  .page404Bottom .colImgHolderOuter:nth-child(4) span {
    padding-top: 6px;
  }

  .page404Bottom {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .page404Mid span {
    font-size: 16px;
    background: #fff;
    padding: 10px 20px;
  }

  .page404Mid .borderLine {
    border-top: 1px solid #707070;
    margin-bottom: -12px;
  }

  .page404Mid {
    padding: 20px 0;
    margin-top: 25px;
  }

  @media (max-width: 767px) {
    .colImgHolderOuter {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 450px) {
    .page404holder {
      padding: 0px 30px;
      padding-top: 10px;
    }
    .page404Top h4 {
      font-size: 40px;
    }
    .page404Top p {
      font-size: 12px !important;
    }
  }
</style>
