<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/c92faeb6cd.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="percent.css">

    
    <!-- delivery img 8 - 9 -->
    <style>
        .p7-box-exact {
            width: 1050px;
            margin: auto;
        }
        .p7-box-delivery img {
            width: 100%;
            height: 100%;
        }
        .p5-hamper-finder-input {
            color: black;
            border: 1px solid silver;
            text-indent: 10px;
            padding: 5px;
            border-radius: 10px;
            width: 100%;
        }
        .p5-hamper-finder-input-select {
            color: black;
            border: 1px solid silver;
            text-indent: 10px;
            padding: 5px;
            padding-right: 10px;
            border-radius: 10px;
            width: 100%;
        }
        .p5-hamper-finder-input:focus {
            outline: none;
        }
        .search-icon-btn {
            background: none;
            border: none;
            outline: none;
        
            position: absolute;
            right: 10px;
            top: 5px;
        }
        .p5-center-text-close3 {
            font-family:Montserrat;
            font-size:15px;
            font-weight: 100;
            text-align: left;
        }
        .p7-delivery-text {
            font-family: montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            color: #2B2B2B;
            text-align: left;
        }
        .p7-delivery-text-em {
            font-family: montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            color: #2B2B2B;
        }
        .p7-delivery-text-small {
            font-family: montserrat;
            font-size: 13px;
            font-weight: 400;
            line-height: 19px;
            color: #BFA774;
            text-align: left;
            margin-left: 1px;
        }
        .p7-box-chat {
            height:50px;
            height: auto;
            width:100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            border-radius: 8px;
            margin-bottom: 10px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }
        .p7-box-chat:hover {
            background: #BFA774;
            color: white;
            cursor: pointer;
        }
        .p5-center-exact-height:hover {
            cursor: pointer;
        }
        .p7-chat-icon {
            font-size: 25px;
            color: #2B2B2B;
            padding-left: 10px;
            padding-top: 3px;
            text-align: left;
        }
        .p7-chat-box-exact {
            width: 247px;
            padding: 10px;
        }
        .border-line1 {
            width: 100%;
            border-top: 1px solid silver;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .border-line2 {
            width: 100%;
            border-bottom: 1px solid silver;
            margin-top: 20px;
        }
        @media only screen and (max-width: 1055px) {
           .p7-box-exact {
                width: 100%;
            }
        }
        @media only screen and (max-width: 314px) {
            .p7-box-exact {
                overflow: hidden;
            }
            .width-expand-25 {
                padding-left: 10px;
            }
        }
    </style>



    <!-- products img 10 -->
    <style>
    .p7-inside-the-box {
        padding-top: 10px;
        height:44px;
        width:208px;
        background: #BFA774;
        color: white;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
    }
    .p7-box-exact-products {
        width:675px;
        width: 100%;
        border: 1px solid #2B2B2B;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        cursor: pointer;
    }
    .p7-box-exact-title {
        background-color: rgb(243, 235, 235);
        height: 35px;
        width: 100%;
        padding: 7px;
        padding-left: 15px;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    .p5-img-holder {
        height:191px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        margin-bottom: 20px;
        z-index: 0;
    }
    #product {
        position: relative;
        z-index: 0;
    }
    #product:hover + div {
        display: block;
    }
    #product_details:hover {
        display: block;
    }
    #product_details {
        display: none;
        width: 100%;
        background: #BFA774;
        height: 100%;
        position: absolute;
        overflow: hidden;
        padding: 10px;
        text-align: center;
        color: white;
        z-index: 1;
        align-items: center;
    }
    #also_included {
        display: none;
    }
    #also_included_title {
        display: none;
    }
    .padding-10-content-center {
        display: flex;
        justify-content: center;
    }
    .col-sm-8 {
        background: white;
    }
    @media only screen and (max-width: 1071px) {
        .p5-img-holder {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    @media only screen and (max-width: 768px) {
        .p5-img-holder {
            height: auto;
        }
    }
    @media only screen and (max-width: 468px) {
        .p7-inside-the-box {
            width: 100%;
            height: auto;
        }
        .p7-box-exact-products {
            overflow: hidden;
        }
        .p7-box-exact-title {
            height: auto;
            overflow: hidden;
        }
    }
    </style>
</head>
<body>


<br>

<div class="p7-box-exact">
    <div class="container-fluid">
        <div class="row">
            <!-- img 8-10 -->
            <div class="col-sm-4">

                <!-- title -->
                <div class="width-100">

                    <div class="width-expand-20">
                        <div class="padding-5">
                            <img src="img/lorry1.png" class="img-fluid" alt="Delivery"/>
                        </div>
                    </div>

                    <div class="width-expand-60">
                       <div class="padding-5">
                        <p class="title-18">
                            Delivery
                            estimates
                        </p>
                       </div>
                    </div>

                    <div class="width-expand-20">
                       <div class="padding-5">
                        <span class="p5-center-text-close3">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                       </div>
                    </div>

                </div>

                <!-- search -->
                <div class="width-100">
                    <div class="width-expand-40">
                       <div class="padding-expand-5">
                        <form action="" method="POST" style="position: relative;">
                            <input class="p5-hamper-finder-input" type="text" name="" id="" placeholder="eg. 2000">
                            <button type="submit" class="search-icon-btn"><i class="fas fa-search"></i></button>
                        </form>
                       </div>
                    </div>

                    <div class="width-expand-60">
                        <div class="padding-expand-5">
                            <form action="/action_page.php">
                                <select name="cars" id="cars" class="p5-hamper-finder-input-select">
                                <option value="volvo">Select Suburb/City</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- info -->
                <div class="width-expand-100">
                    <div class="width-expand-50">
                        <div class="padding-2">
                           <div class="padding-left-10">
                            <p class="p7-delivery-text">
                                Click & Collect:
                            </p>
                           </div>
                        </div>
                    </div>
                    <div class="width-expand-25">
                        <div class="padding-2">
                            <p class="p7-delivery-text-em">
                                FREE
                            </p>
                        </div>
                    </div>
                    <div class="width-expand-25">
                        <div class="padding-2">
                            <p class="p7-delivery-text-small">
                                Sydney
                            </p>
                        </div>
                    </div>
                </div>

                <!-- info -->
                <div class="width-100">
                    <div class="width-expand-50">
                        <div class="padding-2">
                           <div class="padding-left-10">
                            <p class="p7-delivery-text">
                                Click & Collect:
                            </p>
                           </div>
                        </div>
                    </div>
                    <div class="width-expand-25">
                        <div class="padding-2">
                            <p class="p7-delivery-text-em">
                                FREE
                            </p>
                        </div>
                    </div>
                    <div class="width-expand-25">
                        <div class="padding-2">
                            <p class="p7-delivery-text-small">
                                Sydney
                            </p>
                        </div>
                    </div>
                </div>

                <!-- info -->
                <div class="width-100">
                    <div class="width-expand-50">
                        <div class="padding-2">
                           <div class="padding-left-10">
                            <p class="p7-delivery-text">
                                Click & Collect:
                            </p>
                           </div>
                        </div>
                    </div>
                    <div class="width-expand-25">
                        <div class="padding-2">
                            <p class="p7-delivery-text-em">
                                FREE
                            </p>
                        </div>
                    </div>
                    <div class="width-expand-25">
                        <div class="padding-2">
                            <p class="p7-delivery-text-small">
                                Sydney
                            </p>
                        </div>
                    </div>
                </div>

                <!-- info -->
                <div class="width-100">
                    <div class="width-expand-50">
                        <div class="padding-2">
                           <div class="padding-left-10">
                            <p class="p7-delivery-text">
                                Click & Collect:
                            </p>
                           </div>
                        </div>
                    </div>
                    <div class="width-expand-25">
                        <div class="padding-2">
                            <p class="p7-delivery-text-em">
                                FREE
                            </p>
                        </div>
                    </div>
                    <div class="width-expand-25">
                        <div class="padding-2">
                            <p class="p7-delivery-text-small">
                                Sydney
                            </p>
                        </div>
                    </div>
                </div>

                <!-- info -->
                <div class="width-100">
                    <div class="width-expand-50">
                        <div class="padding-2">
                           <div class="padding-left-10">
                            <p class="p7-delivery-text">
                                Click & Collect:
                            </p>
                           </div>
                        </div>
                    </div>
                    <div class="width-expand-25">
                        <div class="padding-2">
                            <p class="p7-delivery-text-em">
                                FREE
                            </p>
                        </div>
                    </div>
                    <div class="width-expand-25">
                        <div class="padding-2">
                            <p class="p7-delivery-text-small">
                                Sydney
                            </p>
                        </div>
                    </div>
                </div>

                <!-- chat -->
                <div class="border-line1"></div>
              
                  
                        <div class="p7-chat-box-exact">
        
                            <div class="width-expand-100">
                                <div class="p7-box-chat">
                                    <div class="width-expand-15">
                                        <p class="p7-chat-icon">
                                            <i class="far fa-comment"></i>
                                        </p>
                                    </div>
                                    <div class="width-expand-85">
                                        <div class="padding-5">
                                            <p class="p5-text-title-em-expand-left">
                                                Live Chat With Our Team
                                            </p>
                                            <p class="p5-text-title-em-expand-reg-left">
                                                9am - 5pm AEST Mon - Fri
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="width-expand-100">
                                <div class="p7-box-chat">
                                    <div class="width-expand-15">
                                        <p class="p7-chat-icon">
                                            <i class="fas fa-phone-volume"></i>
                                        </p>
                                    </div>
                                    <div class="width-expand-85">
                                        <div class="padding-5">
                                            <p class="p5-text-title-em-expand-left">
                                                Call Us
                                            </p>
                                            <p class="p5-text-title-em-expand-reg-left">
                                                9am - 5pm AEST Mon - Fri
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    
                <div class="border-line2"></div>

               

            </div> 
     
            <!-- img 10 -->
            <div class="col-sm-8">

                <div class="p5-center">
                    <div id="inside_the_box" class="p7-inside-the-box">
                        <p id="titleinside" class="p7-product-price-small-w">
                            INSIDE THE BOX
                        </p>
                    </div>
                    <div id="also_included_title" class="p7-inside-the-box">
                        <p id="titleincluded" class="p7-product-price-small-w">
                            ALSO INCLUDED
                        </p>
                    </div>
                </div>
                
                <div class="p7-box-exact-products">

                    <div id="also_included" class="p7-also-included">

                        <div class="padding-20">
                            <p class="title-18">
                                YOUR RECIPIENT DESERVES THE BEST
                            </p>
                            <p class="p5-text-small-b">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
                                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="padding-20">
                                    <img src="img/au-recipient.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="p5-padding-20-10-10-10">
                                    <p class="p5-text-title-em">
                                        Wine & Champagne
                                    </p>
                                
                                    <p class="p5-text-small-b">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="padding-20">
                                    <img src="img/au-recipient.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="p5-padding-20-10-10-10">
                                    <p class="p5-text-title-em">
                                        Wine & Champagne
                                    </p>
                                    <p class="p5-text-small">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="padding-20">
                                    <img src="img/au-recipient.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="p5-padding-20-10-10-10">
                                    <p class="p5-text-title-em">
                                        Wine & Champagne
                                    </p>
                                    <p class="p5-text-small">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="padding-0-20-0-20">
                                    <p class="p5-text-title-em">
                                        Wine & Champagne
                                    </p>
                                    <p class="p5-text-small">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="padding-0-20-0-20">
                                    <img src="img/bread.jpg" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="default_products">
                        <div class="padding-20">

                            <p class="title-18">
                                A PERFECTLY CURATED SELECTION
                            </p>
                            <div class="p5-margined-bottom-15">
                                <p class="p5-text-small">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et 
                                    justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem 
                                    ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                </p>
                            </div>

                            <div class="p5-img-holder">
                                <div class="p7-box-exact-title">
                                    <p class="p5-text-title-em">
                                        Savoury
                                    </p>
                                </div>
                            
                                <div class="row">
                                    <div id="productinfo" class="col-sm-12">
                                        <div class="width-expand-100">

                                            <div class="width-25">
                                                <div id="product" class="padding-10">
                                                    <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                    <div id="product_details">
                                                        <p class="p5-text-title-em">
                                                            Savoury
                                                        </p>
                                                        <p class="p5-text-small-w">
                                                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                            dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width-25">
                                                <div id="product" class="padding-10">
                                                    <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                    <div id="product_details">
                                                        <p class="p5-text-title-em">
                                                            Savoury
                                                        </p>
                                                        <p class="p5-text-small-w">
                                                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                            dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width-25">
                                                <div id="product" class="padding-10">
                                                    <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                    <div id="product_details">
                                                        <p class="p5-text-title-em">
                                                            Savoury
                                                        </p>
                                                        <p class="p5-text-small-w">
                                                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                            dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width-25">
                                                <div id="product" class="padding-10">
                                                    <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                    <div id="product_details">
                                                        <p class="p5-text-title-em">
                                                            Savoury
                                                        </p>
                                                        <p class="p5-text-small-w">
                                                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                            dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="p5-img-holder">
                                <div class="p7-box-exact-title">
                                    <p class="p5-text-title-em">
                                        Biscuits & Sweets
                                    </p>
                                </div>
                            
                                <div class="row">
                                    <div id="productinfo" class="col-sm-12">
                                        <div class="width-expand-100">

                                            <div class="width-25">
                                                <div id="product" class="padding-10">
                                                    <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                    <div id="product_details">
                                                        <p class="p5-text-title-em">
                                                            Savoury
                                                        </p>
                                                        <p class="p5-text-small-w">
                                                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                            dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width-25">
                                                <div id="product" class="padding-10">
                                                    <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                    <div id="product_details">
                                                        <p class="p5-text-title-em">
                                                            Savoury
                                                        </p>
                                                        <p class="p5-text-small-w">
                                                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                            dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width-25">
                                                <div id="product" class="padding-10">
                                                    <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                    <div id="product_details">
                                                        <p class="p5-text-title-em">
                                                            Savoury
                                                        </p>
                                                        <p class="p5-text-small-w">
                                                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                            dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width-25">
                                                <div id="product" class="padding-10">
                                                    <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                    <div id="product_details">
                                                        <p class="p5-text-title-em">
                                                            Savoury
                                                        </p>
                                                        <p class="p5-text-small-w">
                                                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                            dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="p5-img-holder">
                                <div class="p7-box-exact-title">
                                    <p class="p5-text-title-em">
                                        Wine & Champagne
                                    </p>
                                </div>
                            
                                <div class="row">
                                    <div id="productinfo" class="col-sm-12">
                                        <div class="width-expand-100">

                                            <div class="width-25">
                                                <div id="product" class="padding-10">
                                                    <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                    <div id="product_details">
                                                        <p class="p5-text-title-em">
                                                            Savoury
                                                        </p>
                                                        <p class="p5-text-small-w">
                                                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                            dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width-25">
                                                <div id="product" class="padding-10">
                                                    <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                    <div id="product_details">
                                                        <p class="p5-text-title-em">
                                                            Savoury
                                                        </p>
                                                        <p class="p5-text-small-w">
                                                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                            dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width-25">
                                                <div id="product" class="padding-10">
                                                    <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                    <div id="product_details">
                                                        <p class="p5-text-title-em">
                                                            Savoury
                                                        </p>
                                                        <p class="p5-text-small-w">
                                                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                            dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width-25">
                                                <div id="product" class="padding-10">
                                                    <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                    <div id="product_details">
                                                        <p class="p5-text-title-em">
                                                            Savoury
                                                        </p>
                                                        <p class="p5-text-small-w">
                                                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                            dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <p class="p7-product-price-small-expand">
                                ALSO INCLUDED
                            </p>
                            <p class="p5-text-small">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor <br>
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et <br>
                                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem <br>
                                ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            </p>

                            <div class="row">
                                <div id="productinfo" class="col-sm-12">
                                    <div class="width-expand-100">

                                        <div class="width-25">
                                            <div id="product" class="padding-10">
                                                <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                <div id="product_details" class="padding-10">
                                                    <p class="p5-text-title-em">
                                                        Savoury
                                                    </p>
                                                    <p class="p5-text-small-w">
                                                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                        dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="width-25">
                                            <div id="product" class="padding-10">
                                                <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                <div id="product_details" class="padding-10">
                                                    <p class="p5-text-title-em">
                                                        Savoury
                                                    </p>
                                                    <p class="p5-text-small-w">
                                                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                        dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="width-25">
                                            <div id="product" class="padding-10">
                                                <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                <div id="product_details" class="padding-10">
                                                    <p class="p5-text-title-em">
                                                        Savoury
                                                    </p>
                                                    <p class="p5-text-small-w">
                                                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                        dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="width-25">
                                            <div id="product" class="padding-10">
                                                <img src="img/forHim.png" id="product" class="img-fluid" alt="">
                                                <div id="product_details" class="padding-10">
                                                    <p class="p5-text-title-em">
                                                        Savoury
                                                    </p>
                                                    <p class="p5-text-small-w">
                                                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                                                        dolores et ea rebum, Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
                                                        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>      
    </div>
</div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
$("#productinfo img").mouseover(function(){
    x = this.height;
    y = this.width;
    $(this).next().css("height",x+"px");
    $(this).next().css("width",y+"px");
})
$("#faq_collapse a").click(function(){
    if($(this).next().is(":visible")){
        $(this).next().fadeOut();
        $("i", this).toggleClass("fas fa-minus fas fa-plus");
    } else {
        $(this).next().fadeIn();
        $("i", this).toggleClass("fas fa-plus fas fa-minus");
    }
})
function showIncludedProducts(){
    $("#also_included_title").fadeIn();
    $("#also_included").fadeIn();
    $("#inside_the_box").css("background","rgb(243, 235, 235)");
    $("#titleinside").css("color","#2B2B2B");
    $("#titleinside").css("font-weight","500");
    $("#inside_the_box").css("border-top-right-radius","0");
    $("#also_included_title").css("border-top-left-radius","0");
    $("#also_included").css("border-top-left-radius","0");
}
function hideIncludedProducts(){
    $("#also_included_title").fadeOut(1);
    $("#also_included").fadeOut(1);
    $("#titleinside").css("color","white");
    $("#also_included_title").css("border-top-left-radius","10px");
    $("#inside_the_box").css("border-top-right-radius","10px");
}
function showDefaultProducts(){
    $("#default_products").fadeIn();
    $("#inside_the_box").css("background","#BFA774");
}
function hideDefaultProducts(){
    $("#default_products").fadeOut();
}
$("#also_included div").click(function(){
    hideIncludedProducts();
    showDefaultProducts();
});
$("#default_products div").click(function(){
    showIncludedProducts();
    hideDefaultProducts();
});
});
</script>
</body>
</html>
