<div class="default_page aboutUsNewN">
	<div class="row headerImageHolder">
		<img src="[%asset_url type:'content' id:'[@content_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%]" alt="[@CONTENT_EXTERNAL_REF3@]" />
	</div>
	<div class="row greyBg">
		<div class="col-12">			
			<div class="centerHolder-au">
				<h2 class="uppercaseHeader">[@content_short_description1@]</h2>
				<p>[@content_description1@]</p>
				<span class="joinUs-au">[@content_short_description2@]</a>
			</div>
			<div class="downArrowHolder">
				<div class="downArrowHolderInner">
					<i class="fa fa-arrow-down" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="row thirdRowholder-au">
		<div class="container">
			<div class="row">
				<div class="centerHolder-au">
					<span class="au-midFont" id="weBelieve">
					[@CONTENT_EXTERNAL_REF1@]
					</span>
				</div>
			</div>
			<div class="innerContentWrapper-au">
				<div class="innerContentHolder-au">
						[%advert type:'text' template:'aboutUs' limit:'100' category:'0' ad_group:'aboutUs' sortby:'sortorder-asce'%]
							[%param *header%]
					<div class="innerContentAdverHolder-au">
							[%/param%]
							[%param footer%]
					</div>				 
							[%/param%]
						[%/advert%]
				</div>
			</div>			
			<div class="row companyTeam">
				<div class="centerHolder-au">
					<div class="col-12">
						<h3 class="header-au">[@CONTENT_EXTERNAL_REF3@]</h3>
						<div class="outerImageHolder">
							<div class="borderImageHolder">
							</div>
							<div class="imageHolderNoBorder-au">
								<img class="img-fluid" src="[%asset_url type:'content' id:'[@content_id@]-1'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%]" alt="[@CONTENT_EXTERNAL_REF3@]" />
							</div>
						</div>
						<div class="textHolderNormal-au">
							<p>[@content_description2@]
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="centerHolder-au">
					<h3 class="header-au">[@CONTENT_EXTERNAL_REF2@]</h3>
					<div class="reviewsHolder-au">
							[%advert type:'text' template:'reviews' limit:'100' category:'0' ad_group:'reviews'%]
								[%param *header%]
						<div class="reviewSlider">
								[%/param%]
								[%param footer%]
						</div>				 
								[%/param%]
							[%/advert%]
					</div>
				</div>
			</div>			
		</div>
	</div>



</div>
