<section class="corporate-branded-banner">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="text-center">
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container">
	[%breadcrumb%]
		[%PARAM *header%]
			<ul class="breadcrumb">
				<li>
					<a href="[@config:home_url@]">Home</a>
				</li>
		[%/PARAM%]
		[%PARAM *body%]
			<li>
				<a href="[@url@]">[@name@]</a>
			</li>
		[%/PARAM%]
		[%PARAM *footer%]
			</ul>
		[%/PARAM%]
	[%/breadcrumb%]
</div>
<section class="padding-b-med">
	<div class="container corporate-branded branded-ribbon">
		<div class="row">
			<div class="col-xs-12 padding-tb-med">
				<h1 class="main-title">Corporate Branded <span class="text-gold">Ribbon</span></h1>
				<p class="text">Your company logo can be printed in either silver or gold foil onto luxurious 
				double-sided satin ribbon. We produce all printed ribbon in-house, allowing for 
				complete control over the process and importantly no time delays. 
				<span class="strong">$5 per hamper plus one-off $75 set-up fee (Set-up fee waived for orders over 25 hampers)
				Lead Time: 1–2 days</span></p>
			</div>
		</div>		
		<div class="row gold-branding">
			<h2 class="title col-xs-12 padding-t-med padding-b-small">Gold Branding</h2>
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/gold-on-green.jpg[%/ntheme_asset%]/">
				<h3 class="small-title">GOLD ON GREEN</h3>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/gold-on-black.jpg[%/ntheme_asset%]/">
				<h3 class="small-title">GOLD ON BLACK</h3>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/gold-on-navy.jpg[%/ntheme_asset%]/">
				<h3 class="small-title">GOLD ON NAVY</h3>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/gold-on-blue.jpg[%/ntheme_asset%]/">
				<h3 class="small-title">GOLD ON BLUE</h3>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/gold-on-tangerine.jpg[%/ntheme_asset%]/">
				<h3 class="small-title">GOLD ON TANGERINE</h3>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/gold-on-red.jpg[%/ntheme_asset%]/">
				<h3 class="small-title">GOLD ON RED</h3>
			</div>
		</div>
		<div class="row silver-branding">
			<h2 class="title col-xs-12 padding-t-med padding-b-small">Silver Branding</h2>
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/silver-on-green.jpg[%/ntheme_asset%]/">
				<h3 class="small-title">SILVER ON GREEN</h3>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/silver-on-black.jpg[%/ntheme_asset%]/">
				<h3 class="small-title">SILVER ON BLACK</h3>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/silver-on-navy.jpg[%/ntheme_asset%]/">
				<h3 class="small-title">SILVER ON NAVY</h3>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/silver-on-blue.jpg[%/ntheme_asset%]/">
				<h3 class="small-title">SILVER ON BLUE</h3>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/silver-on-tangerine.jpg[%/ntheme_asset%]/">
				<h3 class="small-title">SILVER ON TANGERINE</h3>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/silver-on-red.jpg[%/ntheme_asset%]/">
				<h3 class="small-title">SILVER ON RED</h3>
			</div>
		</div>
	</div>
</section>
<section class="padding-tb-med">
	<div class="container corporate-branded branded-tags">
		<div class="row">
			<div class="col-xs-12 padding-t-small padding-b-med">
				<h1 class="main-title">Corporate Branded <span class="text-gold">Gift Tags</span></h1>
				<p class="text">A gift tag featuring your company logo and personalised message can be added 
				to your hampers. Our in-house graphic design team can create something just for you, 
				or you can choose from the 12 design templates. 
				Perhaps your CEO would like their signature at the end of the card message. 
				Printed on quality stock, measuring approximately 98mm x 80mm.
				<span class="strong">$3 per hamper plus one-off $75 set-up fee (Set-up fee waived for orders over 25 hampers)
				Lead Time: 1–2 days</span></p>
			</div>
		</div>	
	</div>
	<div class="container-fluid gift-tag-wrapper">
		<div class="row gold-branding">
			<div class="container corporate-branded">
				<div class="row">
					<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
						<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/GiftTagDesign1.jpg[%/ntheme_asset%]/">
						<h3 class="small-title">GIFT TAG 1</h3>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
						<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/GiftTagDesign2.jpg[%/ntheme_asset%]/">
						<h3 class="small-title">GIFT TAG 2</h3>
					</div>			
					<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
						<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/GiftTagDesign3.jpg[%/ntheme_asset%]/">
						<h3 class="small-title">GIFT TAG 3</h3>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
						<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/GiftTagDesign4.jpg[%/ntheme_asset%]/">
						<h3 class="small-title">GIFT TAG 4</h3>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
						<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/GiftTagDesign5.jpg[%/ntheme_asset%]/">
						<h3 class="small-title">GIFT TAG 5</h3>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
						<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/GiftTagDesign6.jpg[%/ntheme_asset%]/">
						<h3 class="small-title">GIFT TAG 6</h3>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
						<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/GiftTagDesign7.jpg[%/ntheme_asset%]/">
						<h3 class="small-title">GIFT TAG 7</h3>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
						<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/GiftTagDesign8.jpg[%/ntheme_asset%]/">
						<h3 class="small-title">GIFT TAG 8</h3>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
						<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/GiftTagDesign9.jpg[%/ntheme_asset%]/">
						<h3 class="small-title">GIFT TAG 9</h3>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
						<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/GiftTagDesign10.jpg[%/ntheme_asset%]/">
						<h3 class="small-title">GIFT TAG 10</h3>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
						<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/GiftTagDesign11.jpg[%/ntheme_asset%]/">
						<h3 class="small-title">GIFT TAG 11</h3>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
						<img class="ico" src="[%ntheme_asset%]img/corporate-hampers/GiftTagDesign12.jpg[%/ntheme_asset%]/">
						<h3 class="small-title">GIFT TAG 12</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="back-button padding-tb-med">
	<form>
	  <input type="button" value="Go Back to Previous Page" onclick="history.back()">
	  </input>
	</form>
</section>
