<style>
  .earlyBirdTopHolder img {
    width: 100%;
    object-fit: cover;
  }
  .earlyBirdTopHolder .col-sm-7 {
    overflow: hidden;
    padding-left: 0;
  }

  .formHolder {
    max-width: 405px;
    padding-left: 30px;
    margin-top: 50px;
  }

  .earlyBirdHeading {
    font-family: "baskerville";
    font-size: 45px;
    line-height: 1;
    text-align: center;
    display: block;
  }

  #n_content span.earlyBirdSubHeading p {
    padding-top: 15px;
    display: block;
    font-size: 18px;
    font-family: montserrat !important;
  }

  div#mc_embed_signup-earlyBird {
    margin-top: 30px;
  }

  #mc_embed_signup-earlyBird label,
  #mc_embed_signup-earlyBird span {
    font-size: 14px;
    font-family: "montserrat";
    margin-top: 15px;
    display: block;
  }
  #mc_embed_signup-earlyBird span {
    margin-bottom: 10px;
  }

  #mc_embed_signup-earlyBird input {
    width: 100%;
    background: #fafafa;
    border: transparent;
    height: 39px;
  }

  #mc_embed_signup-earlyBird input[type="checkbox"] {
    width: 19px;
    height: 19px;
    border: #d8d8d8 !important;
    background-color: #fafafa;
  }

  #mc_embed_signup-earlyBird li {
    display: inline-block;
    padding-left: 0;
  }
  #mc_embed_signup-earlyBird ul {
    padding-left: 0;
  }

  #mc_embed_signup-earlyBird .mc-field-group1.input-group label {
    margin-top: 0 !important;
    margin-left: 10px;
    display: inherit;
    font-size: 11px;
  }

  input#mc-embedded-subscribe {
    background: #bfa774;
    color: #fff;
    font-family: montserrat;
    font-size: 18px;
    width: 174px;
    margin-left: 0;
    margin-top: 30px;
  }

  .corporateCustomerHolder .row {
    background: #fafafa;
  }

  .padding-tb-med.corporate-customers {
  }

  .whyCorporateHolder {
    max-width: 768px;
    margin: auto;
  }

  .corporate-customers {
    margin: auto;
    max-width: 900px;
    float: none;
    margin-bottom: 70px;
  }

  .corporate-img {
    width: 100%;
  }

  .whyCorporateHolder {
    padding-top: 50px;
  }

  span.textHolder {
    display: block;
    text-align: center;
    max-width: 746px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: montserrat;
    font-size: 18px;
  }

  span.whyCorpHeading {
    font-family: montserrat;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    margin-top: 50px;
  }

  .whyCorpoInner .col-sm-6 {
    margin-bottom: 30px;
  }

  .whyCorpoInner {
    max-width: 600px;
    margin: auto;
  }
  .whyCorpoInner img {
    width: 100%;
  }

  #n_content .whyCorpText p {
    font-size: 18px;
    font-family: montserrat !important;
    font-weight: 400;
  }

  .wantMoreInfoWrapper .row {
    background: #fafafa;
    padding-top: 70px;
    padding-bottom: 50px;
  }

  span.small21 {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 21px;
    font-family: montserrat;
  }

  .buttonHolder {
    max-width: 368px;
    margin: auto;
  }

  .buttonHolder {
    margin-top: 27px;
  }

  a.buttonContact {
    font-family: montserrat;
    color: #fff;
    background: #bfa774;
    padding: 10px 50px;
    margin-right: 15px;
    margin: 20px;
  }
  .earlyBirdTopHolder .earlyBirdHeading {
    text-align: left;
  }

  main#main-content {
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    .earlyBirdTopHolder .col-sm-7 {
      padding-right: 0;
    }

    .col-sm-5.formHolder {
      max-width: 354px;
      margin: auto;
      margin-top: -133px;
      background: #fff;
      padding-top: 31px;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 5px 0px #00000029;
      -moz-box-shadow: 0px 0px 5px 0px #00000029;
      box-shadow: 0px 0px 5px 0px #00000029;
      padding-bottom: 15px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .padding-tb-med.corporate-customers {
      position: initial;
    }

    .earlyBirdTopHolder .row {
      background: #fafafa;
    }

    span.earlyBirdHeading {
      font-size: 35px;
    }

    span.earlyBirdHeading {
    }

    #n_content span.earlyBirdSubHeading p {
      font-size: 13px;
      text-align: center;
    }

    #mc_embed_signup-earlyBird label,
    #mc_embed_signup-earlyBird span {
      font-size: 13px;
    }

    #mc_embed_signup-earlyBird span {
      text-align: center;
      font-size: 10px;
    }

    #mc_embed_signup-earlyBird .mc-field-group1.input-group label {
      font-size: 7px;
      padding-top: 5px;
    }

    #mc_embed_signup-earlyBird input[type="checkbox"] {
      width: 14px;
      height: 14px;
    }

    .mc-field-group1.input-group {
      width: 100%;
    }

    #mc_embed_signup-earlyBird ul {
      width: 100%;
      max-width: 250px;
      margin: auto;
      margin-bottom: 10px;
    }

    #mc_embed_signup-earlyBird li {
      width: 100%;
      max-width: 250px;
      margin: auto;
    }

    input#mc-embedded-subscribe {
      width: 100%;
      font-size: 13px;
    }

    .corporate-img img {
      margin: auto;
    }

    span.textHolder {
      font-size: 13px;
      margin-top: 15px;
      margin-bottom: 30px;
    }

    span.small21 {
      font-size: 13px;
    }

    .wantMoreInfoWrapper .col-12 {
      max-width: 205px;
      margin: auto;
      float: none;
    }

    .wantMoreInfoWrapper a.buttonContact {
      width: 100%;
      padding: 10px;
      display: block;
      text-align: center;
      margin: 0;
      text-decoration: none;
      color: #fff;
      margin-bottom: 15px;
    }

    .wantMoreInfoWrapper {
      font-size: 13px;
      text-align: center;
    }

    .wantMoreInfoWrapper a {
      color: #2b2b2b;
      text-decoration: underline;
      font-size: 11px;
    }

    .buttonHolder {
      margin-top: 20px;
    }

    .whyCorporateHolder {
      max-width: 375px;
    }

    span.whyCorpHeading {
      margin-top: 5px;
      font-size: 14px;
    }

    #n_content .whyCorpText p {
      font-size: 14px;
      line-height: 1.6;
    }

    .whyCorporateLeftText {
      margin-bottom: 25px;
    }
  }
</style>

<div class="earlyBirdWrapper col-12" id="earlyBirdForm">
  <div class="earlyBirdTopHolder">
    <div class="row">
      <div class="col-sm-7">
        <img
          src="[%asset_url type:'content' id:'[@content_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%]"
          alt="[@CONTENT_EXTERNAL_REF3@]"
        />
      </div>
      <div class="col-sm-5 formHolder">
        <span class="earlyBirdHeading">[@content_short_description1@]</span>
        <span class="earlyBirdSubHeading removeAfterSuccess"
          >[@content_description2@]</span
        >
        <div class="mailChimpFormHolder removeAfterSuccess">
          <!-- Begin Mailchimp Signup Form -->
          <link
            href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css"
            rel="stylesheet"
            type="text/css"
          />
          <style type="text/css">
            #mc_embed_signup {
              background: #fff;
              clear: left;
              font: 14px Helvetica, Arial, sans-serif;
            }
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
						   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup-earlyBird">
            <form
              id="embed_signup-earlyBird"
              name="mc-embedded-subscribe-form"
              class="validate"
              novalidate
            >
              <div id="mc_embed_signup_scroll">
                <div class="mc-field-group1">
                  <label for="mce-email">Email Address</label>
                  <input
                    type="email"
                    value=""
                    name="EMAIL"
                    class="required email"
                    id="mce-EMAIL"
                  />
                </div>
                <div class="mc-field-group1">
                  <label for="mce-FNAME">First Name </label>
                  <input
                    type="text"
                    value=""
                    name="FNAME"
                    class=""
                    id="mce-FNAME"
                  />
                </div>
                <div class="mc-field-group1">
                  <label for="mce-LNAME">Last Name </label>
                  <input
                    type="text"
                    value=""
                    name="LNAME"
                    class=""
                    id="mce-LNAME"
                  />
                </div>
                <div class="mc-field-group1">
                  <label for="mce-BUSINESS">Business Name </label>
                  <input
                    type="text"
                    value=""
                    name="BUSINESS"
                    class=""
                    id="mce-BUSINESS"
                  />
                </div>

                <div class="mc-field-group size1of2">
                  <label for="mce-MMERGE5">Phone Number</label>
                  <input
                    type="text"
                    name="MMERGE5"
                    class=""
                    value=""
                    id="mce-MMERGE5"
                  />
                </div>

                <div id="mce-responses" class="clear">
                  <div
                    class="response"
                    id="mce-error-response"
                    style="display: none"
                  ></div>
                  <div
                    class="response"
                    id="mce-success-response"
                    style="display: none"
                  ></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div
                  style="position: absolute; left: -5000px"
                  aria-hidden="true"
                >
                  <input
                    type="text"
                    name="b_3cedafdc7f0554b60ebfb02c0_0abee4344d"
                    tabindex="-1"
                    value=""
                  />
                </div>
                <div class="clear"></div>
                <input
                  type="submit"
                  value="Register"
                  name="subscribe"
                  id="mc-embedded-subscribe"
                  class="button"
                  src="https://px.ads.linkedin.com/collect/?pid=1837385&conversionId=3280545&fmt=gif"
                />
                <label for="mce-EMAIL" class="displayNone"></label>

                <img
                  height="1"
                  width="1"
                  style="display: none"
                  alt=""
                  src="https://px.ads.linkedin.com/collect/?pid=1837385&conversionId=3280545&fmt=gif"
                />
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
        <div id="successMC" class="successMC displayNone">
          <span class="earlyBirdSubHeading">
            <p>Thank you for subscribing!<br />We'll be in touch soon</p>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="corporateCustomerHolder">
    <div class="row">
      <div class="padding-tb-med corporate-customers">
        <div class="corporate-img">
          <img
            class="lazy_load hidden"
            data-src="/assets/image/companyLogos.png"
            alt="Corporate Customers"
          />
          <img
            class="lazy_load visible"
            data-src="/assets/image/companyLogos-M.png"
            alt="Corporate Customers"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="whyCorporateHolder">
    <span class="earlyBirdHeading">[@CONTENT_EXTERNAL_SRC@]</span>
    <span class="textHolder">[@CONTENT_EXTERNAL_REF1@]</span>
    <div class="whyCorpoHolder">
      [%advert type:'text' category:'0' template:'' limit:'30'
      ad_group:'earlyBird'%] [%param *header%]
      <div class="whyCorpoInner hidden">
        [%/param%] [%param *body%] [%if [@count@] == 0 or [@count@] == 2 or
        [@count@] == 4%]
        <div class="whyCorporateLeftText">
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="whyCorpText">
                <span class="whyCorpHeading">[@headline@]</span>
                <p>[@description@]</p>
                <div class="whyCorpoName">
                  <p>[@linktext@]</p>
                  <p>[@url@]</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="whyCorpoImg">
                <img
                  src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%ntheme_asset%]img/default_product.gif[%/ntheme_asset%][%end param%][%/asset_url%]"
                  alt="[@headline@]"
                />
              </div>
            </div>
          </div>
        </div>

        [%elseif [@count@] == 1 or [@count@] == 3 or [@count@] == 5%]
        <div class="whyCorporateRightText">
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="whyCorpoImg">
                <img
                  src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%ntheme_asset%]img/default_product.gif[%/ntheme_asset%][%end param%][%/asset_url%]"
                  alt="[@headline@]"
                />
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="whyCorpText">
                <span class="whyCorpHeading">[@headline@]</span>
                <p>[@description@]</p>
                <div class="whyCorpoName">
                  <p>[@linktext@]</p>
                  <p>[@url@]</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        [%/if%] [%/param%] [%param *footer%]
      </div>
      [%/param%] [%/advert%] [%advert type:'text' category:'0' template:''
      limit:'30' ad_group:'earlyBird-m'%] [%param *header%]
      <div class="whyCorpoInner visible">
        [%/param%] [%param *body%]
        <div class="whyCorporateLeftText">
          <div class="row">
            <div class="col-6">
              <div class="whyCorpText">
                <span class="whyCorpHeading">[@headline@]</span>
                <p>[@description@]</p>
                <div class="whyCorpoName">
                  <p>[@linktext@]</p>
                  <p>[@url@]</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="whyCorpoImg">
                <img
                  src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%ntheme_asset%]img/default_product.gif[%/ntheme_asset%][%end param%][%/asset_url%]"
                  alt="[@headline@]"
                />
              </div>
            </div>
          </div>
        </div>

        [%param *footer%]
      </div>
      [%/param%] [%/advert%]

      <div class="col-sm-6 col-12"></div>
    </div>
  </div>
  <div class="wantMoreInfoWrapper">
    <div class="row">
      <div class="col-12">
        <span class="earlyBirdHeading">[@CONTENT_EXTERNAL_REF2@]</span>
        <span class="small21">[@CONTENT_EXTERNAL_REF3@]</span>
        <div class="buttonHolder">
          <a href="/contact-us" class="buttonContact">Contact Us</a> or Call
          <a href="tel:1300459452">1300 459 452</a>
        </div>
      </div>
    </div>
  </div>
</div>
