<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "The Hamper Emporium",
  "url": "https://www.thehamperemporium.com.au",
  "logo": "https://www.thehamperemporium.com.au/assets/website_logo.png",
  "sameAs": [
    "https://www.facebook.com/thehamperemporium",
    "https://twitter.com/hamperemporium",
    "https://www.instagram.com/thehamperemporium",
    "https://www.pinterest.com.au/1hamperemporium",
    "https://www.linkedin.com/company/the-hamper-emporium"
  ]
}
</script>
<style>
.homeCompetitionHolder .topBannerHeading {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1px;
    padding: 15px 0px;
    margin: auto;
}
.homeCompetitionHolder .holder2ndRow:nth-child(2) .topBannerHeading{
    text-align : center;
    background: transparent;
    max-width : 200px;
}

.homeCompetitionHolder .holder2ndRow:nth-child(4) .topBannerHeading{
    max-width : 200px;
}
.topBannerHeadingHolder {
    background: #fbfafa;

}

.homeCompetitionHolder {
    margin-top: 50px;
}

.padding-tb-med.noSchema {}

span.competitionHeading {
    text-align: center;
    margin: auto;
    display: block;
    font-size: 26px;
    font-family: 'Montserrat';
    margin-bottom: 20px;
    font-weight: 400;
}
.corporate-dark-advert {
	background-color: #000000;
	color: #fff;
	padding-bottom: 80px;
}
.corporate-dark-advert > .container {
	background-color: #121212;
	margin-bottom: 80px;
	padding-bottom: 55px;
}
.corporate-dark-advert > .container > .row > .col-12 {
	padding-left: 66px;
	padding-right: 66px;
}
</style>

<div class="home-page-sliderr container-fluid">


				[%advert type:'text' template:'carousel' limit:'5' ad_group:'new-homepage-main-slider'%]
					[%param *header%]
						<div id="homepageCarousel" class="carousel slide homepage-banner row" data-ride="carousel">
							<div class="carousel-inner">
					[%/param%]
					[%param *footer%]
							</div>
							[%if [@total_showing@] > 1%]
								<a class="carousel-control-prev" href="#homepageCarousel" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#homepageCarousel" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							[%/if%]
						</div>
					[%/param%]
				[%/advert%]
				

	
	<!--UPS INFORMATIONS ENDS-->
</div>

[%load_template file:'cms/includes/product-points.template.html'/%]
[%load_template file:'cms/includes/homepage-slider.template.html' /%]

<div class="container">

	[%load_template file:'cms/includes/homepage-hamper-finder.template.html'/%]
		
	<div class="padding-tb-med noSchema">
		<div class="findify-element" id="home-findify-rec-2"></div>
	</div>

	[%load_template file:'cms/includes/homepage-testimonials.template.html'/%]
	[%load_template file:'cms/includes/homepage-alt-adverts.template.html'/%]
	[%load_template file:'cms/includes/homepage-delivery-estimates.template.html'/%]

</div>
</div>

[%load_template file:'cms/includes/corporate-dark-heading-advert.template.html'/%]

<div class="row corporate-dark-advert">
	<div class="container">
		<div class="row">
			[%load_template file:'cms/includes/corporate-dark-columns.template.html'/%]
			[%load_template file:'cms/includes/corporate-dark-trusted-company.template.html'/%]
			[%load_template file:'cms/includes/corporate-dark-testimonials.template.html'/%]
		</div>
	</div>
</div>