[%site_value id:'footer_javascript'%]

<script>
$(document).ready(function() {
	var docWidth = $(window).width();

	// $.addToCartInit({
	// 	'cart_id':'cartcontents',
	// 	'target_id':'cartcontentsheader',
	// 	'image_rel':'itmimg',
	// 	'cart': {
	// 				'footer': '</ul> <br> Total Item(s): <b>##item_count##</b><br />Sub Total: <b>##CURRENCY:product_total##</b><br/> ##IF:product_discount##Discount: <b>##CURRENCY:product_discount##</b><br/>##END IF:product_discount## <button class="viewcart btn btn-default" type="button" onclick="window.location=\'##checkouturl##\';" title="View Shopping Cart">View Cart</button> <button class="checkout btn btn-success" type="button" onclick="window.location=\'##checkouturl##&fn=payment\';" title="Checkout">Checkout</button><button class="edit-message btn btn-default" onclick="window.location=\'##checkouturl##&fn=upsell\';">Edit Card Message</button>'
	// 	}
	// });
});
</script>
<script>
		$(document).ready(function() {
			if ($(window).width() < 768) {
				$('#collapsable-description.collapse').collapse('hide')
			}
		})
		$(window).resize(function() {
			if ($(window).width() >= 768) {
				$('#collapsable-description.collapse').collapse('show')
			}
			if ($(window).width() < 768) {
				$('#collapsable-description.collapse').collapse('hide')
			}
		})
	</script>
[%/site_value%]
<style>
.titleBaskerBig {
    font-size: 75px;
}

.chandonYoutubeVideo iframe {
    width: 100%;
    height: 100%;
}

.chandonYoutubeVideo {height: 366px;}

.textGreybgHolder ul li {
    font-size: 14px;
    font-family: 'Montserrat' !important;
    line-height: 1.7;
    color: #2B2B2B;
    list-style: none;
    padding-bottom: 4px;
}

.rowHolderGreybg {
    padding-bottom: 50px;
}
.textGreybgHolder ul li:before {
    content: '- ';
    margin-left: -17px;
    margin-right: 8px;
}
.textGreybgHolder ul {
    padding-left : 25px;
}
.pontingPriceFeatHolder span {
    font-size: 18px;
}
.textGreybgHolder .textHolderWrapper-ponting {
    max-width: none !important;
}

.textGreybgHolder .innerContentAdverHolder-au {
    max-width: none !important;
}
.imageHolderWrapper-ponting-1 {
    margin-left: 0;
    margin-right: -20%;
    padding: 0;
}
.imageHolderWrapper-ponting {
    padding : 0 !important;
}.imageHolderWrapper-ponting-1 {
    margin-left: 0;
    margin-right: -20%;
    padding: 0;
}
.imageHolderWrapper-ponting {
    padding : 0 !important;
}

.noGreyBgHeader {
    font-family: 'Baskerville BT Italic';
    font-size: 49px;
    text-align: center;
}

.noGreyBgHeaderHolder {
    text-align: center;
    margin-bottom: 40px;
}

.rowHolderGreybg.noGreyBg {
    background: transparent;
}

.subHeadingTextGrey {
    font-family: 'Montserrat';
    font-size: 17px;
}

body#n_content.inner_pages .n_customer-padding-top #pontingWinesHolder .textGreybgHolder h3 {
    margin-bottom: 5px !important;
}
.pontingTop .centerHolder-au {
    max-width: 810px;
}
.pontingTop .centerHolder-au {
    max-width: 810px;
}

.noGreyBgAdvertHolder {
    margin-bottom: 30px;
}
span.productSliderHeader {
    text-align: center;
    display: block;
    margin: auto;
    font-size: 17px;
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 24px 0;
    letter-spacing: 2.55px;
}

.pontingDescription {
    padding-bottom: 0;
}
.pontingProductHolderInner {
    max-width: 768px;
    margin: auto;
    border: 1px solid #DEDEDE;
    padding: 0 45px;
    padding-bottom: 55px;
}

.slick-slide {
    padding: 0px 26px;
}

body#n_content .pontingDescription h3 {
    max-width: 400px;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}
.titleBaskerBig {
    font-size: 70px;
}
@media (max-width : 767px) {
    .titleBaskerBig {
        font-size: 31px;
    }
    .noGreyBgHeader {
        font-size : 26px
    }
    .noGreyBgHeader img {
        width : 100%;
    }
    .noGreyBgAdvertHolder .textholder-pontingOuter{
        padding-left : 10px !important;
        padding-right : 10px !Important;
    }
}
@media (max-width : 500px){

    .home-page-slider img {
        height: 250px;
        object-fit: cover;
    }
}
</style>
	<div class="pontingWinesHolder" id="pontingWinesHolder">
		<div class="home-page-slider">
						<img src="[%asset_url type:'content' id:'[@content_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%]" alt="[@content_name@]" />
	
		</div>
		<div class="pontingTop">
			<div class="pontingTopInner">
				<div class="centerHolder-au">
					<div class="pontingTitleHolder">
						<h1 class="titleBaskerBig">[@content_name@]</h1>
						[%if [@content_short_description1@]%]<h2 class="subTitleItalicBasker">[@content_short_description1@]</h2>[%/if%]
					</div>
					[%if [@content_label3@]%]
						<div class="chandonYoutubeVideo">
								<iframe src="https://www.youtube.com/embed/[@content_label3@]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					[%/if%]
					<div class="pontingDescription">
						<h3>[@content_short_description2@]</h3>
						<div class="smallLine"></div>
						<p>[@content_description1@]</p>
					</div>
				</div>
			</div>
		</div>
		<div class="pontingProductHolder">
			<div class="pontingProductHolderInner">
				<div class="centerHolder-au">
					[%thumb_list type:'products' template:'noSchema-ponting' filter_category:'' filter_sku:'[@CONTENT_EXTERNAL_REF2@]' sortby:'top_sellers' limit:'100'%]
						[%param *header%]
								[%if [@content_short_description3@]%]
									<span class="productSliderHeader">[@content_short_description3@]</span>
								[%/if%]	
							<div class="productSlider3">						
						[%/param%]
						[%param *footer%]
							</div>
						[%/param%]
					[%/thumb_list%]	
				</div>
			</div>
		</div>
		<div class="rowHolderGreybg noGreyBg">
			<div class="row">
				<div class="greyBgInnerHolder">
					[%if [@content_label1@]%]
						<div class="noGreyBgHeaderHolder">
							<span class="noGreyBgHeader">[@content_label1@]</span>
						</div>
					[%/if%]					

					<div class="noGreyBgWrapper">
						<div class="centerHolder-au">
							<div class="textGreybgHolder">						
							
								[%advert type:'text' template:'' limit:'2' category:'0' ad_group:'moet' sortby:'sortorder-asce'%]
									[%param *header%]
								<div class="innerContentAdverHolder-au">
									[%/param%]
									
									[%param *body%]
									
									[%if [@count@] == 0 %]
									<div class="noGreyBgAdvertHolder">
										<div class="clearBoth"></div>
										<div class="col-sm-8 col-xs-12 visible-xs imageHolderWrapper-ponting">
											<div class="outerImageHolder">
												<div class="imageHolderNoBorder-ponting">
													<img src="[%asset_url type:'content' id:'[@content_id@]-2'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%]" alt="[@content_name@]" />
												</div>
											</div>
										</div>
										<div class="textholder-pontingOuter">
											<div class="col-sm-8 col-xs-12 textHolderWrapper-ponting">
												<div class="textHolder-ponting">
													<h3>[@headline@]</h3>
													<span class="subHeadingTextGrey">[@linktext@]</span>
													<div class="narrowBorderBelowH3-ponting">
														<div class="clearBoth"></div>
															<div class="smallLine"></div>
														<div class="clearBoth"></div>
													</div>
													<p class="textalignRight-ponting">
														[%url_decode%]
															[%url_encode%]
																[@description@]
															[%/url_encode%]
														[%/url_decode%]
													</p>
													<p>
														[%url_decode%]
															[%url_encode%]
																[@CONTENT_EXTERNAL_REF1@]
															[%/url_encode%]
														[%/url_decode%]
													</p>
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-xs-12 hidden-xs imageHolderWrapper-ponting">
											<div class="outerImageHolder">
												<div class="imageHolderNoBorder-ponting">
													<img src="[%asset_url type:'content' id:'[@content_id@]-1'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%]" alt="[@content_name@]" />
												</div>
											</div>
										</div>

										<div class="clearBoth"></div>
									</div>
															
									[%else%]
									<div class="noGreyBgAdvertHolder">
										<div class="clearBoth"></div>
										<div class="col-sm-8 col-xs-12 visible-xs imageHolderWrapper-ponting">
											<div class="outerImageHolder">
												<div class="imageHolderNoBorder-ponting">
													<img src="[%asset_url type:'content' id:'[@content_id@]-4'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%]" alt="[@content_name@]" />
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-xs-12 hidden-xs imageHolderWrapper-ponting imageHolderWrapper-ponting-1">
											<div class="outerImageHolder">
												<div class="imageHolderNoBorder-ponting">
													<img src="[%asset_url type:'content' id:'[@content_id@]-3'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%]" alt="[@content_name@]" />
												</div>
											</div>
										</div>

										<div class="textholder-pontingOuter">
											<div class="col-sm-8 col-xs-12 textHolderWrapper-ponting">
												<div class="textHolder-ponting">
													<h3>[@headline@]</h3>
													<span class="subHeadingTextGrey">[@linktext@]</span>
													<div class="narrowBorderBelowH3-ponting">
														<div class="clearBoth"></div>
															<div class="smallLine"></div>
														<div class="clearBoth"></div>
													</div>
													<p class="textalignRight-ponting">
														[%url_decode%]
															[%url_encode%]
																[@description@]
															[%/url_encode%]
														[%/url_decode%]
													</p>
													<p>
														[%url_decode%]
															[%url_encode%]
																[@CONTENT_EXTERNAL_REF1@]
															[%/url_encode%]
														[%/url_decode%]
													</p>
												</div>
											</div>
										</div>
										<div class="clearBoth"></div>
									</div>
										
									[%/if%]	
									
									
									
										 
									[%/param%]									
									[%param footer%]
								</div>				 
									[%/param%]
								[%/advert%]
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
		[%advert type:'text' template:'chandonHamperFeat' limit:'6' category:'0' ad_group:'moet-prod' sortby:'sortorder-asce'%]
			[%param *header%]
				<div class="pontingFeaturedProdsHolder1 pontingFeaturedProdsHolder">
					<div class="pontingFeaturedInner">
						<div class="centerHolder-au">
							<div class="pontingHamperFeat1">
								[%/param%]
								[%param footer%]
							</div>			
						</div>
					</div>
				</div>	 
			[%/param%]
		[%/advert%]
		<div class="pontingBottomHolder">
			<div class="pontingBottomInner">
				<div class="centerHolder-au">
					<div class="pontingBottomImgHolder">
						<img src="[%asset_url type:'content' id:'[@content_id@]'%]-5[%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%]" alt="[@CONTENT_EXTERNAL_REF3@]" />
					</div>
					<div class="pontingBottomTextHolder">
						<h3>[@content_label2@]</h3>
						<div class="smallLine"></div>
						<p>[@content_description3@]</p>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>
