[%site_value id:'footer_javascript'%]

[%/site_value%]
	<div class="padding-tb-small ch-section-1">
		
		<div class="container">
			<div class="col-xs-12 col-lg-6 white-box">
				<h2 class="section-title">Making your<br/> corporate<br/> gift giving easy!</h2>
				[%THUMB_LIST type:'content' content_type:'testimonials' limit:'4' filter_category:'' sortby:'sortorder'%]
					[%PARAM *header%]
					<div id="testim_carousel_corp" class="carousel slide">
						<div class="carousel-inner">
					[%END PARAM%]
						[%PARAM *body%]
						<div id="[@count@]" class="item [%DATA id:'count' if:'==' value:'0'%]active[%END DATA%]">
							<p class="section-quote">"[@content_description1@]"</p>
							<p class="section-author second">[@content_name@]</p>
						</div>
						[%END PARAM%]
					[%PARAM *footer%]
						</div>
					</div>
					[%END PARAM%]
				[%END THUMB_LIST%]
				<div class="text-center corporate-gift-buttons">
					<a class="btn btn-enquiry fancybox make-enquiry" data-fancybox-type="iframe" href="https://thehamperemporiumcorporate.wufoo.eu/forms/the-hamper-emporium-corporate-hamper-enquiry/">
						<i class="fa fa-envelope"></i><span>Make <br/>Enquiry</span>
					</a>
					<a class="btn btn-brochure download-brochure" href="/assets/files/CorporateBrochure2017.pdf">
						<i class="fa fa-file-pdf-o"></i><span>Download<br/> Brochure</span>
					</a>
					<a class="btn btn-order download-bulk" href="/assets/files/updated_xmas_BOF_2017_V4.xlsm">
						<i class="fa fa-file-excel-o"></i><span>Download<br/> Bulk Order Form</span>
					</a>
				</div>
			
			</div>
		</div>
	</div>
	<div class="hidden-xs points-line padding-tb-thin">
		<div class="container">
			<ul>
				<li><img src="[%ntheme_asset%]img/corporate-hampers/white-checkmark.png[%/ntheme_asset%]" alt="checkmark"/> Settlement gifts</li>
				<li><img src="[%ntheme_asset%]img/corporate-hampers/white-checkmark.png[%/ntheme_asset%]" alt="checkmark"/> Client thank you gifts</li>
				<li><img src="[%ntheme_asset%]img/corporate-hampers/white-checkmark.png[%/ntheme_asset%]" alt="checkmark"/> Staff rewards</li>
				<li><img src="[%ntheme_asset%]img/corporate-hampers/white-checkmark.png[%/ntheme_asset%]" alt="checkmark"/> Christmas gifts</li>
			</ul>
		</div>
	</div>
	<div class="padding-t-med padding-b-small ch-section-2">
		<div class="container">
			<div class="col-xs-12 col-md-6 box-container">
				<div class="coffee-box">
					<div class="box-text">
						[%content_zone id:'headertext' if_empty:''/%]
					</div>
				</div>
				<div class="black-box">
					<div class="box-text">
						We are one of Australia’s largest gift providers, sourcing and stocking an enormous range of hampers, gifts and experiences from our warehouse in Sydney. As we do not use third party suppliers, we can provide real time service and significantly more cost effective gifts.
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<h2 class="section-title">Some of our <br/> corporate customers:</h2>
				<div class="our-corporate-customers">
					
					<div id="corp_cust_carousel" class="carousel slide">
						<div class="carousel-inner">
							<div id="0" class="item [%DATA id:'count' if:'==' value:'0'%]active[%END DATA%]">
								<img src="[%ntheme_asset%]img/corporate-hampers/ch-section-2-customers.jpg[%/ntheme_asset%]" alt="corporate customers"/>
							</div>
							<div id="1" class="item">
								<img src="[%ntheme_asset%]img/corporate-hampers/ch-section-2-customers1.jpg[%/ntheme_asset%]" alt="corporate customers"/>
							</div>
							<div id="2" class="item">
								<img src="[%ntheme_asset%]img/corporate-hampers/ch-section-2-customers2.jpg[%/ntheme_asset%]" alt="corporate customers"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hidden-xs padding-tb-small ch-section-3">
		<div class="container">
			<div class="col-xs-12 col-lg-6 white-box">
				<ul>
					<li><img src="[%ntheme_asset%]img/corporate-hampers/coffee-checkmark.png[%/ntheme_asset%]" alt="checkmark"/> Free delivery on hampers Australia-wide</li>
					<li><img src="[%ntheme_asset%]img/corporate-hampers/coffee-checkmark.png[%/ntheme_asset%]" alt="checkmark"/> As one of Australia’s largest gift suppliers, there are 1000s of gifts and vouchers available to customise your hampers </li>
					<li><img src="[%ntheme_asset%]img/corporate-hampers/coffee-checkmark.png[%/ntheme_asset%]" alt="checkmark"/> In-house graphic design and corporate branding</li>
					<li><img src="[%ntheme_asset%]img/corporate-hampers/coffee-checkmark.png[%/ntheme_asset%]" alt="checkmark"/> A completely seamless gifting solution with real time service, production and delivery</li>
				</ul>
				<div class="text-center corporate-gift-buttons">
					<a class="btn btn-enquiry fancybox make-enquiry" data-fancybox-type="iframe" href="https://thehamperemporiumcorporate.wufoo.eu/forms/the-hamper-emporium-corporate-hamper-enquiry/">
						<i class="fa fa-envelope"></i><span>Make <br/>Enquiry</span>
					</a>
					<a class="btn btn-brochure download-brochure" href="/assets/files/CorporateBrochure2017.pdf">
						<i class="fa fa-file-pdf-o"></i><span>Download<br/> Brochure</span>
					</a>
					<a class="btn btn-order download-bulk" href="/assets/files/updated_xmas_BOF_2017_V4.xlsm">
						<i class="fa fa-file-excel-o"></i><span>Download<br/> Bulk Order Form</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="padding-tb-thin ch-section-4">
		<div class="container">
			<h2 class="section-title"><a role="button" data-toggle="collapse" href="#commonQuestions" aria-expanded="false" aria-controls="commonQuestions"><i class="fa fa-angle-down pull-left" aria-hidden="true"></i> Common questions <i class="fa fa-angle-down pull-right" aria-hidden="true"></i></a></h2>
			<div class="collapse" id="commonQuestions">
				<div class="qanda padding-b-small">
					<div class="letter-part q">
						Q:
					</div>
					<div class="text-part q">
						Can I send multiple hampers to multiple addresses?
					</div>
					<div class="letter-part a">
						A:
					</div>
					<div class="text-part a">
						You certainly can! Our bulk order form allows you to enter the details of all of your recipients and the specific hamper being sent to each of them. Download our bulk order form here.
					</div>
				</div>
				<div class="qanda padding-b-small">
					<div class="letter-part q">
						Q:
					</div>
					<div class="text-part q">
						Do you deliver Australia-wide?
					</div>
					<div class="letter-part a">
						A:
					</div>
					<div class="text-part a">
						Yes we do. We ship to any address in Australia, and standard shipping is FREE! Upgraded express shipping options are also available, including same-day Sydney and next-day capital city delivery.
					</div>
				</div>
				<div class="qanda padding-b-small">
					<div class="letter-part q">
						Q:
					</div>
					<div class="text-part q">
						Can I personalise my hampers with branding?
					</div>
					<div class="letter-part a">
						A:
					</div>
					<div class="text-part a">
						Yes you can! Branded ribbon and cards are designed and printed in-house which means quality branding tailored to your company with a fast turnaround time.
					</div>
				</div>
				<div class="qanda padding-b-small">
					<div class="letter-part q">
						Q:
					</div>
					<div class="text-part q">
						I have a lot of requirements and questions, what’s the best way to get in touch?
					</div>
					<div class="letter-part a">
						A:
					</div>
					<div class="text-part a">
						If you have a moment to fill in our corporate enquiry form, this will allow us to tailor our response and streamline the ordering process for you. Alternatively please do give us a call on 1300 459 452.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hidden-xs padding-tb-small ch-section-5">
		<div class="container">
			<div class="visible-lg col-lg-3">
			</div>
			<div class="col-xs-12 col-lg-6">
				<div class="dark-box text-center">
					<h2 class="section-title">WHAT SERVICES<br/> DO WE OFFER?</h2>
					<p class="section-text">We offer a total of 7 corporate branding and gifting services. Details and pricing are outlined below.</p>
					<ol class="padding-t-med">
						<li><a href="#corp-ribbon">Corporate Ribbon</a></li>
						<li><a href="#corp-gift-tags">Corporate Gift Tags</a></li>
						<li><a href="#engraved-gifts">Engraved Gifts</a></li>
						<li><a href="#branded-exp">Branded Experience Vouchers</a></li>
						<li><a href="#branded-gift">Branded Gift Vouchers</a></li>
						<li><a href="#gifts-acc-home">Gifts, Accessories & Homewares</a></li>
						<li><a href="#dedicated">Dedicated Gifting Platform</a></li>
					</ol>
				</div>
			</div>
			<div class="visible-lg col-lg-3">
			</div>
		</div>
	</div>
	<div class="ch-section-6 padding-tb-small text-center">
	  <div class="container">
		<div class="row">
			<div class="col-xs-12 padding-b-med">
				[%THUMB_LIST type:'content' content_type:'ribbons' sortby:'sortorder' template:'gift_ribbons_colour' limit:'999' filter_category:''%]
				  [%PARAM *header%]
					<h2 class="section-title" id="corp-ribbon"><span>1.</span> Corporate Ribbon</h2>
					<p class="section-text">Your company logo can be printed in either silver or gold foil onto luxurious double-sided satin ribbon.<br/> We produce all printed ribbon in house, allowing for complete control over the process and importantly no time delays.<br/><strong>$5 per hamper plus one-off $75 set-up fee (Set-up fee waived for orders over 25 hampers) Lead Time: 1–2 days</strong></p>
					<ul class="wrapper-gifttags">
					  [%/PARAM%]
					  [%PARAM *footer%]
					</ul>
				  [%/PARAM%]
				[%/THUMB_LIST%]
				<img class="visible-lg click-enlarge" src="[%ntheme_asset%]img/corporate-hampers/click-enlarge.png[%/ntheme_asset%]" alt="click to enlarge"/>
			</div>
			<div class="col-xs-12">
				[%THUMB_LIST type:'content' content_type:'gift_tags' sortby:'sortorder' template:'gifttags_ribbons' limit:'999' filter_category:''%]
				  [%PARAM *header%]
					<h2 class="section-title" id="corp-gift-tags"><span>2.</span> Corporate Gift Tags</h2>
					<p class="section-text">A gift tag featuring your company logo and personalised message can be added to your hamper. Our in-house graphic design team can create something just for you, or you can choose from 12 design templates. Perhaps your CEO would like  their signature at the end of the card message. Printed on quality stock, measuring approximately 98mm x 80mm.<br/><strong>$3 per hamper plus one-off $75 set-up fee (Set-up fee waived for orders over 25 hampers) Lead Time: 1–2 days</strong></p>
					<ul class="wrapper-gifttags">
					  [%/PARAM%]
					  [%PARAM *footer%]
					</ul>
				  [%/PARAM%]
				[%/THUMB_LIST%]
			</div>
		</div>
	  </div>
	</div>
	<div class="ch-section-7 padding-tb-small text-center">
		<div class="container">
			<div class="col-xs-12 col-sm-6">
				<div class="dirty-white-box padding-t-med">
					<h2 class="section-title" id="engraved-gifts">3. Engraved Gifts</h2>
					<p class="section-text">Seize the ultimate chance to stay in your customer’s mind long after sale by including an engraved gift for their home.</p>
					<p class="section-text">We ensure that your company logo is added to the best quality products using the best quality craftsmanship.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hidden-xs ch-section-8 padding-tb-small">
		<div class="container">
			<div class="col-xs-6">
				<h2 class="section-title">Engraved Cheese Accessories</h2>
				<div class="row">
					<div class="col-xs-8">
						Wooden Handle Cheese Knife
					</div>
					<div class="col-xs-4">
						$15.00
					</div>
					<div class="col-xs-8">
						Bamboo Chopping Board (30x15cm)
					</div>
					<div class="col-xs-4">
						$20.50
					</div>
					<div class="col-xs-8">
						Acacia Bar Board (23x15cm)
					</div>
					<div class="col-xs-4">
						$23.50
					</div>
					<div class="col-xs-8">
						Black Wood Fibre Board (15x27cm)
					</div>
					<div class="col-xs-4">
						$39.50
					</div>
					<div class="col-xs-8">
						Marble Serving Board (30x15cm)
					</div>
					<div class="col-xs-4">
						$39.50
					</div>
					<div class="col-xs-12">
						Price is for cheese accessory & logo engraving
					</div>
					<div class="col-xs-6 coffee">
						Minimum 24 units*
					</div>
					<div class="col-xs-6 coffee">
						$75 one-off set up fee
					</div>
					<div class="col-xs-12">
						*Engraved items can be purchased upfront and stored in our warehouse to be used when required.
					</div>
				</div>
			</div>
		</div>
		<div class="abs-img"></div>
	</div>
	<div class="hidden-xs ch-section-9 padding-tb-small">
		<div class="abs-img"></div>
		<div class="container">
			<div class="col-xs-6 col-md-5 left-block">
				<div class="dirty-coffee-box">
					<p class="section-text">To ensure exceptionally sharp, crisp and bright engraving we only sand blast our bottles and crystal glassware.</p>
					<p class="section-text">The process is more labour intensive but the results speak for themselves.</p>
				</div>
			</div>
			<div class="visible-md visible-lg col-md-2">
			</div>
			<div class="col-xs-6 col-md-5 right-block">
				<h2 class="section-title">Engraved Crystal Glasses</h2>
				<p class="section-text padding-b-small">Spiegelau German-made Stemless Red Wine or<br/> Champagne $35.95 per set of 2.<br/> Price is for crystal glasses & sandblast engraving<br/> Minimum 24 sets*    $75 one-off set up fee</p>
				<h2 class="section-title">Engraved Wine or Champagne Bottle </h2>
				<p class="section-text">$14.95 per bottle.<br/> Price is for sandblast engraving and gold/silver fill<br/> Minimum 24 bottles*     $75 one-off set up fee<br/> *Engraved items can be purchased upfront and stored in our warehouse to be used when required.</p>
			</div>
		</div>
	</div>
	<div class="ch-section-10 padding-tb-small">
		<div class="container">
			<h2 class="section-title" id="branded-exp"><span>4.</span> Branded Experience Vouchers</h2>
			<p class="section-subtitle">Complement your hamper with an experience voucher</p>
			<div class="col-xs-12 col-md-6">
				<p class="section-text">We have an extensive experience range to choose from; be it a Private Surf Lesson at Bondi Beach, a Helicopter Scenic Flight, an Outback Adventure, a Pasta Making Class or Chocolate Walking Tour, there really is something for everyone. </p>
				<p class="section-text">The vouchers can be included in our hampers or emailed instantly to your recipients. </p>
				<p class="section-text">Lead Time: 2–3 days for the voucher to be included in a hamper, or for an instant gift, an experience voucher can be emailed to the recipient at the time of purchase. </p>
				<p class="section-text">All experience vouchers are valid for 12 months from time of purchase.</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="row row-padded">
					<div class="col-xs-6 col-sm-3 vouch-img"><img src="[%ntheme_asset%]img/corporate-hampers/voucher-exp-1.jpg[%/ntheme_asset%]" alt="voucher experience 1"/></div>
					<div class="col-xs-6 col-sm-3 vouch-img"><img src="[%ntheme_asset%]img/corporate-hampers/voucher-exp-2.jpg[%/ntheme_asset%]" alt="voucher experience 2"/></div>
					<div class="col-xs-6 col-sm-3 vouch-img"><img src="[%ntheme_asset%]img/corporate-hampers/voucher-exp-3.jpg[%/ntheme_asset%]" alt="voucher experience 3"/></div>
					<div class="col-xs-6 col-sm-3 vouch-img"><img src="[%ntheme_asset%]img/corporate-hampers/voucher-exp-4.jpg[%/ntheme_asset%]" alt="voucher experience 4"/></div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-3 vouch-img"><img src="[%ntheme_asset%]img/corporate-hampers/voucher-exp-5.jpg[%/ntheme_asset%]" alt="voucher experience 5"/></div>
					<div class="col-xs-6 col-sm-3 vouch-img"><img src="[%ntheme_asset%]img/corporate-hampers/voucher-exp-6.jpg[%/ntheme_asset%]" alt="voucher experience 6"/></div>
					<div class="col-xs-6 col-sm-3 vouch-img"><img src="[%ntheme_asset%]img/corporate-hampers/voucher-exp-7.jpg[%/ntheme_asset%]" alt="voucher experience 7"/></div>
					<div class="col-xs-6 col-sm-3 vouch-img"><img src="[%ntheme_asset%]img/corporate-hampers/voucher-exp-8.jpg[%/ntheme_asset%]" alt="voucher experience 8"/></div>
				</div>
			</div>
		</div>
	</div>
	<div class="ch-section-11 padding-tb-small">
		<div class="container">
			<h2 class="section-title" id="branded-gift"><span>5.</span> Branded Gift Vouchers</h2>
			<p class="section-subtitle">Complement your hamper with a gift voucher</p>
			<div class="col-xs-12 col-md-6">
				<div class="gift-vouch"><img src="[%ntheme_asset%]img/corporate-hampers/gift-vouchers.png[%/ntheme_asset%]" alt="gift vouchers"/></div>
			</div>
			<div class="col-xs-12 col-md-6">
				<p class="section-text">Thanks to our sister company, Everything But Flowers, you can complement your hamper with a gift voucher which will give your recipient the choice of 1000s of products and experiences.</p>
				<p class="section-text">For Ultimate Client Choice: Include a voucher for our gift website www.everythingbutflowers.com.au </p>
				<p class="section-text">Gift vouchers are available for value of $30–$1,000. Discounts apply for bulk purchases of gift vouchers.</p>
			</div>
		</div>
	</div>
	<div class="ch-section-12 padding-tb-small text-center">
		<div class="container">
			<div class="col-xs-12 col-md-6 left-block">
				<div class="dark-box padding-t-med">
					<h2 class="section-title" id="gifts-acc-home"><span>6.</span> Gift, Accessories & Homewares</h2>
					<p class="section-text">More than just hampers... We also own one of Australia’s most established online gift providers, Everything But Flowers. We stock 1,000s of gifts in our Sydney warehouse with access to thousands more through our relationships with the world’s leading luxury and everyday gift suppliers.</p>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 right-block">
				<div class="top-img"><img src="[%ntheme_asset%]img/corporate-hampers/everything-but-flowers.png[%/ntheme_asset%]" alt="everything but flowers"/></div>
				<div class="white-bordered-box">
					<p class="section-text">Some of the brands we range:</p>
					<div class="row">
						<div class="col-xs-6 col-sm-2 brand-img">
							<img src="[%ntheme_asset%]img/corporate-hampers/amalfi.jpg[%/ntheme_asset%]" alt="amalfi"/>
						</div>
						<div class="col-xs-6 col-sm-4 brand-img">
							<img src="[%ntheme_asset%]img/corporate-hampers/davis&waddell.jpg[%/ntheme_asset%]" alt="davis&waddell"/>
						</div>
						<div class="col-xs-6 col-sm-2 brand-img">
							<img src="[%ntheme_asset%]img/corporate-hampers/mor.jpg[%/ntheme_asset%]" alt="mor"/>
						</div>
						<div class="col-xs-6 col-sm-4 brand-img">
							<img src="[%ntheme_asset%]img/corporate-hampers/vera-wang.jpg[%/ntheme_asset%]" alt="vera-wang"/>
						</div>
						<div class="col-xs-6 col-sm-4 brand-img">
							<img src="[%ntheme_asset%]img/corporate-hampers/waterford.jpg[%/ntheme_asset%]" alt="waterford"/>
						</div>
						<div class="col-xs-6 col-sm-4 brand-img">
							<img src="[%ntheme_asset%]img/corporate-hampers/aromatherapy.jpg[%/ntheme_asset%]" alt="aromatherapy"/>
						</div>
						<div class="col-xs-6 col-sm-4 brand-img">
							<img src="[%ntheme_asset%]img/corporate-hampers/stephanie-alexander.jpg[%/ntheme_asset%]" alt="stephanie-alexander"/>
						</div>
						<div class="col-xs-6 col-sm-4 brand-img">
							<img src="[%ntheme_asset%]img/corporate-hampers/royal-doulton.jpg[%/ntheme_asset%]" alt="royal-doulton"/>
						</div>
						<div class="col-xs-6 col-sm-4 brand-img">
							<img src="[%ntheme_asset%]img/corporate-hampers/brown-brothers.jpg[%/ntheme_asset%]" alt="brown-brothers"/>
						</div>
						<div class="col-xs-6 col-sm-4 brand-img">
							<img src="[%ntheme_asset%]img/corporate-hampers/moet.jpg[%/ntheme_asset%]" alt="moet"/>
						</div>
						<div class="col-xs-6 col-sm-2 brand-img">
							<img src="[%ntheme_asset%]img/corporate-hampers/riedel.jpg[%/ntheme_asset%]" alt="riedel"/>
						</div>
						<div class="col-xs-6 col-sm-3 brand-img">
							<img src="[%ntheme_asset%]img/corporate-hampers/anna-gare.jpg[%/ntheme_asset%]" alt="anna-gare"/>
						</div>
						<div class="col-xs-6 col-sm-3 brand-img">
							<img src="[%ntheme_asset%]img/corporate-hampers/cross.jpg[%/ntheme_asset%]" alt="cross"/>
						</div>
						<div class="col-xs-6 col-sm-4 brand-img">
							<img src="[%ntheme_asset%]img/corporate-hampers/wedgwood.jpg[%/ntheme_asset%]" alt="wedgwood"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ch-section-13 padding-t-med padding-b-small text-center">
		<div class="container">
			<h2 class="section-title" id="dedicated"><span>7.</span> Dedicated Gifting Platform</h2>
			<p class="section-subtitle">Do you have regular gifting needs or a large one-off gifting occasion?</p>
			<p class="section-subtitle">Do you send Christmas gifts for staff or clients?</p>
			<p class="section-subtitle">Settlement gifts for your best customers? Incentive rewards for your staff?</p>
		</div>
	</div>
	<div class="ch-section-14 padding-t-med text-center">
		<div class="container">
			<div class="hidden-xs col-sm-5 col-md-6">
			</div>
			<div class="col-xs-12 col-sm-7 col-md-6">
				<div class="coffee-box">
					<p class="section-text">We have created Australia’s leading custom gift platform, used by thousands of people each year. As one of Australia’s largest gift providers, we source and stock 1000s of gifts, hampers and experiences from our premises in Sydney. </p>
					<p class="section-text">As we warehouse all of our own products we provide real time service and better value gifts.</p>
				</div>
			</div>
		</div>
		<div class="transparent-box padding-tb-small">
			<div class="container">
				<div class="col-xs-12 col-sm-3 step-box">
					<img src="[%ntheme_asset%]img/corporate-hampers/step-1.png[%/ntheme_asset%]" alt="step 1"/>
					<p class="section-text">Choose the gifts and experiences you would like to be available for your recipients to choose from.</p>
					<img class="hidden-xs step-arrow" src="[%ntheme_asset%]img/corporate-hampers/step-arrow.png[%/ntheme_asset%]" alt="step arrow"/>
				</div>
				<div class="col-xs-12 col-sm-3 step-box">
					<img src="[%ntheme_asset%]img/corporate-hampers/step-2.png[%/ntheme_asset%]" alt="step 2"/>
					<p class="section-text">We create a dedicated web address featuring your logo and personalised message and the products that you have selected. See an example URL here: sample.mygifthub.com.au (voucher code ‘sample123’).</p>
					<img class="hidden-xs step-arrow" src="[%ntheme_asset%]img/corporate-hampers/step-arrow.png[%/ntheme_asset%]" alt="step arrow"/>
				</div>
				<div class="col-xs-12 col-sm-3 step-box">
					<img src="[%ntheme_asset%]img/corporate-hampers/step-3.png[%/ntheme_asset%]" alt="step 3"/>
					<p class="section-text">Your recipients are given a gift voucher with your custom message and branding. They are instructed to go to the dedicated web address, choose their gift, enter their unique code and delivery details.</p>
					<img class="hidden-xs step-arrow" src="[%ntheme_asset%]img/corporate-hampers/step-arrow.png[%/ntheme_asset%]" alt="step arrow"/>
				</div>
				<div class="col-xs-12 col-sm-3 step-box">
					<img src="[%ntheme_asset%]img/corporate-hampers/step-4.png[%/ntheme_asset%]" alt="step 4"/>
					<p class="section-text">The chosen gift is delivered directly to their door within days. All selection and delivery questions are directed to our dedicated in house customer service team.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hidden-xs ch-section-15 padding-tb-small">
		<div class="container">
			<div class="col-xs-6">
				<h2 class="section-title">Dedicated customer service</h2>
				<p class="section-text">At all times our dedicated customer service team is available for any questions your recipients may have</p>
				<h2 class="section-title">What does our premium gift service cost?</h2>
				<p class="section-text"> Our dedicated gifting platform is free for customers with over 250 gift recipients, or for customers with less than 250 gift recipients an annual fee of $500 applies.</p>
			</div>
			<div class="col-xs-6">
				<ul>
					<li>
						<img src="/assets/themes/2016-05-gallant/img/corporate-hampers/coffee-checkmark.png" alt="checkmark">
						Gift vouchers designed and professionally printed to be given out in the office, posted or sent as an email
					</li>
					<li>
						<img src="/assets/themes/2016-05-gallant/img/corporate-hampers/coffee-checkmark.png" alt="checkmark">
						Gift vouchers can be incorporated into custom designed Christmas cards, Thank You cards or ‘Congratulations on Your New Home’ cards
					</li>
					<li>
						<img src="/assets/themes/2016-05-gallant/img/corporate-hampers/coffee-checkmark.png" alt="checkmark">
						If you wish, no dollar value of the gifts will be displayed, your recipients simply chose one gift from the selection displayed on your dedicated web address
					</li>
				</ul>
			</div>
			<div class="text-center corporate-gift-buttons padding-t-med">
				<a class="btn btn-enquiry fancybox make-enquiry" data-fancybox-type="iframe" href="https://thehamperemporiumcorporate.wufoo.eu/forms/the-hamper-emporium-corporate-hamper-enquiry/">
					<i class="fa fa-envelope"></i><span>Make <br/>Enquiry</span>
				</a>
				<a class="btn btn-brochure download-brochure" href="/assets/files/CorporateBrochure2017.pdf">
					<i class="fa fa-file-pdf-o"></i><span>Download<br/> Brochure</span>
				</a>
				<a class="btn btn-order download-bulk" href="/assets/files/updated_xmas_BOF_2017_V4.xlsm">
					<i class="fa fa-file-excel-o"></i><span>Download<br/> Bulk Order Form</span>
				</a>
			</div>
		</div>
	</div>
<!-- End of Corporate Hampers page -->
</div>
</div>
[%site_value id:'footer_javascript'%]
	<script>
		$('.make-enquiry').click(function(){
			_gaq.push(['send', 'event', 'button', 'click', 'MakeEnquiry']);
		});
		$('.download-brochure').click(function(){
			_gaq.push(['send', 'event', 'button', 'click', 'DownloadBrochure']);
		});
		$('.download-bulk').click(function(){
			_gaq.push(['send', 'event', 'button', 'click', 'DownloadBulk']);
		});
	</script>
[%/site_value%]