
<div class="container">
	[%breadcrumb%]
		[%param *header%]
			<ul class="breadcrumb">
				<li><a href="[@config:home_url@]">Home</a></li>
		[%/param%]
		[%param *body%]
			<li><a href="[@url@]">[@name@]</a></li>
		[%/param%]
		[%param *body_current%]
			<li>[@name@]</li>
		[%/param%]
		[%param *footer%]
			</ul>
		[%/param%]
	[%/breadcrumb%]
	<h1 class="page-header">[@content_name@]</h1>
	<div class="row">
		<div class="col-12 col-lg-6 padding-t-big">
			[%THUMB_LIST type:'content' content_type:'testimonials' limit:'5' filter_category:'' sortby:'sortorder'%]
				[%PARAM *header%]
				<div id="testim_carousel2" class="carousel slide testimonials-on-page">
					<div class="carousel-inner">
				[%END PARAM%]
					[%PARAM *body%]
					<div id="[@count@]" class="item [%DATA id:'count' if:'==' value:'0'%]active[%END DATA%]">
						<img src="[%asset_url type:'content' id:'[@content_id@]'%][%param default%][%ntheme_asset%]img/default_product.gif[%/ntheme_asset%][%end param%][%END asset_url%]" alt="[@content_name@]">
						<p>[@content_description1@]</p>
						<strong>[@content_name@]</strong>
					</div>
					[%END PARAM%]
				[%PARAM *footer%]
					[%if [@total_showing@] > 1%]
						<a class="left carousel-control" href="#testim_carousel2" data-slide="prev">
							<span class="fa left"></span>
						</a>
						<a class="right carousel-control" href="#testim_carousel2" data-slide="next">
							<span class="fa right"></span>
						</a>
					[%/if%]
					</div>
				</div>
				[%END PARAM%]
			[%END THUMB_LIST%]
		</div>
		<div class="col-12 col-lg-6">
			<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.sync.bootstrap.min.js"></script>
			<div class="trustpilot-widget" data-businessunit-id="559cc61a0000ff000580d967" data-locale="en-US" data-stars="4,5" data-style-height="500px" data-style-width="100%" data-template-id="539adbd6dec7e10e686debee"><a href="https://www.trustpilot.com/review/www.thehamperemporium.com.au" target="_blank">Trustpilot</a></div>
		</div>
	</div>
	<hr/>
	<div class="row padding-tb-small">
		<div class="col-12">
			<h2 class="section-title">Hear what our customers have to say</h2>
			<div class="testimonials-content padding-tb-small">
				[@content_description1@]
			</div>
		</div>
	</div>
</div>
<div class="col-12 padding-tb-big testimonials-section-2">
	<div class="container">
		<h2 class="section-title padding-b-med">Judge us by the company we keep</h2>
		<img src="[%ntheme_asset%]img/judge-us.jpg[%/ntheme_asset%]"/>
	</div>
</div>
<div class="col-12 padding-tb-big testimonials-section-3">
	<div class="container">
		<h2 class="section-title padding-b-med">As seen in</h2>
		<div class="col-6 col-sm-4 col-md-2">
			<img src="[%ntheme_asset%]img/as-seen-1.jpg[%/ntheme_asset%]"/>
		</div>
		<div class="col-6 col-sm-4 col-md-2">
			<img src="[%ntheme_asset%]img/as-seen-2.jpg[%/ntheme_asset%]"/>
		</div>
		<div class="col-6 col-sm-4 col-md-2">
			<img src="[%ntheme_asset%]img/as-seen-3.jpg[%/ntheme_asset%]"/>
		</div>
		<div class="col-6 col-sm-4 col-md-2">
			<img src="[%ntheme_asset%]img/as-seen-4.jpg[%/ntheme_asset%]"/>
		</div>
		<div class="col-6 col-sm-4 col-md-2">
			<img src="[%ntheme_asset%]img/as-seen-5.jpg[%/ntheme_asset%]"/>
		</div>
		<div class="col-6 col-sm-4 col-md-2">
			<img src="[%ntheme_asset%]img/as-seen-6.jpg[%/ntheme_asset%]"/>
		</div>
	</div>
</div>
</div>