<style>
  .earlyBirdTopHolder img {
    width: 100%;
    object-fit: cover;
  }
  .earlyBirdTopHolder .col-sm-7 {
    overflow: hidden;
    padding-left: 0;
  }

  .formHolder {
    max-width: 482px;
    padding-left: 30px;
    margin-top: 50px;
  }

  .earlyBirdHeading {
    font-family: "baskerville";
    font-size: 45px;
    line-height: 1;
    text-align: center;
    display: block;
  }

  #n_content span.earlyBirdSubHeading p {
    padding-top: 15px;
    display: block;
    font-size: 18px;
    font-family: montserrat !important;
  }

  div#mc_embed_signup-vcp {
    margin-top: 30px;
  }

  #mc_embed_signup-vcp label,
  #mc_embed_signup-vcp span {
    font-size: 14px;
    font-family: "montserrat";
    margin-top: 15px;
    display: block;
  }
  #mc_embed_signup-vcp span {
    margin-bottom: 10px;
  }

  #mc_embed_signup-vcp input,
  #mc_embed_signup-vcp select {
    width: 100%;
    background: #fafafa;
    border: transparent;
    height: 39px;
  }

  #mc_embed_signup-vcp input[type="checkbox"] {
    width: 19px;
    height: 19px;
    border: #d8d8d8 !important;
    background-color: #fafafa;
  }

  #mc_embed_signup-vcp li {
    display: inline-block;
    padding-left: 0;
  }
  #mc_embed_signup-vcp ul {
    padding-left: 0;
  }

  #mc_embed_signup-vcp .mc-field-group1.input-group label {
    margin-top: 0 !important;
    margin-left: 10px;
    display: inherit;
    font-size: 11px;
  }

  input#mc-embedded-subscribe {
    background: #bfa774;
    color: #fff;
    font-family: montserrat;
    font-size: 18px;
    width: 174px;
    margin-left: 0;
    margin-top: 0px;
  }

  .corporateCustomerHolder .row {
    background: #fafafa;
  }

  .padding-tb-med.corporate-customers {
  }

  .whyCorporateHolder {
    max-width: 768px;
    margin: auto;
  }

  .corporate-customers {
    margin: auto;
    max-width: 900px;
    float: none;
    margin-bottom: 70px;
  }

  .corporate-img {
    width: 100%;
  }

  .whyCorporateHolder {
    padding-top: 50px;
  }

  span.textHolder {
    display: block;
    text-align: center;
    max-width: 746px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: montserrat;
    font-size: 18px;
  }

  span.whyCorpHeading {
    font-family: montserrat;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    margin-top: 50px;
  }

  .whyCorpoInner .col-sm-6 {
    /* margin-bottom: 30px; */
  }

  .whyCorpoInner {
    /* max-width: 600px; */
    margin: auto;
  }
  .whyCorpoInner img {
    width: 100%;
  }

  #n_content .whyCorpText p {
    font-size: 18px;
    font-family: montserrat !important;
    font-weight: 400;
  }

  .wantMoreInfoWrapper .row {
    background: #fafafa;
    padding-top: 70px;
    padding-bottom: 50px;
  }

  span.small21 {
    /* display: block; */
    /* text-align: center; */
    /* margin-top: 10px; */
    /* font-size: 21px; */
    /* font-family: montserrat; */
  }

  .buttonHolder {
    max-width: 368px;
    margin: auto;
  }

  .buttonHolder {
    margin-top: 27px;
    text-align: center;
  }

  a.buttonContact {
    font-family: montserrat;
    color: #fff;
    background: #bfa774;
    padding: 10px 50px;
    margin-right: 15px;
    margin: 20px;
  }
  .earlyBirdTopHolder .earlyBirdHeading {
    text-align: left;
  }

  main#main-content {
    margin-bottom: 0;
  }

  iframe {
    width: 100%;
    height: 100%;
    height: 850px;
  }

  #mc_embed_signup-vcp .newsletter label,
  #mc_embed_signup-vcp .newsletter input[type="checkbox"] {
    max-width: 355px;
    float: left;
    display: block;
    margin-right: 10px;
    margin-top: 15px;
  }
  #mc_embed_signup-vcp .newsletter label {
    margin-top: 13px;
    font-size: 11px;
  }
  #mc_embed_signup-vcp .newsletter {
    margin-top: 15px;
  }

  select#mce-MMERGE11 {
    max-width: 102px;
  }

  div#earlyBirdForm p {
    font-size: 18px;
    font-family: "Montserrat" !important;
  }

  .whyCorpoHolder {
    margin-top: 40px;
  }

  .wantMoreInfoWrapper {
    max-width: 778px;
    margin: auto;
  }

  .wantMoreInfoWrapper .row {
    background: transparent;
  }

  .wantMoreInfoWrapper span.earlyBirdHeading {
    max-width: 501px;
    text-align: center;
    margin: auto;
  }

  .col-12.termsVCP {
    margin-top: 40px;
    border-top: 1px solid #dbdbdb;
    border-bottom: #dbdbdb 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
  }

  span.termsHead {
    font-size: 12px;
    font-weight: 700;
    font-family: "Montserrat" !important;
  }

  div#earlyBirdForm .termsVCP span.small21 p {
    font-size: 12px;
  }

  .earlyBirdImgHolder {
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
  }

  .earlyBirdImgHolder {
  }

  .whyCorpoInner .vcpImgHolder {
    padding: 0;
    margin-bottom: 0;
  }

  .vcpTxtHolder {
  }

  .whyCorpText {
    max-width: 308px;
    margin: auto;
  }

  .linkButton a {
    background: #bfa774;
    color: #fff;
    padding: 9px 50px;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 400;
  }

  .linkButton {
    padding-top: 15px;
  }

  .whyCorpoName p {
    font-weight: 700 !important;
  }
  .mc-field-group.input-group.newsletter {
    font-family: "Montserrat" !important;
  }

  .earlyBirdTopHolder input#mce-EMAIL {
    text-transform: lowercase;
  }

  #mc_embed_signup-vcp input {
    text-transform: capitalize;
  }

  .newsletter strong {
    font-weight: 500;
    font-family: "Montserrat";
  }
  .earlyBirdTopHolder {
    margin: auto;
  }
  /* nov 30 */
  .entriesCLosedTextholder {
    max-width: 300px;
    margin: auto;
    margin-top: 103px;
  }

  span.subheadingVCP {
    font-size: 18px;
    /* max-width: 150px; */
    /* display: block; */
    padding-top: 15px;
    display: block;
  }

  span.goodLuckText {
    font-size: 34px;
    font-family: "Baskerville BT Italic";
    display: block;
    margin-top: 20px;
  }
  /* nov 30 - end */
  @media (min-width: 768px) and (max-width: 1399px) {
    .earlyBirdTopHolder .col-sm-7 > .visible.visible-lg {
      display: none !important;
    }
    .earlyBirdTopHolder .col-sm-7 > .hidden.hidden-lg {
      display: block !important;
    }
  }

  @media (min-width: 1400px) {
    .earlyBirdTopHolder .col-sm-7 > .visible.visible-lg img {
      width: 100%;
      height: 818px;
      object-fit: cover;
    }
  }
  @media (max-width: 767px) {
    .earlyBirdTopHolder .col-sm-7 {
      padding-right: 0;
    }

    .col-sm-5.formHolder {
      /* max-width: 354px; */
      /* margin: auto; */
      /* margin-top: -133px; */
      /* background: #fff; */
      /* padding-top: 31px; */
      /* border-radius: 10px; */
      /* -webkit-box-shadow: 0px 0px 5px 0px #00000029; */
      -moz-box-shadow: 0px 0px 5px 0px #00000029;
      /* box-shadow: 0px 0px 5px 0px #00000029; */
      /* padding-bottom : 15px; */
      /* padding-left: 30px; */
      /* padding-right: 30px; */
    }

    .padding-tb-med.corporate-customers {
      position: initial;
    }

    span.earlyBirdHeading {
      font-size: 35px;
    }

    div#earlyBirdForm .wantMoreInfoWrapper span.earlyBirdHeading p {
      font-size: 35px;
      font-family: baskerville !important;
    }

    #n_content span.earlyBirdSubHeading p {
      font-size: 13px;
      text-align: center;
    }

    #mc_embed_signup-vcp label,
    #mc_embed_signup-vcp span {
      font-size: 13px;
    }

    #mc_embed_signup-vcp span {
      text-align: center;
      font-size: 10px;
    }

    #mc_embed_signup-vcp .mc-field-group1.input-group label {
      font-size: 7px;
      padding-top: 5px;
    }

    #mc_embed_signup-vcp input[type="checkbox"] {
      width: 14px;
      height: 14px;
    }

    .mc-field-group1.input-group {
      width: 100%;
    }

    #mc_embed_signup-vcp ul {
      width: 100%;
      /* max-width: 384px; */
      margin: auto;
      margin-bottom: 10px;
    }

    #mc_embed_signup-vcp li {
      width: 100%;
      /* max-width: 250px; */
      margin: auto;
    }

    input#mc-embedded-subscribe {
      width: 100%;
      font-size: 13px;
    }

    .corporate-img img {
      margin: auto;
    }

    span.textHolder {
      font-size: 13px;
      margin-top: 15px;
      margin-bottom: 30px;
    }

    span.small21 {
      font-size: 13px;
    }

    .wantMoreInfoWrapper .col-12 {
      /* max-width: 205px; */
      margin: auto;
      float: none;
    }

    .wantMoreInfoWrapper a.buttonContact {
      width: 100%;
      padding: 10px;
      display: block;
      text-align: center;
      margin: 0;
      text-decoration: none;
      color: #fff;
      margin-bottom: 15px;
    }

    .wantMoreInfoWrapper {
      font-size: 13px;
      text-align: center;
      margin-top: 20px;
    }

    .wantMoreInfoWrapper a {
      color: #2b2b2b;
      text-decoration: underline;
      font-size: 11px;
    }

    .buttonHolder {
      margin-top: 20px;
    }

    .whyCorporateHolder {
      /* max-width: 375px; */
      border-top: #dbdbdb 1px solid;
      margin-top: 20px;
      padding-top: 30px;
    }

    span.whyCorpHeading {
      margin-top: 5px;
      font-size: 14px;
    }

    #n_content .whyCorpText p {
      font-size: 14px;
      line-height: 1.6;
    }

    .whyCorporateLeftText {
      margin-bottom: 25px;
    }
    iframe {
      max-height: 300px;
    }

    span.author {
      font-size: 54px;
      display: block;
    }

    .formHolder {
      max-width: none;
      padding: 0 30px;
    }

    .earlyBirdTopHolder .earlyBirdHeading {
      text-align: center;
    }

    span.description {
      padding-top: 15px;
      display: block;
      font-size: 28px;
    }

    #mc_embed_signup-vcp .newsletter label,
    #mc_embed_signup-vcp .newsletter input[type="checkbox"] {
      max-width: none;
    }

    #mc_embed_signup-vcp .newsletter input[type="checkbox"] {
      width: 4%;
    }

    #mc_embed_signup-vcp .newsletter label {
      width: 88%;
    }

    div#earlyBirdForm p {
      font-size: 13px;
    }

    .whyCorpoInner .vcpImgHolder {
      padding: 0 15px;
      margin-bottom: 15px;
    }

    .whyCorpText {
      text-align: center;
      margin-bottom: 30px;
    }

    .col-12.termsVCP {
      margin-top: 27px;
    }

    .wantMoreInfoWrapper .row {
      padding: 0 15px;
      margin-bottom: 25px;
    }

    img {
      width: 100%;
    }

    .whyCorpoHolder {
      max-width: 375px;
      margin-left: auto;
      margin-right: auto;
    }

    .whyCorpoName span {
      font-size: 20px;
    }
  }
</style>

<div class="earlyBirdWrapper col-12" id="earlyBirdForm">
  <div class="earlyBirdTopHolder">
    <div class="row">
      <div class="col-sm-7">
        [%SITE_VALUE id:'footer_javascript'%]
        <script>
          var tag = document.createElement("script");

          tag.src = "https://www.youtube.com/iframe_api";
          var firstScriptTag = document.getElementsByTagName("script")[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          var player;
          function onYouTubeIframeAPIReady() {
            player = new YT.Player("player", {
              videoId: "89MK3BK5Q8I",
              events: {
                onReady: onPlayerReady,
              },
            });
          }

          function onPlayerReady(event) {
            $(".play_vid").click(function () {
              event.target.playVideo();
            });
          }

          $(document).ready(function () {
            $("#player").hide();
            $(".play_vid").click(function () {
              $("#player").show();
              $(".play_vid").hide();
            });
          });
        </script>
        [%/SITE_VALUE%]

        <div id="player"></div>
        <div class="hidden hidden-lg">
          <img
            src="[%asset_url type:'content' id:'[@content_id@]-2'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%]"
            alt="[@CONTENT_EXTERNAL_REF3@]"
          />
        </div>
        <div class="visible visible-lg">
          <img
            class="play_vid"
            src="https://www.thehamperemporium.com.au/assets/image/vcpThumb1.jpg"
          />
        </div>
      </div>
      <div class="col-sm-5 formHolder1">
        <div class="entriesCLosedImgholder">
          <img
            src="[%asset_url type:'content' id:'[@content_id@]-3'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%]"
            alt="[@CONTENT_EXTERNAL_REF3@]"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="whyCorporateHolder">
    <span class="earlyBirdHeading">[@CONTENT_EXTERNAL_SRC@]</span>
    <span class="textHolder">[@content_description1@]</span>
    <span class="earlyBirdHeading">[@CONTENT_EXTERNAL_REF1@]</span>
    <div class="whyCorpoHolder">
      [%advert type:'text' category:'0' template:'' limit:'30'
      ad_group:'vcpProd'%] [%param *header%]
      <div class="whyCorpoInner">
        [%/param%] [%param *body%] [%if [@count@] == 0 or [@count@] == 2 or
        [@count@] == 4%]
        <div class="vcpLeftImg">
          <div class="row">
            <div class="col-sm-6 col-12 vcpImgHolder">
              <div class="whyCorpoImg">
                <img
                  src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%ntheme_asset%]img/default_product.gif[%/ntheme_asset%][%end param%][%/asset_url%]"
                  alt="[@headline@]"
                />
              </div>
            </div>
            <div class="col-sm-6 col-12 vcpTxtHolder">
              <div class="whyCorpText">
                <span class="whyCorpHeading">[@headline@]</span>
                <p>[@description@]</p>
                <div class="whyCorpoName">
                  <p>[@linktext@]</p>
                </div>
                <div class="linkButton">
                  <a href="[@url@]">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        [%elseif [@count@] == 1 or [@count@] == 3 or [@count@] == 5%]
        <div class="vcpRightImg">
          <div class="row">
            <div class="col-12 visible vcpImgHolder">
              <div class="whyCorpoImg">
                <img
                  src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%ntheme_asset%]img/default_product.gif[%/ntheme_asset%][%end param%][%/asset_url%]"
                  alt="[@headline@]"
                />
              </div>
            </div>
            <div class="col-sm-6 col-12 vcpTxtHolder">
              <div class="whyCorpText">
                <span class="whyCorpHeading">[@headline@]</span>
                <p>[@description@]</p>
                <div class="whyCorpoName">
                  <p>[@linktext@]</p>
                </div>
                <div class="linkButton">
                  <a href="[@url@]">Buy Now</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 hidden vcpImgHolder">
              <div class="whyCorpoImg">
                <img
                  src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%ntheme_asset%]img/default_product.gif[%/ntheme_asset%][%end param%][%/asset_url%]"
                  alt="[@headline@]"
                />
              </div>
            </div>
          </div>
        </div>

        [%/if%] [%/param%] [%param *footer%]
      </div>
      [%/param%] [%/advert%]

      <div class="col-sm-6 col-12"></div>
    </div>
  </div>
  <div class="wantMoreInfoWrapper">
    <div class="row">
      <div class="col-12">
        <span class="earlyBirdHeading">[@content_description3@]</span>
        <div class="buttonHolder">
          <a href="#earlyBirdForm" class="buttonContact">Register Now</a>
        </div>
      </div>
      <div class="col-12 termsVCP">
        <span class="termsHead">[@CONTENT_EXTERNAL_REF3@]</span>
        <span class="small21">[@content_description2@]</span>
      </div>
      <div class="col-12 topBelowHead visible-sm">
        <span
          >Enter your details below for your chance to win. Entries close 5pm
          AEDT X date.</span
        >
      </div>
    </div>
  </div>
  <div class="earlyBirdImgHolder">
    <div class="row">
      <div class="col-12">
        <a
          href="https://www.thehamperemporium.com.au/win-a-trip-to-the-yarra-valley"
        >
          <img
            src="[%asset_url type:'content' id:'[@content_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/ asset_url%]"
            alt="[@CONTENT_EXTERNAL_REF3@]"
          />
        </a>
      </div>
    </div>
  </div>
</div>
