
<div class="pontingFeatHolder">
	<div class="clearBoth"></div>
	<div class="col-sm-6 col-xs-12 imageHolderWrapper-pontingFeat">
		<div class="outerImageHolder">
			<div class="imageHolderNoBorder-pontingFeat">
				<img src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%ntheme_asset%]img/default_product.gif[%/ntheme_asset%][%end param%][%/asset_url%]" alt="[@headline@]">
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-xs-12 textHolderWrapper-pontingFeat">
		<div class="textHolder-ponting">
			<h3>[@headline@]</h3>
			<div class="narrowBorderBelowH3-pontingFeat">
				<div class="clearBoth"></div>
					<div class="smallLine"></div>
				<div class="clearBoth"></div>
			</div>
			<p class="textalignRight-pontingFeat">
				[%url_decode%]
					[%url_encode%]
						[@description@]
					[%/url_encode%]
				[%/url_decode%]
			</p>
		</div>
		<div class="pontingPriceButtonHolder">
			<div class="clearBoth"></div>
			<div class="pontingPriceFeatHolder col-xs-4">
				<span>[@linktext@]</span>
			</div>
			<div class="pontingButtonFeatHolder col-xs-8">
				<a href="[@url@]">Shop Now</a>
			</div>
			<div class="clearBoth"></div>
		</div>
	</div>
	<div class="clearBoth"></div>
</div>