<div class="clearBoth"></div>
<div class="col-sm-8 col-12 visible imageHolderWrapper-ponting">
  <div class="outerImageHolder">
    <div class="imageHolderNoBorder-ponting">
      <img
        src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%ntheme_asset%]img/default_product.gif[%/ntheme_asset%][%end param%][%/asset_url%]"
        alt="[@headline@]"
      />
    </div>
  </div>
</div>
<div class="textholder-pontingOuter">
  <div class="col-sm-8 col-12 textHolderWrapper-ponting">
    <div class="textHolder-ponting">
      <h3>[@headline@]</h3>
      <div class="narrowBorderBelowH3-ponting">
        <div class="clearBoth"></div>
        <div class="smallLine"></div>
        <div class="clearBoth"></div>
      </div>
      <p class="textalignRight-ponting">
        [%url_decode%] [%url_encode%] [@description@] [%/url_encode%]
        [%/url_decode%]
      </p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-12 hidden imageHolderWrapper-ponting">
  <div class="outerImageHolder">
    <div class="imageHolderNoBorder-ponting">
      <img
        src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%ntheme_asset%]img/default_product.gif[%/ntheme_asset%][%end param%][%/asset_url%]"
        alt="[@headline@]"
      />
    </div>
  </div>
</div>

<div class="clearBoth"></div>
